﻿
<style>
    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
<div class="row" style="background-color:white;height:50px;">
   
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet-body">
        <div>
            <h2>  {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h6> {{l('Implemention Plan Grouping')}}</h6>
        </div>
        <br />
        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="ProgramName"
                    required
                    (change)="getcostestimationyear(programd.id)">
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="getAllProgrambyid(programd.id,$event.target.value)">
                <option value="undefined" disabled selected>{{l('Select Year')}}</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>



        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Program Title :
                </td>
                <td class="col-md-3 col-lg-3">
                    {{programName}}
                </td>
                <!--<td class="col-md-3 col-lg-3"></td>
            <td class="col-md-3 col-lg-3"></td>-->
            </tr>
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Clustor Name :
                </td>
                <td *ngFor="let r of ImplementationList" class="col-md-3 col-lg-3"> {{r.locationName}}</td>

            </tr>
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Manger Name :
                </td>
                <td *ngFor="let r of ImplementationList" class="col-md-3 col-lg-3"> {{r.managerName}}</td>

            </tr>
        </table>

        <br />
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" (click)="changetab(Home)" href="#Home">Quarter 1</a></li>
            <li style="margin-left:auto"><a data-toggle="tab" (click)="changetab1(Menu1)" href="#Menu1">Quarter 2</a></li>
            <li style="margin-left:auto"><a data-toggle="tab" (click)="changetab2(Menu2)" href="#Menu2">Quarter 3</a></li>
            <li style="margin-left:auto"><a data-toggle="tab" (click)="changetab3(Menu3)" href="#Menu3">Quarter 4</a></li>
        </ul>
        <div id="accordion">

          


            <div class="container">
                <div class="tab-content">
                    <div id="Home" class="{{class}}">
                        
                       
                       
                        <div>


                            <table id="customers">
                                <thead>

                                    <tr role="row">
                                        <th> Activity</th>
                                        <th> Clustor/Village</th>
                                        <th>Sub Activity</th>
                                        <th>Assinged Field staff Name</th>
                                        <th>Unit</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q of ImplementationListquaerter1;let coe=index;">
                                    <tr>
                                        <td>
                                            {{q.activityname}}
                                        </td>
                                        <td>
                                            {{q.locatioName}}  {{q.villageName}}
                                        </td>
                                        <td>
                                            {{q.checklistItemName}}
                                        </td>
                                        <td>
                                            {{q.assignedUserName}}
                                        </td>
                                        <td>
                                            {{q.units}}
                                        </td>
                                        <td>
                                            {{q.description}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                       
                    </div>
                    <div id="customers" class="{{quarter2}}">
                        <div>
                            <table id="customers">
                                <thead>
                                    <tr role="row">
                                        <th> Activity</th>
                                        <th> Clustor/Village</th>
                                        <th>Sub Activity</th>
                                        <th>Assinged Field staff Name</th>
                                        <th>Unit</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q2 of ImplementationListquaerter2;let coee=index;">
                                    <tr>
                                        <td>
                                            {{q2.activityname}}
                                        </td>
                                        <td>
                                            {{q2.locatioName}}  {{q2.villageName}}
                                        </td>
                                        <td>
                                            {{q2.checklistItemName}}
                                        </td>
                                        <td>
                                            {{q2.assignedUserName}}
                                        </td>
                                        <td>
                                            {{q2.units}}
                                        </td>
                                        <td>
                                            {{q2.description}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            </div>
                        </div>
                    <div id="Menu2" class="{{class1}}">
                        
                               


                               

                        <table id="customers">
                            <thead>

                                <tr role="row">
                                    <th> Activity</th>
                                    <th> Clustor/Village</th>
                                    <th>Sub Activity</th>
                                    <th>Assinged Field staff Name</th>
                                    <th>Unit</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let q3 of ImplementationListquaerter3;let coe=index;">
                                <tr>
                                    <td>
                                        {{q3.activityname}}
                                    </td>
                                    <td>
                                        {{q3.locatioName}}  {{q3.villageName}}
                                    </td>
                                    <td>
                                        {{q3.checklistItemName}}
                                    </td>
                                    <td>
                                        {{q3.assignedUserName}}
                                    </td>
                                    <td>
                                        {{q3.units}}
                                    </td>
                                    <td>
                                        {{q3.description}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                             



                            
                    </div>
                    <div id="Menu3" class="{{quarter4}}">
                        

                        <table id="customers">
                            <thead>

                                <tr role="row">
                                    <th> Activity</th>
                                    <th> Clustor/Village</th>
                                    <th>Sub Activity</th>
                                    <th>Assinged Field staff Name</th>
                                    <th>Unit</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let q4 of ImplementationListquaerter4;let coe=index;">
                                <tr>
                                    <td>
                                        {{q4.activityname}}
                                    </td>
                                    <td>
                                        {{q4.locatioName}}  {{q4.villageName}}
                                    </td>
                                    <td>
                                        {{q4.checklistItemName}}
                                    </td>
                                    <td>
                                        {{q4.assignedUserName}}
                                    </td>
                                    <td>
                                        {{q4.units}}
                                    </td>
                                    <td>
                                        {{q4.description}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                                
                        </div>
                   
                </div>
            </div>

        </div>
        <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success m-3"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
    </div>
</div>
