﻿<div bsModal #ModalTaluka="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Taluka")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" name="stateId" [(ngModel)]="taluka.stateId" required>
                                    <option value="undefined" selected>{{l('Seletct State')}}</option>
                                    <option style="width:50px"
                                            class="text"
                                            *ngFor="let a of StateList | sortMy:'name'"
                                            value="{{a.id}}"
                                            (change)="StateWiseDistrict(taluka.stateID)">

                                        {{a.stateName}}
                                    </option>
                                </select>
                            </div>-->
                            <!--<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" name="stateId" [(ngModel)]="taluka.talukaId" required>
                                    <option value="undefined" selected>{{l('Seletct District')}}</option>
                                    <option style="width:50px"
                                            class="text"
                                            *ngFor="let a of district | sortMy:'name'"
                                            value="{{a.id}}">

                                        {{a.districtName}}
                                    </option>
                                </select>
                            </div>-->
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select size="1"
                                        class="form-control"
                                        name="State"
                                        [(ngModel)]="taluka.stateId"
                                        required
                                        (change)="onChangeState($event)">
                                    <option value="undefined" selected>{{l('State')}}</option>
                                    <option value="{{state.id}}" *ngFor="let state of stateList | sortMy:'stateName'">
                                        {{state.stateName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblDistrict"
                                        size="1"
                                        class="form-control"
                                        name="District"
                                        [(ngModel)]="taluka.districtId">
                                        
                                       
                                    <option value="undefined" selected>{{l('District')}}</option>
                                    <option value="{{district.id}}" *ngFor="let district of districtList | sortMy:'districtName'">
                                        {{district.districtName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text"
                                       name="districtName"
                                       placeholder="Taluka Name"
                                       class="form-control"
                                       [(ngModel)]="taluka.talukaName"
                                       required
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
