﻿<div class="row indicatorReportRow" style="background-color:white;height:50px;"></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet-body">
        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Impact Indicator Report')}}</h4>

        </div>
        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="projectReportInputDto.programId"
                    name="ProgramName"
                    required
                    (change)="OnProjectSelect($event)">
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <angular2-multiselect name="rrcInchargeManager" [data]="itemList2"
                                  [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="selectedItems2"
                                  [settings]="settings2"
                                  (onSelect)="onItemSelect2($event)"
                                  (onDeSelect)="OnItemDeSelect2($event)"
                                  (onSelectAll)="onSelectAll2($event)"
                                  (onDeSelectAll)="onDeSelectAll2($event)">
            </angular2-multiselect>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control" name="formId" [(ngModel)]="projectReportInputDto.formId" (change)="getReportDeatils($event)" required>
                <option value="undefined" selected>{{l('Select Form')}}</option>
                <option style="width:50px" class="text"
                        *ngFor="let a of ImpactIndicatorFormList"
                        [value]="a.id">
                    {{a.formName}}
                </option>
            </select>
        </div>


        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr class="row indicatorReportRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Program Title :
                </td>
                <td class="col-md-3 col-lg-3">
                    {{ProgramTitle}}
                </td>
            </tr>
            <tr class="row indicatorReportRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Village Name :
                </td>
                <td class="col-md-3 col-lg-3"> {{VillageName}}</td>

            </tr>
        </table>
        <br />

        <br />






        <br />




        <div *ngFor="let ca of GetAllResponseReportDtoList;let i=index">
            <div>
                <h5>Component Name:{{ca.freqOfOccurrence}}</h5>
        <table id="customers" *ngIf="ca.freqOfOccurrence=='Continuous' ">
                    <thead>
                        <tr role="row">
                            <th>Village</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Question</th>
                            <th>Crop</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let y of ca.answerDetails;let c=index">
                        <tr>
                            <td>
                                {{y.village}}
                            </td>
                            <td>
                                {{y.category}}
                            </td>
                            <td>
                                {{y.subcategory }}
                            </td>
                            <td>
                                {{y.question}}
                            </td>
                            <td>
                                {{y.crop}}
                            </td>
                            <td>
                                {{y.answer}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="customers" *ngIf="ca.freqOfOccurrence != 'Continuous' ">
                    <thead>
                        <tr role="row">
                            <th>Village</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Question</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let y of ca.answerDetails;let c=index">
                        <tr>
                            <td>
                                {{y.village}}
                            </td>
                            <td>
                                {{y.category}}
                            </td>
                            <td>
                                {{y.subcategory }}
                            </td>
                            <td>
                                {{y.question}}
                            </td>
                            <td>
                                {{y.answer}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>






        <br />
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


    </div>
</div>