﻿.row {
    margin-top: 5px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

hr {
    margin-top: 0px;
    margin-bottom: -40px;
}

#HeaderClass {
    margin-bottom: 0px;
    background-color: white;
    height: 30px;
}

#HeaderClass2 {
    background-color: lightblue;
    height: 30px;
    padding-top: 7px;
}

#HeaderClass3 {
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#btnSubAction {
    background-color: #01B6E6;
    color: white;
    border: none;
    float: right;
    margin-bottom: 7px;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.btn {
    color: black;
    margin-top: -5px;
    font-size: 15px;
}

#PrimeNGtable {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 15px;
}
