﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row" id="HeaderClass">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 0px 0px 10px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none" (click)="subActivityQue.show()">{{l('Sub Activity Questions Mapping')}}</button>
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none" (click)="addNewQues.show()">{{l('Add New Questions')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="FilterEmployeeText" name="Filter" placeholder="{{l('SEARCH')}}" type="text">
            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
            <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="row" style="width:100%">
        <div class="col-md-12" style="margin-top:20px;">
            <div id="accordion">
                <div class="panel-group">
                    <div class="panel panel-default" style="margin-top:10px;" *ngFor="let a of SubActQuesList;let i=index">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="btn btn-link" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{a.cheklisiteamtName}}
                                </a>
                            </h4>

                            <div class="panel-title" style="margin-left: 92%;margin-top:-35px">
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-right:20px">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="subActivityQue.show(a)"></i>
                                </a>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deletequestion(a)"></i>
                                </a>
                            </div>

                        </div>
                        <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="portlet-body">
                                <!--<div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="button" id="btnSubAction" (click)="subActionAreaModal.show()">{{l('Add New Sub Action Area')}}</button>
                                    </div>
                                </div>-->
                                <div class="primeng-datatable-container" id="HeaderClass3"
                                     [busyIf]="primengDatatableHelper.isLoading">
                                    <p-dataTable #dataTable
                                                 id="PrimeNGtable"
                                                 [value]="a.ques"
                                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                 [paginator]="false"
                                                 emptyMessage="{{l('NoData')}}"
                                                 scrollable="true"
                                                 ScrollWidth="100%"
                                                 [responsive]="primengDatatableHelper.isResponsive">

                                        <p-column field="name"
                                                  header="{{l('Question')}}"
                                                  [sortable]="false"
                                                  [style]="{'width':'200px'}"
                                                  [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                        </p-column>
                                        <!--<p-column field="EmpDetail" header="{{l('Activity')}}" [sortable]="false" [style]="{'width':'250px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                {{record.Activity}}
                                            </ng-template>
                                        </p-column>
                                        <p-column field="project" header="{{l('Created By')}}" [sortable]="false" [style]="{'width':'150px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                {{record.createdBy}}
                                            </ng-template>
                                        </p-column>
                                        <p-column field="FromDate" header="{{l('Created On')}}" [sortable]="false" [style]="{'width':'150px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                {{record.creationTime | momentFormat:'LL'}}
                                            </ng-template>
                                        </p-column>-->
                                        <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'50px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div>
                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="editActionSubActionArea(record)"></i>
                                                    </a>-->
                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deletequestion1(record)"></i>
                                                    </a>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <subActivityQue #subActivityQue (modalSave)="getAllSubActivityWithQuestions()"></subActivityQue>
    <addNewQues #addNewQues></addNewQues>
</div>

