﻿<div bsModal #ModalQuestion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("SubActivity Question Mapping")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
              
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select id="lblActionId" class="form-control" name="subActivity" [(ngModel)]="SubActQue.subActivityId" required>
                            <option value="undefined" selected>{{l('SubActivity')}}</option>
                            <option *ngFor="let a of subActivityList | sortMy:'name'"
                                    value="{{a.id}}">
                                {{a.name}}
                            </option>
                        </select>
                    </div>
                  
                   
                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                        <div class="input-icon right">
                            <angular2-multiselect [data]="itemList"
                                                  [ngModelOptions]="{standalone: true}"
                                                  [(ngModel)]="selectedItems"
                                                  [settings]="settings"
                                                  (onSelect)="onItemSelect($event)"
                                                  (onDeSelect)="OnItemDeSelect($event)"
                                                  (onSelectAll)="onSelectAll($event)"
                                                  (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>
                         
                        </div>
                    </div>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>