<style>
    .form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
        border-color: red;
    }

    .no-drop {
        cursor: no-drop;
    }
</style>
<div bsModal #myLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <!--<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mySettingsModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{l("MySettings")}}</span>
                    </h5>
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="user">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('Profile')}}" customClass="m-tabs__item">
                            <div class="form-group">
                                <label>{{l("Name")}} *</label>
                                <input #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name" required >
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>

                            <div class="form-group">
                                <label>{{l("Surname")}} *</label>
                                <input #surnameInput="ngModel" type="text" name="Surname" class="form-control" [(ngModel)]="user.surname" required >
                                <validation-messages [formCtrl]="surnameInput"></validation-messages>
                            </div>

                            <div class="form-group">
                                <label>{{l("EmailAddress")}} *</label>
                                <input #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" maxlength="256">
                                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: l('InvalidEmailAddress')}]"></validation-messages>
                            </div>
                            <div *ngIf="smsEnabled && !isPhoneNumberEmpty">
                                <div class="form-group">
                                    <label>{{l("PhoneNumber")}}</label>
                                    <div class="input-group">
                                        <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="24">

                                        <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationUnverified" class="input-group-btn">
                                            <button id="btnSmsVerification" (click)="smsVerify()" class="btn btn-primary" type="button" tooltip="{{l('YourPhoneNumberIsNotVerified')}}"><i class="fa fa-warning"></i>{{l('Verify')}}</button>
                                        </span>

                                        <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationVerified" style="display: none;" class="input-group-addon" tooltip="{{l('YourPhoneNumberIsVerified')}}">
                                            <i class="la la-check m--font-success"></i>
                                        </span>

                                        <span *ngIf="isPhoneNumberConfirmed" class="input-group-addon" tooltip="{{l('YourPhoneNumberIsVerified')}}">
                                            <i class="la la-check m--font-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!smsEnabled || isPhoneNumberEmpty">
                                <div class="form-group">
                                    <label>{{l("PhoneNumber")}}</label>
                                    <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="24">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{l("UserName")}} *</label>
                                <input #userNameInput="ngModel" type="text" [disabled]="!canChangeUserName" class="form-control" [(ngModel)]="user.userName" name="UserName" required >
                                <span class="m-form__help" *ngIf="!canChangeUserName">{{l("CanNotChangeAdminUserName")}}</span>
                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                            </div>

                            <div class="form-group" *ngIf="showTimezoneSelection">
                                <label>{{l("Timezone")}}</label>
                                <timezone-combo [(selectedTimeZone)]="user.timezone" defaultTimezoneScope="{{defaultTimezoneScope}}"></timezone-combo>
                            </div>
                        </tab>
                        <tab heading="{{l('TwoFactorLogin')}}" customClass="m-tabs__item">
                            <div>
                                <h4>
                                    Google Authenticator
                                </h4>

                                <div [hidden]="!isGoogleAuthenticatorEnabled">
                                    <div>
                                        {{l("ScanQrCodeWithYourMobileApp")}}
                                    </div>
                                    <div class="text-center">
                                        <img [src]="user.qrCodeSetupImageUrl" />
                                    </div>
                                    <small>
                                        {{l("GoogleAuthenticatorReferrerLink")}}: <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="noopener noreferrer">Google Authenticator</a>
                                    </small>
                                </div>

                                <div [hidden]="isGoogleAuthenticatorEnabled">
                                    <button type="button" class="btn blue" (click)="updateQrCodeSetupImageUrl()">{{l("Enable")}}</button>
                                </div>

                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()" [disabled]="saving">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!mySettingsModalForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>-->
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;">{{l("Add Location")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <form #Modal="ngForm" novalidate (ngSubmit)="saveLocation()" *ngIf="location!=undefined" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="m-radio">
                                    <input class="form-control"
                                           type="radio"
                                           name="PaymentPeriodType"
                                           value="2" checked
                                           (change)="checkLocationType($event)"/>
                                    {{l("RRC")}}
                                    <span></span>
                                </label>
                            </div>
                            
                            <div class="form-group">
                                <label class="m-radio">
                                    <input class="form-control"
                                           type="radio"
                                           name="PaymentPeriodType"
                                           value="4"
                                           (change)="checkLocationType($event)" />
                                    {{l("Village")}}
                                    <span></span>
                                </label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select size="1"
                                        class="form-control"
                                        name="State"
                                        [(ngModel)]="location.stateID"
                                        required
                                        (change)="onChangeState($event)">
                                    <option value="undefined" selected>{{l('State')}}</option>
                                    <option value="{{state.id}}" *ngFor="let state of stateList | sortMy:'stateName'">
                                        {{state.stateName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblDistrict"
                                        size="1"
                                        class="form-control"
                                        name="District"
                                        [(ngModel)]="location.districtId"
                                        style="display:none"
                                        (change)="onChangeDistrict($event)">
                                    <option value="undefined" selected>{{l('District')}}</option>
                                    <option value="{{district.id}}" *ngFor="let district of districtList | sortMy:'districtName'">
                                        {{district.districtName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblTaluka"
                                        size="1"
                                        class="form-control"
                                        name="Taluka"
                                        style="display:none"
                                        [(ngModel)]="location.talukaId"
                                        (change)="onChangeTaluka($event)">
                                    <option value="undefined" selected>{{l('Taluka')}}</option>
                                    <option value="{{taluka.id}}" *ngFor="let taluka of talukaList | sortMy:'talukaName'">
                                        {{taluka.talukaName}}
                                    </option>
                                </select>
                            </div>

                           

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblVillage"
                                        size="1"
                                        class="form-control"
                                        name="Village"
                                         style="display:none"
                                        [(ngModel)]="location.villageId">
                                    <option value="undefined" selected>{{l('Villages')}}</option>
                                    <option value="{{village.id}}" *ngFor="let village of villageList | sortMy:'villageName'">
                                        {{village.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput
                                       class="form-control"
                                       id="txtLocation"
                                       placeholder="Location Name"
                                      pattern="[a-zA-Z][a-zA-Z ]+"
                                       type="text"
                                       name="Name"
                                       [(ngModel)]="location.name"
                                     
                                       maxlength="255">
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                style="background-color: white; color:#01B6E6;"
                                (click)="close()">
                            {{l('CANCEL')}}
                        </button>
                        <button type="submit"
                                [disabled]="!Modal.form.valid"
                                class="btn btn-default no-drop"
                                style="background-color: #01B6E6; color:white;">
                            {{l('SAVE')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<smsVerificationModal #smsVerificationModal (modalSave)="changePhoneNumberToVerified()"></smsVerificationModal>-->