<style>
    .m-login.m-login--1 .m-login__aside {
        width: 575px;
        padding: 2rem 11rem;
        padding-left: 5em;
        padding-right: 8em;
    }
    .m-login.m-login--1 .m-login__wrapper {
        overflow: hidden;
        padding: 7% 2rem 2rem 2rem;
    }
</style>


<div [ngClass]="{'m-grid m-grid--hor m-grid--root m-page': !useFullWidthLayout(), 'm-content': useFullWidthLayout() }" [style.text-align]="useFullWidthLayout() ? 'center' : 'left'">
    <div [ngClass]="{'m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin': !useFullWidthLayout(), 'row':useFullWidthLayout()}" id="m_login">
        <div [ngClass]="{'m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside': !useFullWidthLayout(), 'col-md-12': useFullWidthLayout()}">
               <div [ngClass]="{'m-stack m-stack--hor m-stack--desktop': !useFullWidthLayout()}">
                   <div [ngClass]="{'m-stack__item m-stack__item--fluid': !useFullWidthLayout()}">
                       <div class="m-login__wrapper">     
                           
                           <tenant-change></tenant-change>
                           <router-outlet></router-outlet>
                       </div>
                       <div>                           
                       </div>
                   </div>
               </div>
           </div>           
        <div *ngIf="!useFullWidthLayout()" class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1 m-login__content" style="background-image: url(../assets/common/images/WOTRLoginScreen.png); height: 100vh">
        </div>
    </div>
</div>
<!--<div *ngIf="!useFullWidthLayout()" class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1 m-login__content offset-0 col-md-12">
    <img src="../assets/common/images/Login_right_image.svg" style="height:100%;width: 100%;">

</div>-->