﻿<div bsModal #ModalProgramCluster="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalProgramCluster"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Program Cluster")}} ({{programName}})</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-body">

                    <div class="offset-1 col-md-10 offset-1">
                        <div class=" row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">
                                    <select class="form-control"
                                            [(ngModel)]="VillageCluster.rrcid"
                                            name="RRCName"
                                            required
                                            (change)="RRcWiseManagers(VillageCluster,1)">
                                        <option value="undefined">{{l('Select RRC')}}</option>
                                        <option value="{{r.id}}" *ngFor="let r of RRcList">{{r.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="input-icon right">
                                        <angular2-multiselect name="projectManager" [data]="itemList1"
                                                              [ngModelOptions]="{standalone: true}"
                                                              [(ngModel)]="selectedItems1"
                                                              [settings]="settings1"
                                                              (onSelect)="onItemSelect1($event)"
                                                              (onDeSelect)="OnItemDeSelect1($event)"
                                                              (onSelectAll)="onSelectAll1($event)"
                                                              (onDeSelectAll)="onDeSelectAll1($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text"
                                           #nameInput
                                           class="form-control"
                                           [(ngModel)]="VillageCluster.name"
                                           id="txtCluster"
                                           placeholder="Cluster"
                                           name="txtCluster"
                                           required maxlength="255" />
                                </div>

                                <div class="form-group form-md-line-input">
                                    <div class="input-icon right">
                                        <angular2-multiselect name="rrcInchargeManager" [data]="itemList2"
                                                              [ngModelOptions]="{standalone: true}"
                                                              [(ngModel)]="selectedItems2"
                                                              [settings]="settings2"
                                                              (onSelect)="onItemSelect2($event)"
                                                              (onDeSelect)="OnItemDeSelect2($event)"
                                                              (onSelectAll)="onSelectAll2($event)"
                                                              (onDeSelectAll)="onDeSelectAll2($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">
                                    <select class="form-control"
                                            [(ngModel)]="VillageCluster.stateID"
                                            name="StateName"
                                            required
                                            (change)="StateWiseDistrict(VillageCluster.stateID)">
                                        <option value="undefined">{{l('Select State')}}</option>
                                        <option value="{{s.id}}" *ngFor="let s of stateList">{{s.stateName}}</option>
                                    </select>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <select class="form-control"
                                            [(ngModel)]="VillageCluster.districtID"
                                            name="DistrictName"
                                            required
                                            (change)="DistrictWiseTaluka(VillageCluster.districtID)">
                                        <option value="undefined">{{l('Select District')}}</option>
                                        <option value="{{d.id}}" *ngFor="let d of districtList">{{d.districtName}}</option>
                                    </select>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <!--<select class="form-control"
                                            [(ngModel)]="VillageCluster.talukaID"
                                            name="TehsilName"
                                            required
                                            (change)="TalukaWiseVillage(VillageCluster.talukaID)">
                                        <option value="undefined">{{l('Select Tehsil')}}</option>
                                        <option value="{{t.id}}" *ngFor="let t of talukaList">{{t.talukaName}}</option>
                                    </select>-->

                                  

                                    <div class="form-group form-md-line-input">
                                        <div class="input-icon right">
                                            <angular2-multiselect [data]="itemList5"
                                                                  [ngModelOptions]="{standalone: true}"
                                                                  [(ngModel)]="selectedItems5"
                                                                  [settings]="settings5"
                                                                  (onSelect)="onItemSelect5($event)"
                                                                  (onDeSelect)="OnItemDeSelect5($event)"
                                                                  (onSelectAll)="onSelectAll($event)"
                                                                  (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="input-icon right">
                                        <angular2-multiselect [data]="itemList"
                                                              [ngModelOptions]="{standalone: true}"
                                                              [(ngModel)]="selectedItems"
                                                              [settings]="settings"
                                                              (onSelect)="onItemSelect($event)"
                                                              (onDeSelect)="OnItemDeSelect33($event)"
                                                              (onSelectAll)="onSelectAll($event)"
                                                              (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                            {{l('Cancel')}}
                        </button>
                        <button type="submit" [disabled]="saving" [buttonBusy]="saving" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;">
                            <i class="fa fa-save"></i>{{l('Save')}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
