﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }


    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
    font-family: Poppins;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-family: Arial, sans-serif;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background-color: transparent;
    border: solid,0.5px,black;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}

.no-drop {
    cursor: no-drop;
}
.btn.btn-default i, .btn.btn-secondary i {
    color: white!important;
}