﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">
                <div class="col-sm-3 hrLine" align="center" (click)="funProgramInformation1()">
                    <a href="javascript:;" class="hrefLink">{{l('PROGRAM INFORMATION')}}</a><br />
                    <span class="badge">{{l('High level program details go here')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('PROGRAM CLUSTER')}}</a><br />
                    <span class="badge" id="id1">{{l('Program Cluster Mapping Area ')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" id="id3" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                    <span class="badge" id="id3">{{l('Action Area & Sub Action Area')}}</span>
                </div>
                <div class="col-sm-3" align="center">
                    <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                    <span id="id3" class="badge">{{l('Overview Of Program Cost')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
              <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;"><button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button></span>
        </div>
    </div>
    <div class="row" style="background-color:white;height:50px;">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 30px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;" (click)="ModalProgramCluster.show()">{{l('Add Program Cluster')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="txtActionArea" name="Filter" placeholder="{{l('SEARCH')}}" type="text" [(ngModel)]="searchText" (ngModelChange)="searchPC()">
            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
            <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="portlet-body">
            <div class="primeng-datatable-container">
                <div class="primeng-datatable">
                    <p-dataTable #dataTable
                                 [value]="villageClusterList"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 scrollable="true"
                                 ScrollWidth="100%"
                                 style=""
                                 responsive="primengDatatableHelper.isResponsive"
                                 resizableColumns="primengDatatableHelper.resizableColumns">
                        <p-column field="rRcName"
                                  header="{{l('Region')}}"
                                  [editable]="true"
                                  [sortable]="false"
                                  [style]="{'width':'180px','font-weight':'normal'}"
                                  [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                        </p-column>
                        <p-column field="name" header="{{l('Cluster')}}" [editable]="true" [style]="{'width':'150px'}">

                        </p-column>
                        <p-column field="stateName" header="{{l('State')}}" [sortable]="false" [style]="{'width':'150px'}">

                        </p-column>
                        <p-column field="talukaName" header="{{l('Tehsil')}}" [sortable]="false" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <ul>
                                    <li *ngFor="let t of record.talukas">{{t.talukaName}}</li>
                                </ul>

                            </ng-template>
                        </p-column>
                        <p-column field="villageName" header="{{l('Village')}}" [sortable]="false" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <ul>
                                    <li *ngFor="let v of record.villages">{{v.name}}</li>                                    
                                </ul>

                            </ng-template>
                        </p-column>
                        <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <div align="center">
                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;" (click)="ModalProgramCluster.show(record)">
                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;"></i>
                                    </a>
                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="Deleteprogramclustor(record)"></i>
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                       (onPageChange)="changePage($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;"  (click)="close()">
                    {{l('Back')}}
                </button>
                <button type="submit" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;" (click)="funProgramComponents()">
                    <i class="fa fa-save"></i>{{l('Continue')}}
                </button>
            </div>
        </div>
    </div>

</div>
<ModalProgramCluster #ModalProgramCluster (modalSave)="getAllVillageCluster()"></ModalProgramCluster>
