﻿<style>
    ::-webkit-scrollbar {
        width: 10px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        border: 1px solid #b4bcc8;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #b4bcc8;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color:  #b4bcc8;
        }
</style>

<div style="height:50vh;overflow: auto;color:#b4bcc8;">
    <div #tree></div>
</div>