﻿.ou-text {
    color: #999;

    &.ou-text-has-members {
        color: #000;

        .ou-text-member-count {
            font-weight: bold;
        }
    }
}

.jstree-wholerow .jstree-wholerow-clicked {
    color: white;
}

.jstree-default .jstree-anchor {
    line-height: 24px;
    height: 24px;
    color: white;
}

.jstree-default .jstree-wholerow-clicked {
    // background: none !important;
}

//.page-sidebar .page-sidebar-menu .sub-menu
li > a {
    color: white !important;
}
