﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }

    .hrefLink {
        font-size: 8px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}
