﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div #programComponents>
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="row">
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramInformation1()">
                        <a href="javascript:;" class="hrefLink">{{l('PROGRAM INFORMATION')}}</a><br />
                        <span class="badge">{{l('High level program details go here')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramCluster()">
                        <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM CLUSTER')}}</a><br />
                        <span class="badge" id="id3">{{l('Program Cluster Mapping Area ')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center">
                        <a href="javascript:;" id="id1" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                        <span class="badge" id="id1">{{l('Action Area & Sub Action Area')}}</span>
                    </div>
                    <div class="col-sm-3" align="center">
                        <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                        <span id="id3" class="badge">{{l('Overview Of Program Cost')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px;margin-top:20px;">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;"><button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button></span>
            </div>
        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-3 col-xs-6 col-sm-6" style="padding-bottom:10px;">

                <!--<angular2-multiselect [data]="itemList"
                                      [ngModelOptions]="{standalone: true}"
                                      [(ngModel)]="selectedItems"
                                      [settings]="setting"
                                      (onSelect)="onItemSelect($event)"
                                      (onDeSelect)="OnItemDeSelect($event)"
                                      (onSelectAll)="onSelectAll($event)"
                                      (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>-->

                <angular2-multiselect [data]="itemList"
                                      [ngModelOptions]="{standalone: true}"
                                      [(ngModel)]="selectedItems"
                                      [settings]="setting"
                                      (onSelect)="onItemSelect($event)"
                                      (onDeSelect)="OnItemDeSelect($event)"
                                      (onSelectAll)="onSelectAll($event)"
                                      (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <!--<div class="multiselect-native-select">
                    <div class="btn-group" style="width: 250px">
                        <button type="button" class="multiselect dropdown-toggle mt-multiselect btn btn-default" data-toggle="dropdown" title=" Select Members" aria-expanded="true" style="background-color: white; overflow: hidden; text-overflow: ellipsis;width: 100%;">
                            <span class="multiselect-selected-text">{{l('Select Component')}}</span>
                            <b class="caret"></b>
                        </button>


                        <ul class=" dropdown-menu" style="height: 400px;overflow-x: scroll;margin-top:200px;">
                            <li class="multiselect-item multiselect-filter" value="0">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    </span>
                                    <input class="form-control multiselect-search" type="text" placeholder="Search">
                                </div>
                            </li>
                            <li class="parent">
                                <a tabindex="0">
                                    <label class="checkbox">
                                        <input type="checkbox" name="Active1" value="Active" id="checkBox">
                                        {{l('Select All')}}
                                    </label>
                                </a>
                            </li>
                            <li class="parent" *ngFor="let component of componentList">
                                <a tabindex="0">
                                    <label class="checkbox">
                                        <input type="checkbox" name="Active1" id="checkBox" (click)="ischecked($event,component.id)">
                                        {{component.name}}
                                    </label>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>-->
            </div>




            <div class="col-lg-9 col-xs-6 col-sm-6">
                <button type="button" style="background-color:#01B6E6;color:white;border:none;width:60px;height:30px" (click)="funClick1()">{{l('Add')}}</button>
            </div>


            <!--<div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                        <div class="input-icon right">
                            <angular2-multiselect [data]="itemList"
                                                  [ngModelOptions]="{standalone: true}"
                                                  [(ngModel)]="selectedItems"
                                                  [settings]="settings"
                                                  (onSelect)="onItemSelect($event)"
                                                  (onDeSelect)="OnItemDeSelect($event)"
                                                  (onSelectAll)="onSelectAll($event)"
                                                  (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit"
                            style="background-color:#01B6E6;color:white;border:none;width: 48px; height: 30px;" (click)="funClick1()">
                        {{l('Add')}}
                    </button>
                </div>
            </div>-->
            <div class="col-lg-12 col-xs-12 col-sm-12" id="divComponent1">
                <div class="panel-group" *ngFor="let selectcomponent of componentWithActivityList; let i=index">

                    <div class="panel panel-default">
                        <div id="accordion">
                            <div class="panel-heading" style="padding-right:50px" (click)="on(selectcomponent.componetTableId)">

                                <!--<a class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">-->
                                    {{selectcomponent.componentName}}
                                <!--</a>-->

                                <a href="javascript:;" style="border:none;text-decoration: none;color:gray; float:right" (click)="deleteProgramComponent(selectcomponent.componetTableId)">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px; margin-right:-13px; margin-top:4px"></i>
                                </a>
                                <a style="border:none;text-decoration: none;color:gray; float:right" class="btn btn-link" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="on(selectcomponent.componetTableId)">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px; margin-left:20px"></i>
                                </a>


                                <!--<div class="panel-title" style="margin-left: 20%;margin-top:-35px">
        <a style="border:none;text-decoration: none;color:gray;margin-left:20px" class="btn btn-link" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="on(selectcomponent.componetTableId)">
            <i class="fa fa-pencil fa-2x" style="font-size:18px; margin-left:20px"></i>
        </a>
        <a href="javascript:;" style="border:none;text-decoration: none;color:gray;margin-left:20px" (click)="deleteProgramComponent(selectcomponent.componetTableId)">
            <i class="fa fa-trash-o fa-2x" style="font-size:18px; margin-left:20px"></i>
        </a>
    </div>-->
                                <!--<span id="span{{selectcomponent.componentName}}" style="float:right;margin-top: -19px;" class="fa fa-angle-down"></span>-->


                            </div>
                            <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="margin-bottom:20px">
                                <div class="portlet-body">
                                    <div style="padding-bottom: 10px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control"
                                                        id="txtActivity"
                                                        name="ActivityGroup{{i}}"
                                                        [(ngModel)]="addActivityToProgrameComponent.activityID"
                                                        required>
                                                    <option value="undefined" selected>{{l('Select Activity')}}</option>
                                                    <option *ngFor="let a of activityDetails | sortMy:'name'" value="{{a.id}}">{{a.name}}</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" style="background-color:#01B6E6;color:white;border:none;width: 48px; height: 30px;" (click)="AddActivity()">{{l('Add')}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primeng-datatable-container" id="HeaderClass3"
                                         [busyIf]="primengDatatableHelper.isLoading">
                                        <p-dataTable #table
                                                     [value]="selectcomponent.activity"
                                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                    
                                                     scrollable="true"
                                                     ScrollWidth="100%"
                                                     emptyMessage="{{l('NoData')}}"
                                                     [responsive]="primengDatatableHelper.isResponsive">

                                            <p-column field=""
                                                      header="{{l('Activity Name')}}"
                                                      [sortable]="false"
                                                      [style]="{'width':'200px'}"
                                                      [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.activityName}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="EmpDetail" header="{{l('Description')}}" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.activityDescri}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="project" header="{{l('Created By')}}" [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.fullName}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="FromDate" header="{{l('Created On')}}" [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.creationTime |date:'mediumDate'}}
                                                </ng-template>
                                            </p-column>

                                            <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'100px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <div align="center">

                                                        <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteProgramComponentActivity(selectcomponent.componetTableId,record.activityID)"></i>
                                                        </a>
                                                       
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>

                                        <!--<div class="primeng-paging-container">

                                            <p-paginator
                                                       
                                                       
                                                         [totalRecords]="selectcomponent.activityCount">
                                                         
                                            </p-paginator>
                                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                         #paginator
                                                         (onPageChange)="changePage($event,selectcomponent.activity)"
                                                         [totalRecords]="selectcomponent.activityCount"
                                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', selectcomponent.activityCount)}}
                                            </span>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close()" style="background-color: white;  color:#01B6E6;">
                {{l('Back')}}
            </button>
            <button type="submit" (click)="funProgramCostEstimation()" class="btn btn-default" style="background-color: #01B6E6; color:white;">
                <i class="fa fa-save"></i>{{l('Next')}}
            </button>
        </div>
    </div>
</div>
