﻿<div bsModal #addNewItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("Add New Item")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <select class="form-control"
                                                name="CheckListItem"
                                                [(ngModel)]="ImplimantationSubActivityList.checklistItemID"
                                                required>
                                            <option value="undefined" selected>{{l('Check List Item')}}</option>
                                            <option value="{{c.checklistID_subiteamTable}}" *ngFor="let c of selectedCheckListItem">{{c.cheklisiteamtName}} </option>
                                        </select>
                                    </div>
                                    <div class="form-group form-md-line-inputt">
                                        <select class="form-control"
                                                name="UnitOfmeasure"
                                                [(ngModel)]="ImplimantationSubActivityList.unitOfMeasuresID"
                                                required>
                                            <option value="undefined" selected>{{l('Unit Of Measure')}}</option>
                                            <option *ngFor="let u of unitOfMeasureList" value="{{u.id}}">{{u.name}}</option>
                                        </select>
                                    </div> 
                                    <div class="form-group form-md-line-inputt">
                                        <span>
                                            <input type="text" name="datepicker" autocomplete="off"  class="form-control" id="ProgramStartDate" placeholder="Sub Activity Item Start Date" required />
                                            <img src="../../../assets/common/images/img/Calender_Icon.svg" style="width: 26px;margin-right:8px; margin-top:-30px; float:right;" />
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <select class="form-control"
                                                name="ManagerName"
                                                [(ngModel)]="ImplimantationSubActivityList.assingUserId"
                                                required>
                                            <option value="undefined" selected>{{l('Assign To')}}</option>
                                            <option value="{{m.managerId}}" *ngFor="let m of managerList">{{m.name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input id="txtSanctionYear" [(ngModel)]="ImplimantationSubActivityList.units" type="text" name="unit" placeholder="unit" class="form-control" required maxlength="255">
                                    </div>
                                    <div class="form-group form-md-line-inputt">
                                        <span>
                                            <input type="text" name="datepicker" autocomplete="off" class="form-control" id="ProgramEndDate" placeholder="Sub Activity Item End Date" required />
                                            <img src="../../../assets/common/images/img/Calender_Icon.svg" style="width: 26px;margin-right:8px; margin-top:-30px; float:right;" />
                                        </span>  
                                    </div>
                                </div>
                            </div>
                            <textarea cols="5" name="description" style="width:100%" [(ngModel)]="ImplimantationSubActivityList.description" placeholder="Description"></textarea>
                         </div>
                        <div class="col-lg-6"></div>
                    </div>
      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                                             style="background-color: #01B6E6; color:white;width:90px;" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


