﻿<div bsModal #addQuestionaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" style="z-index: 1400;" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #projectForm="ngForm" id="form1" (ngSubmit)="approval()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("Questionary")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="scrollbar">

                        <div class="row">
                            <div class="col-sm-12">

                                <div *ngIf="status=='Approved'"><label style="font-size:16px; color: cornflowerblue;">Questionnaire Status:</label>  <span class="badge badge-pill badge-success" style="color:white">{{status}}..</span></div>
                                <div *ngIf="status=='Reject'"><label style="font-size:16px; color: cornflowerblue;">Questionnaire Status:</label> <span class="badge badge-pill badge-danger" style="color:white">{{status}}..</span></div>
                                <div *ngIf="status=='pending'"> <label style="font-size:16px; color: cornflowerblue;">Questionnaire Status:</label>  <span class="badge badge-pill badge-primary" style="color:white">{{status}}..</span></div>
                                <h6>
                                    {{this.Nodata}}
                                </h6>
                            </div>
                            <br />
                            <br />
                            
                            <div *ngFor="let item of textquestionaryList; let in=index" class="col-sm-12">
                                <div class="form-group row">
                                    <label for="name" class="col-md-3">   {{item.questionaryName}} </label>
                                    <label class="col-md-8"> {{item.answer}}</label>
                                </div>
                                <div class="row">
                                    <div class="row" *ngFor="let img of imglist;">

                                        <div class="col-sm-6">
                                            <div class="col-sm-6" id="gallery">
                                                <img class="img-responsive"
                                                     src="{{img.url}}" style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" />
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngFor="let vdosList of vdosList; let img=index">
                                        <video style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" [src]="vdosList.url" controls></video>
                                        <br />
                                    </div>


                                    <div *ngFor="let pdflist of pdflist; let img=index">
                                        <h6>
                                            <a href="{{pdflist.url}}" target="_blank">
                                                <img src="../../../assets/common/images/pdf.png" width="41px" height="42px" />pdf
                                            </a>
                                        </h6>
                                        <br />
                                    </div>

                                </div>

                                <br />
                            </div>
                            <div *ngFor="let item of checkboxquestionaryList; let in=index" class="col-sm-12">

                                <div class="form-group row">
                                    <label for="name" class="col-md-4">  {{item.questionaryName}} </label>
                                    <div  class="col-md-8">
                                        <input type="checkbox" name="{{in}}" value="{{item.answer}}" checked disabled required />

                                        <div class="row">
                                            <div class="row" *ngFor="let img of imglist1;">

                                                <div class="col-sm-6">
                                                    <div class="col-sm-6" id="gallery">
                                                        <img class="img-responsive"
                                                             src="{{img.url}}" style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngFor="let vdosList of vdosList1; let img=index">
                                                <video style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" [src]="vdosList.url" controls></video>
                                                <br />
                                            </div>


                                            <div *ngFor="let pdflist of pdflist1; let img=index">
                                                <h6>
                                                    <a href="{{pdflist.url}}" target="_blank">
                                                        <img src="../../../assets/common/images/pdf.png" width="41px" height="42px" />pdf
                                                    </a>
                                                </h6>
                                                <br />
                                            </div>

                                        </div>

                                    </div>
                                    <!--<div *ngIf="item.answer=='No' || item.answer==null">
                                        <input type="checkbox" name="{{in}}" value="{{item.answer}}" disabled required />   Record Not Available

                                    </div>-->
                                </div>
                                <br />
                            </div>

                            <div *ngFor="let item of radioquestionaryList; let in=index">

                                <div class="form-group">

                                    <div *ngIf="item.answer=='Yes'">

                                        <label for="name" class="col-md-8">  {{item.questionaryName}} </label>
                                        <input type="radio" checked name="options" value="1">Yes
                                        <input type="radio" class="col-md-2" name="options" value="2">No
                                    </div>

                                    <div *ngIf="item.answer=='No' || item.answer==null">

                                        <label for="name" class="col-md-8">  {{item.questionaryName}} </label>
                                        <input type="radio" name="options" value="1">Yes
                                        <input type="radio" class="col-md-2" checked name="options" value="2">No
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="row" *ngFor="let img of imglist2;">

                                        <div class="col-sm-6">
                                            <div class="col-sm-6" id="gallery">
                                                <img class="img-responsive"
                                                     src="{{img.url}}" style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" />
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngFor="let vdosList of vdosList2; let img=index">
                                        <video style="height:135px;border: 1px solid; width: 130px;margin-left: 0px;" [src]="vdosList.url" controls></video>
                                        <br />
                                    </div>


                                    <div *ngFor="let pdflist of pdflist2; let img=index">
                                        <h6>
                                            <a href="{{pdflist.url}}" target="_blank">
                                                <img src="../../../assets/common/images/pdf.png" width="41px" height="42px" />pdf
                                            </a>
                                        </h6>
                                        <br />
                                    </div>

                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let questionList of questionList; let in=index"></div>

                <div class="modal-footer">
                    <button type="submit"  class="btn btn-default no-drop" style="background-color: #01B6E6; color:white; " (click)="flag=0">
                        <i class="fa fa-save"></i>{{l('Approve')}}
                    </button>
                    <button type="submit"  class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="flag=1">
                        {{l('Reject')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>