﻿.scrollbar {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    float: left;
    overflow-x: hidden;
    margin-top: -14px;
}

.badge {
    font-size: 12px;
}

.modal {
    overflow: auto !important;
}

#gallery img {
    width: 300px;
    z-index: 1; /*place non-hover images behind the hover image*/
    margin: 0; /*remove default margin for images*/
    position: relative; /*solve the problem with z-index in Chrome*/
}

#gallery img:hover {
    -webkit-transform: scale(2.5 ); /*Webkit: increase size to 1.5x*/
    -moz-transform: scale(2.5 ); /*Mozilla: scaling*/
    -o-transform: scale(2.5 ); /*Opera: scaling*/
    opacity: 1; /*default opacity*/
    z-index: 10; /*place hover image in front the non-hover images*/
    display: block;
    top: 10%;
    left: 2100%;
    margin-top: -10px;
    margin-left: -2100px;
}
