﻿<div [@routerTransition]>
    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">
                <div class="col-sm-3 hrLine" align="center" (click)="funRegionSpending()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('REGION & SPENDING')}}</a><br />
                    <span class="badge">{{l('Map Component activity with action area')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()">
                    <a href="javascript:;" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                    <span class="badge">{{l('Request Project Manager for annual action paln')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                    <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('IMPLEMENTATION PLAN')}}</a><br />
                    <span id="id1" class="badge">{{l('Project Manager Create Project Plan')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                    <span class="badge">{{l('Overview Of Program Cost')}}</span>
                </div>
                <div class="col-sm-3" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT EXPENSES')}}</a><br />
                    <span class="badge">{{l('Request & allocate funds')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
            <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
            </span>
        </div>
    </div>
    <div id="accordion" *ngFor="let imp of ImplementationList;let i=index;">
        <div class="panel-heading" id="headingOne">
            <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                {{imp.locationName}}&nbsp;&nbsp;{{imp.managerName}}&nbsp;&nbsp;({{imp.programName}})
            </a>
            <span class="fa fa-angle-right" style="float:right"></span>
        </div>
        <div id="collapseOne{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:0px;margin-top:-15px">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:30px" id="yearTag" *ngFor="let c of imp.costEstimationYear;let co=index;">
                                    <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of imp.costEstimationYear;let coe=index;">
                                <div class="portlet-body">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                 [rowStyleClass]="rowClass"
                                                 class='primeNGDataTable'
                                                 [value]="c.actionSubactionCost"
                                                 [responsive]="true"
                                                 rowGroupMode="rowspan"
                                                 sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'110px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Uom')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution  Received(RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>


                                                <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Government Contribution  Received(RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>

                                                <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                            </p-row>
                                        </p-headerColumnGroup>
                                        <p-column field="actionAreaName" [style]="{'width':'130px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div class="row">
                                                    <div class="col-sm-3" *ngIf="record.actionAreaName!='' && record.subActivityandIteams.length != 0">
                                                        <img src="../../../assets/common/images/WOTR Action Dropdown icons/attachment_icon.svg" (click)="mapLocationModal.show(record.subActivityandIteams)" style="width:100%" />
                                                    </div>
                                                    <div class="col-sm-3" *ngIf="record.subActivityandIteams.length == 0"></div>
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <span class="text">{{record.activityName}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="unitOfMeasuresName" [style]="{'width':'50px' ,'text-align':'right'}"></p-column>
                                        <p-column field="totalUnits" [style]="{'width':'50px' ,'text-align':'right'}"></p-column>
                                        <p-column field="unitCost" [style]="{'width':'50px','text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.unitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="totalUnitCost" [style]="{'width':'50px','text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="communityContribution" [style]="{'width':'80px','text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="communityContributionRecived" [style]="{'width':'80px','text-align':'right'}"></p-column>
                                        <p-column field="funderContribution" [style]="{'width':'80px','text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.funderContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="governmentContributionRecived" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="otherContribution" [style]="{'width':'50px','text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="Quarter 1" styleClass="foo">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,1)" id="as">
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 2" styleClass="foo">

                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,2)">
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 3" styleClass="foo">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,3)">
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 4" styleClass="foo">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,4)">
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                    <input data-toggle="tooltip" (keyup)="UnitChange(col.field,record,1)" title="Click Here..." name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right"  *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width: 138%;height: 58px;padding-top: 1px;margin-top: -5px;margin-bottom: -5px;text-align:right" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column expander="false" field="">
                                            <ng-template let-record="rowData" pTemplate="body">

                                                <div class="btn-group dropdown" normalizePosition>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <button class="btn btn-block" (click)="saveChangedUnits(record)"><i class="fa fa-save"></i></button>
                                                        </div>
                                                        <div class="col-md-8" *ngIf="record.actionAreaName == ''">
                                                            <span>  {{record.villageName}} </span>
                                                        </div>
                                                        <div class="col-md-8" *ngIf="record.actionAreaName != '' && record.activityLevel == 'VillageLevel'">
                                                            {{record.activityLevel}}
                                                            <br />
                                                            <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                                <img src="../../../assets/common/images/Contribution_icon.svg" style="width: 30%;height: 47%;"
                                                                     (click)="ImplimentionplanCommunityContributionModal.show(record)" />
                                                            </a>
                                                        </div>
                                                        <div class="col-md-8" *ngIf="record.activityLevel != 'VillageLevel'">
                                                            <span>  {{record.activityLevel}}</span>
                                                            <br />
                                                            <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                                <img src="../../../assets/common/images/Contribution_icon.svg" style="width: 30%;height: 47%;"
                                                                     (click)="ImplimentionplanCommunityContributionModal.show(record)" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </ng-template>
                                        </p-column>

                                        <ng-template let-record="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                            <button *ngIf="QuarterName == 'Quarter 1' && imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-bottom:10px;" (click)="AddUnits(record,c.actionSubactionCost[rie].quarter1WisePlan,c.actionSubactionCost[rie])">{{l('Add New Unit')}}</button>
                                            <button *ngIf="QuarterName == 'Quarter 2' && imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-bottom:10px;" (click)="AddUnits(record,c.actionSubactionCost[rie].quarter2WisePlan,c.actionSubactionCost[rie])">{{l('Add New Unit')}}</button>
                                            <button *ngIf="QuarterName == 'Quarter 3' && imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-bottom:10px;" (click)="AddUnits(record,c.actionSubactionCost[rie].quarter3WisePlan,c.actionSubactionCost[rie])">{{l('Add New Unit')}}</button>
                                            <button *ngIf="QuarterName == 'Quarter 4' && imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-bottom:10px;" (click)="AddUnits(record,c.actionSubactionCost[rie].quarter4WisePlan,c.actionSubactionCost[rie])">{{l('Add New Unit')}}</button>

                                            <p-dataTable #contractsDT1
                                                         [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 1'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter1WisePlan" [responsive]="true" rowGroupMode="rowspan"
                                                         sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px','background-color':'#01b6e6','font-size':'20px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div>
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs"disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span>{{record.programQuarterUnitMappingStatus}}</span>
                                                        <span class="badge badge-danger" style="color:white">{{record.remainingSubActivity}}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column expander="false" field="">
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter1WisePlan[r],c.actionSubactionCost[rie])">
                                                        <button *ngIf="imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" (click)="addNewItemModal.show(c.actionSubactionCost[rie],r,c.actionSubactionCost[rie].quarter1WisePlan[r].unitId,1)" style="background-color: #01B6E6; color:white;">{{l('Add New Item')}}</button>
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable'
                                                                 [immutable]="false"
                                                                 [value]="c.actionSubactionCost[rie].quarter1WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('AchievedUnits')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="achieveUnits"></p-column>
                                                        <p-column field="subActivityStatus" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter1WisePlan[r],c.actionSubactionCost[rie]);editimplementationplan(c.actionSubactionCost[rie],record,c.actionSubactionCost[rie].quarter1WisePlan[r].unitId, 1)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteImplementationchecklist(record)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/img/question_list_1.svg" style="width:15%"
                                                                             (click)="addQuestionaryModal.show(record,imp)" />

                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 2'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter2WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px','background-color':'#01b6e6','font-size':'20px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div>
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span>{{record.programQuarterUnitMappingStatus}}</span>
                                                        <span class="badge badge-danger" style="color:white">{{record.remainingSubActivity}}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column expander="false" field="">
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter2WisePlan[r],c.actionSubactionCost[rie])">
                                                        <button *ngIf="imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" (click)="addNewItemModal.show(c.actionSubactionCost[rie],r,c.actionSubactionCost[rie].quarter2WisePlan[r].unitId,2)" style="background-color: #01B6E6; color:white;">{{l('Add New Item')}}</button>
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 [immutable]="false"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter2WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('AchievedUnits')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="achieveUnits"></p-column>
                                                        <p-column field="subActivityStatus" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter2WisePlan[r],c.actionSubactionCost[rie]);editimplementationplanquarter2(c.actionSubactionCost[rie],record,c.actionSubactionCost[rie].quarter2WisePlan[r].unitId,2)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteImplementationchecklist(record)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/img/question list.svg" style="width:15%"
                                                                             (click)="addQuestionaryModal.show(record,imp)" />

                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 3'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter3WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px','background-color':'#01b6e6','font-size':'20px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div>
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled  style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span>{{record.programQuarterUnitMappingStatus}}</span>
                                                        <span class="badge badge-danger" style="color:white">{{record.remainingSubActivity}}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column expander="false" field="">
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter3WisePlan[r],c.actionSubactionCost[rie])">
                                                        <button *ngIf="imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" (click)="addNewItemModal.show(c.actionSubactionCost[rie],r,c.actionSubactionCost[rie].quarter3WisePlan[r].unitId,3)" style="background-color: #01B6E6; color:white;">{{l('Add New Item')}}</button>
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 [immutable]="false"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter3WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('AchievedUnits')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="achieveUnits"></p-column>
                                                        <p-column field="subActivityStatus" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter3WisePlan[r],c.actionSubactionCost[rie]);editimplementationplanquarter3(c.actionSubactionCost[rie],record,c.actionSubactionCost[rie].quarter3WisePlan[r].unitId,3)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteImplementationchecklist(record)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/img/question list.svg" style="width:15%"
                                                                             (click)="addQuestionaryModal.show(record,imp)" />

                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 4'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter4WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px','background-color':'#01b6e6','font-size':'20px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div>
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" disabled  style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" (keyup)="cal(record,c.actionSubactionCost[rie])" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" disabled style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span>{{record.programQuarterUnitMappingStatus}}</span>
                                                        <span class="badge badge-danger" style="color:white">{{record.remainingSubActivity}}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column expander="false" field="">
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter4WisePlan[r],c.actionSubactionCost[rie])">
                                                        <button *ngIf="imp.managerID == appSession.userId" id="btn Click" class="btn btn-default" (click)="addNewItemModal.show(c.actionSubactionCost[rie],r,c.actionSubactionCost[rie].quarter4WisePlan[r].unitId,4)" style="background-color: #01B6E6; color:white;">{{l('Add New Item')}}</button>
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter4WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('AchievedUnits')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'background-color':'gainsboro','font-size':'10px','width':'30px'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="achieveUnits"></p-column>
                                                        <p-column field="subActivityStatus" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="GetSubActivity(c.actionSubactionCost[rie].quarter4WisePlan[r],c.actionSubactionCost[rie]);editimplementationplanquarter4(c.actionSubactionCost[rie],record,c.actionSubactionCost[rie].quarter4WisePlan[r].unitId,4)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                                                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteImplementationchecklist(record)"></i>
                                                                    </a>
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/img/question list.svg" style="width:15%"
                                                                             (click)="addQuestionaryModal.show(record,imp)" />
                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                        </ng-template>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <br>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funApproveAAPla()">
            {{l('Back')}}
        </button>
        <button type="submit" class="btn btn-default" (click)="funProjectFunds()" style="background-color: #01B6E6; color:white;">
            <i class="fa fa-save"></i> {{l('Save & Continue')}}
        </button>
    </div>

    <addNewItemModal #addNewItemModal (modalSave)="GetSubActivityUnitWise()"></addNewItemModal>
    <mapLocationModal #mapLocationModal></mapLocationModal>
    <addQuestionaryModal #addQuestionaryModal></addQuestionaryModal>
    <ImplimentionplanCommunityContributionModal #ImplimentionplanCommunityContributionModal></ImplimentionplanCommunityContributionModal>

</div>
<div bsModal #UnitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;">{{l("Add New Item")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">
                    <input [(ngModel)]="QuarterUnits.quarter1PhysicalUnits" type="text" name="unit" placeholder="unit" class="form-control" required maxlength="255" (keyup)="UnitTotalCostCal(QuarterUnits,ListOfUnits,QuarterUnits1)">
                </div>
                <div class="form-group form-md-line-input">
                    <input [(ngModel)]="QuarterUnits.quarter1FinancialRs" type="text" name="Rs" placeholder="Rs" class="form-control" required maxlength="255">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                    {{l('Cancel')}}
                </button>
                <button type="submit" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;" (click)="SaveUnits()">
                    <i class="fa fa-save"></i>{{l('Save')}}
                </button>
            </div>
        </div>
    </div>
</div>