﻿#divshadow {
    box-shadow: 0px 0px 10px 1px #888;
    border-top: solid 9px;
    border-top-color: #29ABE2;
    height:430px;
}
.panelHeading{
    background-color:gainsboro;
}
hr{
    margin-bottom:1px;
    margin-top:1px;
}
.lblHeading{
    font-family:'Times New Roman';
}
p{
    margin-left:10px;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height:100%
}
.lbl {
    padding-left: 0px;
    font-size:14px;
}
.checkbox {
    height: 23px;
    width: 18px;
}
.input[type=checkbox]::after {
    background-color:forestgreen;

}
.txtBox{ 
    border:none;
    border-bottom:0.5px solid;
    border-bottom-color:lightgray;
    margin-bottom:15px;
    width:100%;
}
.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}
