﻿<style>
    
    .scrollbar {
        width: 100%;
        height: 250px;
        overflow-y: scroll;
        float: left;
        overflow-x: hidden;
        margin-top: 15px;
    }
</style>
<div bsModal #mapLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #projectForm="ngForm" (ngSubmit)="save()" id="myform">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("Attach SubActivity")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let list of cheklist" >
                            <div class="panel" id="divshadow">
                                <div class="panelHeading" align="center">
                                    <label for="lblHeading" id="lblHeading">
                                        {{l('SubActivity Name : ')}} {{list.checklistName}}
                                    </label>
                                </div>
                                
                                <div class="panel-body">
                                    <p>
                                       {{l('Description : ')}} {{list.description}}
                                    </p>
                                    <hr />
                                    <p> {{l('SubActivity-Items')}}</p> 
                                    <div class="scrollbar">
                                        <div class="row" *ngFor="let sub of list.iteam; let in=index">
                                            <div class="col-md-2 col-sm-2 control-label" align="center">
                                                <input id="{{sub.checklistID_subiteamTable}}" value="{{sub.checklistID_subiteamTable}}" type="checkbox" class="checkbox" (change)="AddItem(list,sub,$event)"   name="{{in}}" />
                                            </div>
                                            <div class="col-md-10 col-sm-10 lbl">
                                                {{sub.cheklisiteamtName}}
                                            </div>


                                            <br />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="m-footer" align="center">
                                        <button type="submit" class="actions-btn bs-deselect-all btn blue btn-block btn-outline" style="width:100px;margin-top:0px;background-color:#01B6E6;color:white;margin-bottom:5px"><i class="fa fa-save"></i>{{l('Attach')}}</button>
                                    </div>                                  
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>