﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row" style="background-color:white;height:50px;">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 35px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;" (click)="ModalDonor.show()">{{l(' Add Funding Agency')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="FilterEmployeeText" name="Filter" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getallDoner()">

            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
            <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="portlet-body">
        <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
            <div class="primeng-datatable-container"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             (onLazyLoad)="getallDoner()"
                             [value]="donarList"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true"
                             ScrollWidth="100%"
                             style=""
                             responsive="primengDatatableHelper.isResponsive"
                             resizableColumns="primengDatatableHelper.resizableColumns">

                    <p-column field=""
                              header="{{l('Company Name')}}"
                              [sortable]="false"
                              [style]="{'width':'200px'}"
                              [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.companyName}}
                        </ng-template>
                    </p-column>
                    <p-column field="EmpDetail" header="{{l('Address')}}" [sortable]="false" [style]="{'width':'250px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.companyAddress}}
                        </ng-template>
                    </p-column>
                    <p-column field="project" header="{{l('Contact')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.companyContactNo}}
                        </ng-template>
                    </p-column>
                    <p-column field="FromDate" header="{{l('Country')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.companyAddressCountry}}
                        </ng-template>
                    </p-column>
                    <p-column field="FromDate" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <div>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="editDoner(record)"></i>
                                </a>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteDoner(record)"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div class="primeng-paging-container">
                    <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="changePage($event)"
                                 [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <ModalDonor #ModalDonor (modalSave)="getallDoner()"></ModalDonor>
</div>