﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    .SelectList {
        float: left;
        border: 1px solid gainsboro;
        width: 298px;
        height: 36px;
        border-radius: 0.25rem;
        border-color: gray;
    }
    #txtDate {
        width: 272px;
        height: 37px;
        background-color: transparent;
    }
    .hr1 {
        margin-left: -150px;
        margin-top:0px      
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    .SelectList {
        float: left;
        border: 1px solid gainsboro;
        width: 298px;
        height: 36px;
        border-radius: 0.25rem;
        border-color: gray;
    }
    #txtDate {
        width: 272px;
        height: 37px;
        background-color: transparent;
    }
    .hr1 {
        margin-left: -150px;
        
    }
}
@media only screen and (max-width: 1366px) and (min-width: 768px) {
    .SelectList {
        float: left;
        border: 1px solid gainsboro;
        width: 235px;
        height: 36px;
        border-radius: 0.25rem;
        border-color: gray;
    }
    #txtDate {
        width:210px;
        height:37px;
        background-color:transparent;
    }
    .classDate {
        width: 210px;
        height: 37px;
        background-color: transparent;
    }
    .hr1 {
        margin-left: -150px;
        

    }
}
.form-group {
    position: relative; margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    border-color: aqua;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    
}
#HeaderClass{
    padding-left:10px;
}
.form-control[readonly], .form-control {
     border-color:gray;
    color: #575962;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.form-control {
    border-color: dimgray;
    color: black;
}
.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}
table thead tr th span {
    font-weight: normal !important;
}
