﻿<div bsModal #ModalDonor="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalDonor"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #donarForm="ngForm" novalidate (ngSubmit)="save()" *ngIf="donarList!=undefined">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white"id="lblTitle">{{l("Funding Agency")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" id="HeaderClass">
                        <div class="offset-md-1 col-md-10 offset-md-1">
                            <div style="padding-bottom:15px"> 
                                <span id="lblContact">{{l('Funding Agency Details')}}</span>
                            </div>                            
                            <div class="tab-content">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <input type="text" class="form-control edited" id="companyname" placeholder="Company Name" name="name1" [(ngModel)]="donarList.companyName" required />
                                        </div>
                                        <div class="col-sm-6 form-group form-md-line-input ">
                                            <input type="text" 
                                                   class="form-control edited" 
                                                   id="companyemail" 
                                                   placeholder="Email" 
                                                   name="name2" 
                                                   [(ngModel)]="donarList.companyEmailID"
                                                   required 
                                                   pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <textarea rows="3"
                                                      id="compayadd" 
                                                      name="txtCurrentAdd1"
                                                      placeholder="Current Address" 
                                                      class="form-control" 
                                                      cols="50"
                                                      [(ngModel)]="donarList.companyAddress"
                                                      required></textarea>
                                        </div>
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <select autofocus class="form-control"
                                                    id="contry"
                                                    name="co" 
                                                     [(ngModel)]="donarList.companyAddressCountry"
                                                    required>
                                                <option value="undefined" selected>{{l('Select Country')}}</option>
                                                <option value="{{c.countryName}}"  *ngFor="let c of countrylist | sortMy:'countryName'">
                                                    {{c.countryName}} 
                                                </option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <input type="text" [maxlength]="11"
                                                   class="form-control edited"
                                                   placeholder="Contact No"
                                                   id="txtPersonalEmailId"
                                                   name="name4"
                                                   [(ngModel)]="donarList.companyContactNo" 
                                                   required 
                                                   pattern="[\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})"/>
                                        </div>

                                        <!--pattern = [\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})
                                        This is useful for finding contact numbers, or mobile numbers or phone numbers while crawling websites.
                                        Matches
                                        123-12-1233 | (02717)230464 | +919427237800 | +9427237800 | 02717-230464-->


                                        <div class="col-sm-5 form-group form-md-line-input form-md-floating-label no-hint">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <br />
                        <div style="width:100%">
                            <div class="row" style="padding-left:20px;padding-right:20px">
                                <div class="col-lg-4">
                                    <div style="padding-bottom:15px">
                                        <span id="lblContact">{{l('Contact Details 1')}}</span>
                                    </div>
                                    <div align="center">
                                        <div class="form-group">
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" 
                                                       class="form-control edited"
                                                       placeholder="Name"
                                                       id="firstName"
                                                       name="name5"
                                                       [(ngModel)]="donarList.firstName"  />
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <textarea rows="2" 
                                                          id="txtCurrntAdd" 
                                                          name="txtCurrentAdd2" 
                                                          placeholder="Current Address" 
                                                          class="form-control" 
                                                          cols="50" 
                                                          [(ngModel)]="donarList.firstAddress" >

                                                </textarea>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text"
                                                       class="form-control edited" 
                                                       placeholder="Email" 
                                                       id="firstEmailAddress" 
                                                       name="name6"  
                                                       [(ngModel)]="donarList.firstEmailAddress"  
                                                       pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$" />
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" [maxlength]="11"
                                                       class="form-control edited" 
                                                       placeholder="Contact No" 
                                                       id="firstContactNo" 
                                                       name="name7"  
                                                       [(ngModel)]="donarList.firstContactNo"  
                                                       pattern="[\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})"/>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text"
                                                       class="form-control edited" 
                                                       placeholder="Other Email Address" 
                                                       id="firstOtherEmail" 
                                                       name="name8"  
                                                       [(ngModel)]="donarList.firstOtherEmail"  
                                                       pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div style="padding-bottom:15px">
                                        <span id="lblContact">{{l('Contact Details 2')}}</span>
                                    </div>
                                    <div align="center">
                                        <div class="form-group">
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text"
                                                       class="form-control edited" 
                                                       placeholder="Name" 
                                                       id="secondName" 
                                                       name="name9" 
                                                       [(ngModel)]="donarList.secondName"  />
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <textarea rows="2"
                                                          id="txtCurrntAdd" 
                                                          name="txtCurrentAdd3" 
                                                          placeholder="Current Address" 
                                                          class="form-control" 
                                                          cols="50" 
                                                          [(ngModel)]="donarList.secondAddress" >
    
                                                </textarea>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" 
                                                       class="form-control edited" 
                                                       placeholder="Email" 
                                                       id="secondEmailAddress" 
                                                       name="name10" 
                                                       [(ngModel)]="donarList.secondEmailAddress"  
                                                       pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$"/>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text"
                                                       class="form-control edited"  [maxlength]="11"
                                                       placeholder="Contact No" 
                                                       id="secondContactNo" 
                                                       name="name11" 
                                                       [(ngModel)]="donarList.secondContactNo"  
                                                       pattern="[\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})"/>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text"
                                                       class="form-control edited" 
                                                       placeholder="Other Email Address"
                                                       id="secondOtherEmail"
                                                       name="name12"
                                                       [(ngModel)]="donarList.secondOtherEmail" 
                                                       pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div style="padding-bottom:15px">
                                        <span id="lblContact">{{l('Contact Details 3')}}</span>
                                    </div>
                                    <div align="center">
                                        <div class="form-group">
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" class="form-control edited" placeholder="Name" id="thridName" name="name13" [(ngModel)]="donarList.thridName"  />
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <textarea rows="2" id="txtCurrntAdd" name="txtCurrentAdd4" placeholder="Current Address" class="form-control" cols="50" [(ngModel)]="donarList.thridAddress" ></textarea>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" class="form-control edited" placeholder="Email" id="thridEmailAddress" name="name14" [(ngModel)]="donarList.thridEmailAddress" pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$" />
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" class="form-control edited" placeholder="Contact No" [maxlength]="11" id="thridContactNo" name="name15" [(ngModel)]="donarList.thridContactNo"  pattern="[\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})"/>
                                            </div>
                                            <div class="form-group form-group form-md-line-input no-hint">
                                                <input type="text" class="form-control edited" placeholder="Other Email Address" id="thridOtherEmail" name="name16"[(ngModel)]="donarList.thridOtherEmail"  pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit"
                            [disabled]="!donarForm.valid "   
                            [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
