﻿
<div class="row" style="background-color:white;height:50px;">


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">
        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Sanctioned Details - Overall - Activity wise')}}</h4>
        </div>       
        <br/>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="PrgramName"
                    required
                   >
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
            <br />
            <select class="form-control"
                    name="yeras"
                    required
                    (change)="getAllProgrambyid(programd.id,$event.target.value)">
                <option value="0" disabled selected>{{l('Select Year')}}</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>
        <div id="a">

            <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
                <tr style="width:100%">
                    <th style="width:30%">Program Title</th>
                    <td style="width:70%">
                        {{programName}}
                    </td>
                </tr>

                <tr style="width:100%">
                    <th style="width:30%">region spending plan cluster village wise</th>
                    <td style="width:70%"></td>
                </tr>


            </table>

            <br />






            <br />




            <div *ngFor="let ca of componentWithActivityList;let i=index">

                <div>

                    <h5>Component Name:{{ca.componentName}}</h5>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                              
                                <th>Activity</th>
                                <th>Units</th>
                                <th>Project Cost(Grant)</th>
                                <th>Project Cost CBOs</th>
                                <th>Local Contribution</th>
                                <th> Govt. Contribution</th>
                                <!--<th> Total</th>-->
                            </tr>
                        </thead>
                        <tbody *ngFor="let y of ca.costEstimationYear;let c=index">
                            <tr *ngFor="let a of y.activity;let c=index">
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.activityName}}
                                </td>
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_TotalUnits}}
                                </td>
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_UnitCost | number:'1.2-2'}}
                                </td>
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_TotalUnitCost | number:'1.2-2'}}
                                </td>
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_CommunityContribution | number:'1.2-2'}}
                                </td>
                                <td *ngIf="y.costEstimationYear=='OverAll'">
                                    {{a.programCostEstimate_FunderContribution | number:'1.2-2'}}
                                </td>
                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_OtherContribution | number:'1.2-2'}}
                                </td>
                                <!--<td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_OtherContribution | number:'1.2-2'}}
                                </td>

                                <td *ngIf="y.costEstimationYear!='OverAll'">
                                    {{a.programCostEstimate_Total}}
                                </td>-->
                            </tr>
                        </tbody>
                    </table>



                </div>



            </div>






            <br />

            <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


        </div>
    </div>
</div>

