﻿p-column{
    color:black;
    font-size:20px;

    float:left;
}

table thead tr th span {
    font-weight: normal !important;
}

.yourTableClass {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

.primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
    border: double;
}




#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e6e6e6;
    color: #212529;
}

