<style>
    .form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
        border-color: red;
    }

    .no-drop {
        cursor: no-drop;
    }

    img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: #808080;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">
                        <span *ngIf="user.id">{{l("EditUser")}}: {{user.userName}}</span>
                        <span *ngIf="!user.id">{{l("CreateNewUser")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('UserInformations')}}" customClass="m-tabs__item">
                            <div class="row">
                                <div class="col-sm-3 text-center margin-bottom-15 margin-top-15">

                                    <input #fileUpload type="file" (change)="onFileChange($event)" (click)="fileUpload.value = null" (change1)="importFile($event)" style="display:none"
                                           accept="image/*">
                                    <img [src]="profilePicture" (click)="fileUpload.click()">
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group form-md-line-input">
                                        <input #nameInput class="form-control" placeholder="First Name" type="text" name="Name" [(ngModel)]="user.name" value="{{user.name| capitalize}}" (keyup)="UserNameshow(user)" required maxlength="255">
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input type="text" placeholder="Last Name" name="surname" class="form-control" [(ngModel)]="user.surname" required value="{{user.surname| capitalize}}" (keyup)="UserNameshow(user)" maxlength="255">
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <select name="Category" id="lblROLE" class="form-control" [(ngModel)]="user.categoryId" required>
                                            <option value="0">{{l('Category')}}</option>
                                            <option value="2">{{l('Technical')}}</option>
                                            <option value="3">{{l('Agriculture')}}</option>
                                            <option value="4">{{l('Supervision')}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <select name="ActionAreas" id="lblActions" class="form-control" [(ngModel)]="user.actionId" required *ngIf="showActionDropDown" >                                           
                                            <option value="0">{{l('Select ActionArea')}}</option>
                                            <option *ngFor="let gg of ActionArealist  | sortMy:'name'" [value]="gg.id">
                                                {{gg.name | capitalize}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <input type="email"
                                       name="EmailAddress"
                                       placeholder="Email Address"
                                       class="form-control"
                                       [(ngModel)]="user.emailAddress"
                                       required maxlength="256"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text"
                                       name="PhoneNumber"
                                       placeholder="Phone Number"
                                       class="form-control"
                                       [(ngModel)]="user.phoneNumber"
                                       required
                                       maxlength="11"
                                       pattern="[\+]{0,1}(\d{10,13}|[\(][\+]{0,1}\d{2,}[\13)]*\d{5,13}|\d{2,6}[\-]{1}\d{2,13}[\-]*\d{3,13})">
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" name="Address" placeholder="Address" class="form-control" [(ngModel)]="user.address" required maxlength="500">
                            </div>
                            <div class="form-group form-md-line-input">
                                <select id="lblActionId" class="form-control" name="actionArea" [(ngModel)]="user.locationId" (change)="onchangeLocation($event)" required>
                                    <option  value="undefined" selected>{{setlocation}}</option>

                                    <option *ngFor="let g of RRClist  | sortMy:'name'" value="{{g.id}}">
                                        {{g.name | capitalize}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" [disabled]="!canChangeUserName" name="UserName" placeholder="User Name" class="form-control" [(ngModel)]="user.userName" maxlength="255">
                                <span class="help-block" *ngIf="!canChangeUserName">{{l("CanNotChangeAdminUserName")}}</span>
                            </div>
                            <div class="m-checkbox-list" style="display:none">
                                <label for="EditUser_SetRandomPassword" class="m-checkbox">
                                    <input id="EditUser_SetRandomPassword" placeholder="" type="checkbox" name="SetRandomPassword" [(ngModel)]="setRandomPassword">
                                    {{l("SetRandomPassword")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group" [hidden]="setRandomPassword">
                                <div class="right">
                                    <label>{{l("Password")}}</label>
                                    <input type="password" name="Password" #Password="ngModel" id="Password" class="form-control" [(ngModel)]="user.password" [required]="!user.id && !setRandomPassword" maxlength="255"
                                           [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                           [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                           validateEqual="PasswordRepeat" reverse="true">
                                </div>
                            </div>
                            <div [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block text-danger" *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                    <li [hidden]="!userForm.controls['Password'].errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                                </ul>
                            </div>
                            <div class="form-group" *ngIf="!setRandomPassword">
                                <div class="right">
                                    <label>{{l("PasswordRepeat")}}</label>
                                    <input type="password" name="PasswordRepeat" #PasswordRepeat="ngModel" class="form-control" [(ngModel)]="user.passwordRepeat" [required]="!user.id && !setRandomPassword" maxlength="255"
                                           [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                           [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                           validateEqual="Password" reverse="false">
                                </div>
                            </div>
                            <div [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block text-danger" *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                                </ul>
                            </div>
                            <div class="kt-checkbox-list">
                                            <label for="EditUser_IsActive" class="kt-checkbox">
                                                <input id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive">
                                                {{l("Active")}}
                                                <span></span>
                                            </label>
                                        </div>
                        </tab>
                        <tab heading="{{l('Roles')}}" customClass="m-tabs__item">
                            <ng-template tabHeading>
                                <span class="badge badge-primary">{{getAssignedRoleCount()}}</span>
                            </ng-template>
                            <div class="m-checkbox-list">
                                <label attr.for="EditUser_{{role.roleName}}" class="m-checkbox" *ngFor="let role of roles">
                                    <input id="EditUser_{{role.roleName}}" type="checkbox" name="{{role.roleName}}" [(ngModel)]="role.isAssigned" (change)="checkValue(role.roleName, role.isAssigned)">
                                    {{role.roleDisplayName}}
                                    <span></span>
                                </label>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue no-drop" style="background-color: #01B6E6; color:white;width:90px;" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>