<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>     
    <div class="row" style="background-color:white;height:55px;">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 25px">
            <button (click)="createOrEditUserModal.show()" class="btn btn-primary" *ngIf="isGranted('Pages.Administration.Users.Create')" style="background-color:#01B6E6;color:white;border:none;">{{l("Add New User")}}</button>
        </div>
      
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
         <input [(ngModel)]="filterText" name="filterText" autoFocus  placeholder="{{l('SEARCH')}}" type="text" (keyup)="getUsers()">


        <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
        <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
    </div>

    </div>
  <div style="padding-left:10px;padding-right:10px;" >   
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="portlet-body">
              <div class="row align-items-center">
                  <div class="primeng-datatable-container"
                       [busyIf]="primengDatatableHelper.isLoading">
                      <p-dataTable #dataTable
                                   (onLazyLoad)="getUsers($event)"
                                   [value]="primengDatatableHelper.records"
                                   rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                   [paginator]="false"
                                   [lazy]="true"
                                   emptyMessage="{{l('NoData')}}"
                                   scrollable="true"
                                   ScrollWidth="100%"
                                   responsive="primengDatatableHelper.isResponsive"
                                   resizableColumns="primengDatatableHelper.resizableColumns">
                          <p-column field="userName" header="{{l('UserName')}}" id="userName" [sortable]="false" [style]="{'width':'150px','font-family': 'Arial'}"></p-column>
                          <p-column field="roles" header="{{l('Roles')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  {{getRolesAsString(record.roles)}}
                              </ng-template>
                          </p-column>
                          <p-column field="actionName" header="{{l('ActionArea')}}" [sortable]="false" [style]="{'width':'250px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  {{record.actionName}}
                              </ng-template>
                          </p-column>
                          <p-column field="Category" header="{{l('Category')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  {{record.categoryId}}
                              </ng-template>
                          </p-column>
                          <p-column field="emailAddress" header="{{l('EmailAddress')}}" [sortable]="false" [style]="{'width':'250px'}"></p-column>
                          <p-column field="isActive" header="{{l('Active')}}" [sortable]="false" [style]="{'width':'100px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  <span class="label label-success" *ngIf="record.isActive">{{l('Yes')}}</span>
                                  <span class="label label-default" *ngIf="!record.isActive">{{l('No')}}</span>
                              </ng-template>
                          </p-column>
                          <p-column field="lastLoginTime" header="{{l('LastLoginTime')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  <span *ngIf="record.lastLoginTime">{{record.lastLoginTime | date:'mediumDate'}}</span>
                                  <span *ngIf="!record.lastLoginTime">-</span>
                              </ng-template>
                          </p-column>
                          <p-column field="creationTime" header="{{l('CreationTime')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  {{record.creationTime |date:'mediumDate'}}
                              </ng-template>
                          </p-column>
                          <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">
                                  <div align="center">
                                      <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                          <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="createOrEditUserModal.show(record.id)"></i>
                                      </a>
                                      <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteUser(record)"></i>
                </a>-->
                                  </div>
                              </ng-template>
                          </p-column>
                      </p-dataTable>
                      <div class="primeng-paging-container">
                          <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                       #paginator
                                       (onPageChange)="getUsers($event)"
                                       [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                       [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                          </p-paginator>
                          <span class="total-records-count">
                              {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>  
    <createOrEditUserModal #createOrEditUserModal (modalSave)="getUsers()"></createOrEditUserModal>
    <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
</div>
