﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
    .popup-close[_ngcontent-c9] {
        color: blue;
        float: right;
    }

</style>
<div [@routerTransition]>
    <div #programInformation>
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="row">
                    <div class="col-sm-3 hrLine" align="center">
                        <a href="javascript:;" id="id1" class="hrefLink">{{l('PROGRAM INFORMATION')}}</a><br />
                        <span class="badge" id="id1">{{l('High level program details go here')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center">
                        <!-- (click)="funClusters()" -->   <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM CLUSTER')}}</a><br />
                        <span class="badge" id="id3">{{l('Program Cluster Mapping Area ')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center">
                        <!-- (click)="funComponents()" --><a href="javascript:;" id="id3" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                        <span class="badge" id="id3">{{l('Action Area & Sub Action Area')}}</span>
                    </div>
                    <div class="col-sm-3" align="center">
                        <!-- (click)="funCostEstimation()" --><a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                        <span id="id3" class="badge">{{l('Overview Of Program Cost')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                    <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
                </span>
            </div>
        </div>
        <form #Modal="ngForm" (ngSubmit)="save()" *ngIf="programInfo != null" class="form-horizontal" autocomplete="off">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="ModalLabel">{{l('Program Name')}}:</span>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput id="programName" [(ngModel)]="programInfo.programName" class="form-control" placeholder="Program Name" type="text" name="programName" required value="{{programInfo.programName| capitalize}}" maxlength="255">
                            </div>
                            <span class="ModalLabel">{{l('Short Description')}}:</span>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input id="txtshortDescription" type="text" [(ngModel)]="programInfo.shortDescription" name="shortDescription" placeholder="Short Description" class="form-control" required value="{{programInfo.shortDescription| capitalize}}" maxlength="255">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-form__group">
                                <span class="ModalLabel">{{l('Description')}}:</span>
                                <p-editor [(ngModel)]="programInfo.longDescription" name="HtmlEditorInput" [style]="{'height':'150px'}"></p-editor>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span class="ModalLabel">{{l('Funding agency')}}:</span>
                                <select class="form-control"
                                        name="Funding agency"
                                        [(ngModel)]="programInfo.donorID"
                                        required>
                                    <option value="undefined">{{l('Select Funding agency')}}</option>
                                    <option *ngFor="let d of donarList" value="{{d.id}}">{{d.companyName}}</option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span class="ModalLabel">{{l('Program Manager')}}:</span>
                                <select class="form-control"
                                        name="ManagerName"
                                        [(ngModel)]="programInfo.programManagerId"
                                        (ngModelChange)="onChange($event)" required>
                                    <option value="undefined">{{l('Select Program Manager')}}</option>
                                    <option value="{{mgr.managerId}}" *ngFor="let mgr of managers">{{mgr.name}}</option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span class="ModalLabel">{{l('Sanctioned Year')}}:</span>
                                <input id="txtSanctionYear" type="text" name="actionArea" [(ngModel)]="programInfo.programSanctionedYear" placeholder="Sanctioned Year" class="form-control" required maxlength="255" pattern="[0-9]*">

                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span class="ModalLabel">{{l('Grant Amount Sanction rupess')}}:</span>
                            <!--<input id="AmountSanctionRupess" type="text" name="actionArea1" [ngModel]="programInfo.gantnAmountSanctionRupess" (ngModelChange)="record.gantnAmountSanctionRupess = $event" placeholder="Grant Amount Sanction rupess" class="form-control" required maxlength="255">-->
                                <input id="AmountSanctionRupess" type="text" name="actionArea1" [ngModel]="programInfo.gantnAmountSanctionRupess | number " (ngModelChange)="programInfo.gantnAmountSanctionRupess= $event"
                                       placeholder="Grant Amount Sanction rupess" class="form-control  ng-dirty" required maxlength="255">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <!--<a href="" style="border:none;text-decoration: none;color:#01B6E6;font-size:8pt;margin-top:25px">
                                    Can't find the doner?
                                </a>
                                <a href="javascript:;" (click)="funDonors()" style="text-decoration: none;color:#01B6E6;font-size:8pt;margin-top:25px">
                                    Click here to add
                                </a>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span>
                                    <span class="ModalLabel">{{l('Proposal Submit date')}}:</span>
                                    <input type="text" name="datepicker" class="form-control" id="ProgramSubmitDate" [(ngModel)]="programInfo.ProgramSubmitDate" placeholder="Proposal Submit date"/>
                                    <img src="../../../assets/common/images/img/Calender_Icon.svg" class="fa fa-calendar" style="width: 26px; margin-right: 4px; margin-top: -30px; float: right;"/>

                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span>
                                    <span class="ModalLabel">{{l('Proposal Approval date')}}:</span>
                                    <input type="text" name="datepicker" class="form-control" id="ProgramApprovaltDate" [(ngModel)]="programInfo.ProgramApprovaltDate" placeholder="Proposal Approval date"/>
                                    <img src="../../../assets/common/images/img/Calender_Icon.svg" class="fa fa-calendar" style="width: 26px; margin-right: 4px; margin-top: -30px; float: right;"/>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span>
                                    <span class="ModalLabel">{{l('Program Start Date')}}:</span>
                                    <input type="text" name="datepicker" class="form-control" id="ProgramStartDate" [(ngModel)]="programInfo.ProgramStartDate" placeholder="Program Start Date" />
                                    <img src="../../../assets/common/images/img/Calender_Icon.svg" class="fa fa-calendar" style="width: 26px; margin-right: 4px; margin-top: -30px; float: right;" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span>
                                <span class="ModalLabel">{{l('Program End Date')}}:</span>
                                <input type="text" name="datepicker" class="form-control" id="ProgramEndDate" [(ngModel)]="programInfo.PrgramEndDate" placeholder="Program End Date" />
                                <img src="../../../assets/common/images/img/Calender_Icon.svg" class="fa fa-calendar" style="width: 26px; margin-right: 4px; margin-top: -30px; float: right;" />
                            </span>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="offset-2 col-sm-8 offset-2">
                        <div id="divThumbnailCreate" class="col-md-12 col-sm-12" style="padding-left: 0px;">
                            <div class="col-md-12 col-sm-12 form-group" style="margin-bottom: 10px;">
                                <div class="row" style="float:left;margin-left:5px;cursor:pointer;">
                                    <span>Select icon</span>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="slider" style="float:left;">
                                            <a class="control_next"> > </a>
                                            <a class="control_prev"> < </a>
                                            <ul>
                                                <li *ngFor="let ima of imageArray">
                                                    <img id="{{im.Id}}" *ngFor="let im of ima" src="{{im.I}}" (click)="onImageClick(im.I)" (mouseenter)="changeImage11(im.Id,im.H)" (mouseleave)="changeImage11(im.Id,im.I)" class="slider-icon" />
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="more-icon" style="float:left;" data-toggle="modal" data-target="#myModal">More icons</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 form-group" style="margin-bottom: 10px;">
                                <canvas id="cvsTile" height="130" width="250" style="border:1px solid; border-color:#6c50a2; background-color:transparent;font-family:LatoRegular;"></canvas>
                            </div>

                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog" style="width: 950px !important; ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="close popup-close" style="color:#0275d8" data-dismiss="modal">x</h4>
                                        </div>
                                        <div style="height:420px;overflow-y:scroll;width:100%">
                                           
                                                <div *ngFor="let ima of imageArray" style="margin-top:4%">
                                                    <img id="{{im.Id}}" *ngFor="let im of ima" src="{{im.I}}" (click)="onImageClick(im.I)" (mouseenter)="changeImage11(im.Id,im.H)" (mouseleave)="changeImage11(im.Id,im.I)" class="slider-icon" />

                                                </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                    {{l('Cancel')}}
                </button>
                <button type="submit" [disabled]="!Modal.form.valid" class="btn btn-default no-drop " style="background-color: #01B6E6; color:white;">
                    <i class="fa fa-save "></i>{{l('Save & Continue')}}
                </button>
            </div>
        </form>
    </div>
</div>
