﻿<style>
    #RRCchartdivModal {
        height: 500px;
        /*width: 275%;*/
    }
</style>

<div bsModal #Actualvsexpense="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="summaryModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%" *ngIf="type==1">
                        Staff List
                    </h4>
                    <h4 class="modal-title" style="width:95%" *ngIf="type==2">
                        Project Manager List
                    </h4>
                    <h4 class="modal-title" style="width:95%">
                        Physical Vs Actual performance in year
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto; height: 40em; overflow-y: auto; overflow-wrap:break-word;">
                    <p-dataTable #dataTable [value]="data" *ngIf="type==1">
                        <p-column field="staff_Name" header="Name" [sortable]="false"></p-column>
                        <p-column field="emailAddress" header="Email Address" [sortable]="false"></p-column>
                        <p-column field="mobileNumber" header="Mobile Number" [sortable]="false"></p-column>
                        <p-column field="designation" header="Designation" [sortable]="false"></p-column>
                    </p-dataTable>
                    <p-dataTable #dataTable [value]="data" *ngIf="type==2">
                        <p-column field="projectName" header="Project Name" [sortable]="false"></p-column>
                        <p-column field="projectManagerName" header="Project Manager Name" [sortable]="false"></p-column>
                    </p-dataTable>
                    <div class="col-md-12">
                        <!--<p-chart *ngFor="let line of data.programManagerBarChart" (click)="ProjectWiseBarChartModals.show(data)" type="bar" [data]="line"></p-chart>-->
                        <!--<p-chart (click)="ProjectWiseBarChartModals.show(line)" type="bar" [data]="dataZ"></p-chart>-->

                        <div id="RRCchartdivModal">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <yearWiseAchievement #yearWiseAchievementmodals></yearWiseAchievement>
</div>