﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>


<div class="row" style="background-color:white;height:50px;">

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">



        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Project wise santioned details')}}</h4>


        </div>




        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="getAllProgramdetail($event.target.value)">
                <option [ngValue]="undefined" disabled selected>Select Year</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body">
                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <!--<div class="primeng-datatable">-->
                    <p-dataTable #dataTable
                                 
                                 [value]="Record"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 responsive="primengDatatableHelper.isResponsive">


                        <p-column field="programName" header="{{l('Project Title')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                {{record.programName}}
                            </ng-template>
                        </p-column>
                        <p-column field="donorName" header="{{l('Donor Name')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                {{record.donorName}}
                            </ng-template>
                        </p-column>


                        <!--<p-column field="gantnAmountSanctionRupess" header="{{l('Project Cost (Grant) ')}}" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.gantnAmountSanctionRupess}}
                            </ng-template>
                        </p-column>-->


                        <p-column field="totalFunderCost" header="{{l('Project Cost (CBOS) ')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.totalFunderCost | number:'1.2-2'}}
                            </ng-template>
                        </p-column>
                        <p-column field="totalCommunityCost" header="{{l('LocalContribution  ')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.totalCommunityCost | number:'1.2-2'}}
                            </ng-template>
                        </p-column>
                        <p-column field="totalotherCost" header="{{l('GovContribution  ')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.totalotherCost | number:'1.2-2'}}
                            </ng-template>
                        </p-column>

                        <p-column field="allTotal" header="{{l('Total  ')}}" [editable]="true" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.allTotal | number:'1.2-2'}}
                            </ng-template>
                        </p-column>





                    </p-dataTable>

                    <!--</div>-->
                </div>
            </div>
        </div>


        <br />

        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>
</div>
