﻿<div class="row applaDetailsRow" style="background-color:white;height:50px;"></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet-body">
        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Status of the Annual Action Plan Approval')}}</h4>

        </div>
        <br/>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="ProgramName"
                    required
                    (change)="getcostestimationyear(programd.id)">
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    (change)="getAllProgrambyid(programd.id,$event.target.value)">
                <option value="undefined" disabled selected>{{l('Select Year')}}</option>
                <option value="{{a}}" *ngFor="let a of Year">{{a}}</option>
            </select>
        </div>



        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr class="row applaDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Program Title :
                </td>
                <td class="col-md-3 col-lg-3">
                    {{programName}}
                </td>
                <!--<td class="col-md-3 col-lg-3"></td>
            <td class="col-md-3 col-lg-3"></td>-->
            </tr>
            <tr class="row applaDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Clustor Name :
                </td>
                <td *ngFor="let r of requestList" class="col-md-3 col-lg-3"> {{r.locationName}}</td>

            </tr>
            <tr class="row applaDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Manager Name :
                </td>
                <td *ngFor="let r of requestList" class="col-md-3 col-lg-3"> {{r.managerName}}</td>

            </tr>
        </table>
        <br />


        <div id="accordion">
            <div class="mainAccordion" *ngFor="let r of requestList;let i=index;">
                <div class="panel-heading" id="headingOne">
                    <div class="row applaDetailsRow">
                        <div class="col-sm-3">
                            <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                {{r.locationName}}&nbsp;&nbsp;{{r.managerName}}
                            </a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                            <div class="tabbable-line" style="background-color:white">
                                <ul class="nav nav-tabs">
                                    <li class="active" style="margin-left:0px" id="yearTag" *ngFor="let c of r.costEstimationYear;let co=index;">
                                        <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true"><h4>{{c.costEstimationYear}}</h4> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                                    <div class="col-sm-3" style="margin-top: -10px;margin-left: -16px;">
                                        <span class="badge badge-danger" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>
                                        <span class="badge badge-danger" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>
                                        <span class="badge badge-danger" *ngIf="c.requestStatus =='Approved'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>

                                    </div>

                                    <br />
                                    <div class="portlet-body">
                                        <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                     [value]="c.actionSubactionCost" [responsive]="true" rowGroupMode="rowspan"
                                                     sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                            <p-headerColumnGroup>
                                                <p-row>
                                                    <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                    <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                </p-row>
                                                <p-row>
                                                    <p-column header="{{l('(Units)')}}"></p-column>
                                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                                    <p-column header="{{l('(Units)')}}"></p-column>
                                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                                    <p-column header="{{l('(Units)')}}"></p-column>
                                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                                    <p-column header="{{l('(Units)')}}"></p-column>
                                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                                </p-row>
                                            </p-headerColumnGroup>
                                            <p-column field="actionAreaName" [style]="{'width':'100px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <!--<span class="text">{{record.actionAreaName}}</span>
                                                <span class="text">-{{record.subActionAreaName}}</span>-->
                                                    <span class="text">{{record.activityName}}</span>
                                                </ng-template>
                                            </p-column>

                                            <p-column field="totalUnits" [style]="{'width':'50px'}"></p-column>
                                            <p-column field="unitCost" [style]="{'width':'50px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.unitCost | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="totalUnitCost" [style]="{'width':'50px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.totalUnitCost | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="communityContribution" [style]="{'width':'80px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.communityContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="funderContribution" [style]="{'width':'80px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.funderContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="otherContribution" [style]="{'width':'50px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.otherContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>

                                            <p-column field="quarter1PhysicalUnits">

                                            </p-column>
                                            <p-column field="quarter1FinancialRs">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.quarter1FinancialRs | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="quarter2PhysicalUnits">

                                            </p-column>
                                            <p-column field="quarter2FinancialRs">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.quarter2FinancialRs | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="quarter3PhysicalUnits">

                                            </p-column>
                                            <p-column field="quarter3FinancialRs">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.quarter3FinancialRs | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="quarter4PhysicalUnits">

                                            </p-column>
                                            <p-column field="quarter4FinancialRs">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.quarter4FinancialRs | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>



                                        </p-dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>
</div>
