﻿/*#gragDrop {
    border: dotted;
    background-color: lightgray;
    height: 100px;
    border-color: gray;
}
.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}*/












a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
    font-family: Poppins;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-family: Arial, sans-serif;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background-color: transparent;
    border: solid,0.5px,black;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}

.no-drop {
    cursor: no-drop;
}

.ui-datepicker-trigger ui-calendar-button ng-tns-c5-1 ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ng-star-inserted {
    background-color: white;
    color: gray;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.slider-icon {
    width: 18%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-icon:hover {
    background-color: #f15d43;
}

.more-icon-list {
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 5px;
}

.more-icon-list:hover {
    cursor: pointer;
    background-color: #f15d43;
    border-radius: 6px;
}

.more-icon {
    margin-top: 25px;
    color: orangered;
    font-size: smaller;
    padding-left: 10px;
}

.more-icon:hover {
    cursor: pointer;
}

.popup-close {
    color: red;
    float: right;
}

.pointerNone {
    pointer-events: none;
}

.popup-close:hover {
    cursor: pointer;
}

.slider-icon:hover {
    background-color: #01B6E6;
}

#slider, #sliderBadges, #sliderCertificate {
    position: relative;
    overflow: hidden;
    margin: 0 auto 0 auto;
    border-radius: 1px;
    border: 1px solid #cecfd1;
}

.Completionslider {
    height: 150px;
}

.Badgeslider {
    height: 75px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 40px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 0%;
    z-index: 999;
    display: block;
    padding: 5% 2%;
    width: auto;
    height: auto;
    background: #e7e8e9;
    color: #828386;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    /*opacity: 0.8;*/
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 0 0 0;
}

a.control_next {
    right: 0;
    border-radius: 0 0 0 0;
}

#divTileColorPicker > color-picker > div > div > input[type="text"] {
    border: 1px solid #f1f1f1;
}

#divTextColorPicker > color-picker > div > div > input[type="text"] {
    padding: 0 !important;
    border: 1px solid #f1f1f1;
}

#divTextColorPicker > color-picker > div {
    padding-left: 2px !important;
}


