﻿
<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
        display: block;
    }

    Style Attribute {
        font-size: 8px;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: deepskyblue;
        margin-top: 20px;
        margin-left: 10px;
    }

    .scrollbar {
        width: 100%;
        height: 800px;
        overflow-y: scroll;
        float: left;
        overflow-x: hidden;
        margin-top: -14px;
    }
</style>
<div bsModal #ProjectExpensesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ProjectExpensesModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <!--<div class=" scrollbar">-->
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content" style="width:125% !important">
            <form #Modal="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Expenses")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body" style="margin-top:-20px; margin-bottom:-20px">
                    <div align="center">

                    </div>
                    <hr style="margin-left: -24px;margin-right: -26px;" />

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" placeholder="Expense Title" type="text" name="expenseTitle" [(ngModel)]="expenses.expenseTitle" required>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select *ngIf="!flag" class="form-control"
                                        name="cheklisiteamtName"
                                        [(ngModel)]="expenses.mapSubActivityIteamsToImplementionPlanID">
                                    <option value="undefined" selected>{{l('Select Check List Item')}}</option>
                                    <!--<option >{{ expenses.subActivityName}}</option>-->
                                    <option *ngFor="let sub of selectedCheckListItem " value="{{sub.id}}">{{sub.cheklisiteamtName}}</option>
                                </select>
                                <select *ngIf="flag" class="form-control"
                                        name="cheklisiteamtName" disabled="true">
                                    <option value="undefined" selected>{{expenses.activityName}}</option>
                                </select>
                                <!--<input type="text"  name=""/>-->
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control"
                                        name="typeName"
                                        [(ngModel)]="expenses.expensesTypeID">
                                    <option value="undefined" selected>{{l('Select Expense Type')}}</option>
                                    <option *ngFor="let e of ExpenseType" value="{{e.id}}">{{e.typeName}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group form-md-line-input col-sm-4">
                                    <select class="form-control"
                                            name="Measure"
                                            [(ngModel)]="expenses.unitOfMeasuresID">
                                        <option value="undefined" selected>{{l('Unit Of Measure')}}</option>
                                        <option *ngFor="let u of unitOfMeasureList" value="{{u.id}}">{{u.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" placeholder="Units" type="text" name="Unit" [(ngModel)]="expenses.unit" required>
                                </div>
                                <div class="form-group form-md-line-input col-sm-4">
                                    <select class="form-control"
                                            name="Manager"
                                            [(ngModel)]="expenses.creatorUserId">
                                        <option value="undefined" selected>{{l('Manager')}}</option>
                                        <option value="{{expenses.creatorUserId}}">{{managerName}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <span>
                                    <input type="text" name="datepicker" class="form-control" id="ExpenseDate" [(ngModel)]="expenses.expenseDate" placeholder="Expense Date" required />
                                    <i class="fa fa-calendar" aria-hidden="true" style="width: 26px;margin-right:4px; margin-top:-30px; float:right;"></i>
                                </span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" id="amountinput" placeholder="{{l('Amount In Rs')}}" type="text" name="AMOUNT" [(ngModel)]="expenses.amount" (change)=" AmountCheck($event.target.value,$event)" required>

                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <textarea class="form-control" id="txtRemark" name="remark" placeholder="Remark" [(ngModel)]="expenses.remark" rows="4"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <label style="margin-left:18px" class="control-label">Upload File</label>


                                <div class="row" style="margin-left:18px;border: 1px solid lightgray;width:614px;">

                                    <div class="form-group m-form__group">
                                        <label style="color: white;" class="custom-file-upload">
                                            <input type="file" ng2FileSelect [uploader]="uploader" accept=".png, .jpg, .jpeg" required multiple>
                                            Choose File
                                        </label>
                                        <!--<button type="button" class="btn btn-success btn-xs" style="margin-top: 10%;margin-left: 8%;">
                                            <span class="glyphicon glyphicon-upload"></span> Choose File
                                        </button>-->
                                    </div>
                                </div>
                                <div class="row" style="margin-left:18px;border: 1px solid lightgray;width:614px;">
                                    <div class="col-md-6" style="margin-top: 13px;margin-bottom: 10px;">
                                        <div class="col-md-6" *ngFor="let images of myFiles">
                                            <img src="{{images.image}}" style="width:100%" />
                                            <label>{{images.name}}</label>
                                            <button class="btn" type="button" (click)="removeFile(images.id, images, myFiles)"><i class="fa fa-trash"></i>Remove</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>


                    <button type="submit" [disabled]="!Modal.form.valid" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;">
                        <i style="color: white" class="fa fa-save"></i>{{l('Save & Continue')}}
                    </button>

                </div>
            </form>
            <div class="primeng-datatable-container width-percent-100" style="width:100%">
                <div class="primeng-datatable">
                    <p-dataTable #dataTable
                                 (onLazyLoad)="GetExpenseAsPerProgramID($event)"
                                 [value]="getExpenses"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 scrollable="true"
                                 ScrollWidth="100%" expandableRows="true"
                                 [style]="{'font-size': '10px'}"
                                 [rowsPerPageOptions]="[5,10,20]">
                         <!--responsive="primengDatatableHelper.isResponsive"-->

                        <p-column field="expenseTitle" header="{{l('Expense Title')}}" [editable]="true"
                                  [style]="{'width':'50px','font-weight':'normal','font-size':'9px'}"
                                  [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">
                        </p-column>
                        <p-column field="expenseDate " header="{{l('Expense Date')}}" [editable]="true" [style]="{'width':'50px','font-size':'9px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.expenseDate| date:'shortDate' }}
                            </ng-template>
                        </p-column>
                        <p-column field="subActivityName" header="{{l('CheckList Item')}}" [style]="{'width':'100px','font-size':'9px'}">

                        </p-column>
                        <p-column field="amount" header="{{l('Amount in Rs')}}" [style]="{'width':'40px','font-size':'9px'}">

                        </p-column>
                        <p-column field="expensesTypeName" header="{{l('Expense Type')}}" [style]="{'width':'70px','font-size':'9px'}">

                        </p-column>
                        <p-column field="status" header="{{l('Status')}}" [style]="{'width':'40px','font-size':'9px'}">

                        </p-column>
                        <p-column field="remark" header="{{l('Remarks')}}" [style]="{'width':'60px','font-size':'9px'}">

                        </p-column>
                        <!--<p-column field="b" header="{{l('Edit / Delete')}}" [sortable]="false" [style]="{'width':'130px','font-size':'9px'}">
        <ng-template let-record="rowData" pTemplate="body">

        </ng-template>

    </p-column>-->

                        <p-column expander="false" field="a" header="{{l('Action')}}" [style]="{'width':'140px','font-size':'9px'}">
                            <ng-template let-record="rowData" let-rie="rowIndex" pTemplate="body">
                                <div class="tabbable-line" style="float: right;margin-top: -5px;">
                                    <button id="btnEdit" style="color:grey" name="btnEdit" class="btn " (click)="Edit(record)"><i class="fa fa-pencil"></i></button>
                                    <button id="btnDelete" style="color:grey" name="btnDelete" class="btn " (click)="delete(record)"><i class="fa fa-trash"></i></button>
                                    <button *ngIf="record.status == 'Pending' || record.status == 'Approved'" id="btn1" name="button1" class="btn btn-outline-success" style="width:44px;margin-left:0px;font-size:8pt;padding-left: 0px;" (click)="StatusClick(record,2)">{{l('Approve')}}</button>
                                    <button *ngIf="record.status == 'Pending' || record.status == 'Reject'" id="btn2" name="button2" class="btn btn-outline-danger" style="width:44px;margin-left:0px;font-size:8pt;padding-left: 0px;" (click)="StatusClick(record,3)">{{l('Reject')}}</button>

                                </div>
                            </ng-template>
                        </p-column>
                        <ng-template let-record="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                            <div class="btn-group dropdown" normalizePosition>
                                <div class="row">
                                    <br />
                                    <div *ngIf="getExpenses[rie].expensesimage.length != 0">
                                        <img data-toggle="modal" [attr.data-target]="'#' + i.id" *ngFor="let i of getExpenses[rie].expensesimage" class="img-responsive" style="height:400px;border: 1px solid; width:380px;" [src]="i.image" />

                                        <!--<ngx-image-zoom [thumbImage]=i.image *ngFor="let i of getExpenses[rie].expensesimage"
                                    [fullImage]=i.image [magnification]="4"
                                    [enableScrollZoom]="true"
                                    [enableLens]="true"
                                    [lensWidth]="200" [zoomMode]='hover'></ngx-image-zoom>-->
                                    </div>

                                    <div *ngFor="let i of getExpenses[rie].expensesimage;let in=index" id="{{i.id}}" class="modal fade" role="dialog" style="z-index: 1600; position:relative">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                                                    <h4 class="modal-title" style="color:white;">{{l("Expenses")}}</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body" style="width: 499PX;height: 400px;">
                                                    <img class="img-responsive" style="height:100%;border: 1px solid; width: 100%;margin-left: 0px;" [src]="i.image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataTable>

                    <!--<div class="primeng-no-data" *ngIf="primengDatatableHelper.totalRecordsCount == 0">
                        No Data
                    </div>-->
                    <div class="primeng-paging-container">
                        <p-paginator [rows]="primengDatatableHelper.defaultRecordsCountPerPage"
                                     #paginator
                                     (onLazyLoad)="GetExpenseAsPerProgramID($event)"
                                     (onPageChange)="GetExpenseAsPerProgramID($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">

                        </p-paginator>
                        <span class="total-records-count">
                            TOT:  {{primengDatatableHelper.totalRecordsCount}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>


