﻿
<style>
    table thead tr th span {
        font-weight: normal !important;
    }

      .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
        display: block;
    }

    Style Attribute {
        font-size: 8px;
    }
    input[type="file"] {
        display: none;

    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: deepskyblue;
        margin-top: 10px;
        margin-left: 10px;
    }
    .scrollbar {
        width: 100%;
        height: 800px;
        overflow-y: scroll;
        float: left;
        overflow-x: hidden;
        margin-top: -14px;
    }
</style>
<div bsModal #ProjectExpensesCommunityContributionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ProjectExpensesCommunityContributionModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class=" scrollbar">
        <div class="modal-dialog modal-lg modalClass">
            <div class="modal-content" style="width:125% !important">
                <form #Modal="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header" style="background-color: #01B6E6; color:white;">
                        <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Community Contribution")}}</h4>
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </div>
                    <div class="modal-body" style="margin-top:-20px; margin-bottom:-20px">
                        <div align="center">
                        </div>
                        <hr style="margin-left: -24px;margin-right: -26px;" />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" placeholder="Funder Contribution" type="text" name="expenseTitle" [(ngModel)]="expenses.expenseTitle" required>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                            {{l('Cancel')}}
                        </button>


                        <button type="submit" [disabled]="!Modal.form.valid" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;">
                            <i class="fa fa-save"></i>{{l('Save & Continue')}}
                        </button>

                    </div>
                </form>

                

            </div>

        </div>
    </div>
</div>


