﻿<div>
    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">
                <div class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                    <span class="badge">{{l('Request Project Manager for annual action paln')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                    <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funImplementationPlan()">
                    <a href="javascript:;" class="hrefLink">{{l('IMPLEMENTATION PLAN')}}</a><br />
                    <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funProjectFund()">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                    <span class="badge">{{l('Overview Of Program Cost')}}</span>
                </div>
                <div class="col-sm-3" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('PROJECT EXPENSES')}}</a><br />
                    <span id="id1" class="badge">{{l('Request & allocate funds')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
            <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
            </span>
        </div>
    </div>
    <div id="accordion" *ngFor="let imp of ImplementationList;let i=index;">
        <div class="panel-heading" id="headingOne">
            <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                {{imp.locationName}}&nbsp;&nbsp;{{imp.managerName}}&nbsp;&nbsp;({{imp.programName}})
            </a>
            <span class="fa fa-angle-right" style="float:right"></span>
        </div>
        <div id="collapseOne{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:0px;margin-top:-15px">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:30px" *ngFor="let c of imp.costEstimationYear;let co=index;">
                                    <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of imp.costEstimationYear;let coe=index;">
                                <div class="portlet-body">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                 [rowStyleClass]="rowClass"
                                                 class='primeNGDataTable'
                                                 [value]="c.actionSubactionCost"
                                                 [responsive]="true"
                                                 rowGroupMode="rowspan"
                                                 sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'110px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Uom')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution  Received(RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>

                                                <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>


                                                <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                            </p-row>
                                        </p-headerColumnGroup>
                                        <p-column field="actionAreaName" [style]="{'width':'130px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div class="row">
                                                    <div class="col-sm-3" *ngIf="record.actionAreaName!=undefined && record.subActivityandIteams.length != 0">
                                                        <img src="../../../assets/common/images/WOTR Action Dropdown icons/attachment_icon.svg" (click)="mapLocationModal.show(record.subActivityandIteams)" style="width:100%" />

                                                    </div>
                                                    <div class="col-sm-3" *ngIf="record.subActivityandIteams.length == 0">
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <span class="text">{{record.activityName}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="unitOfMeasuresName" [style]="{'width':'50px'}"></p-column>
                                        <p-column field="totalUnits" [style]="{'width':'50px'}"></p-column>
                                        <p-column field="unitCost" [style]="{'width':'50px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.unitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="totalUnitCost" [style]="{'width':'50px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="communityContribution" [style]="{'width':'80px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="communityContributionRecived" [style]="{'width':'80px'}"></p-column>

                                        <p-column field="funderContribution" [style]="{'width':'80px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.funderContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="otherContribution" [style]="{'width':'50px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="Quarter 1">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,0)">
                                                    <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                    <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 2">

                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,1)">
                                                    <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                    <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 3">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,2)">
                                                    <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                    <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="Quarter 4">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <div (click)="DivideUnits(col.field,record,3)">
                                                    <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                    <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>

                                        <p-column expander="false" field="">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div normalizePosition>

                                                    <div class="row">
                                                        <div class=" col-md-6" *ngIf="record.actionAreaName == undefined">
                                                            <span>  {{record.villageName}} </span>
                                                            <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-right: 67px;">
                                                                <img src="../../../assets/common/images/Contribution_icon.svg" style="width: 30%;height: 47%;margin-left: 92px;margin-top: -52%;"
                                                                     (click)="ProjectExpensesCommunityContributionModal.show(record)" />
                                                            </a>
                                                        </div>
                                                        <div class=" col-md-5" *ngIf="record.actionAreaName != undefined && record.activityLevel == 'VillageLevel'">
                                                            {{record.activityLevel}}
                                                        </div>
                                                        <div class=" col-md-6" *ngIf="record.activityLevel != 'VillageLevel'">
                                                            <span>  {{record.activityLevel}}</span>
                                                            <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-right: 67px;">
                                                                <img src="../../../assets/common/images/Contribution_icon.svg" style="width: 30%;height: 47%;margin-left: 92px;margin-top: -52%;"
                                                                     (click)="ProjectExpensesCommunityContributionModal.show(record)" />
                                                            </a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-column>

                                        <p-footerColumnGroup>
                                            <p-row>
                                                <p-column footer="Sub Total:"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer="{{c.subTotalTotalunits | number:'1.2-2'}}"></p-column>
                                                <p-column footer="{{c.subTotalUnitCost | number:'1.2-2'}}"></p-column>
                                                <p-column footer="{{c.subTotalofTotalCost | number:'1.2-2'}}"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                            </p-row>
                                        </p-footerColumnGroup>

                                        <ng-template let-record="rowData" let-rie="rowIndex" pTemplate="rowexpansion">

                                            <p-dataTable #contractsDT1
                                                         [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         id="LabelDisplay"
                                                         *ngIf="QuarterName == 'Quarter 1'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter1WisePlan" [responsive]="true"
                                                         rowGroupMode="rowspan" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div (click)="DivideUnits(col.field)">
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">

                                                </p-column>
                                                <p-column expander="false" field="">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <a href="javascript:" class="pr-5" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-check-square-o fa-2x" style="font-size:18px;" (click)="completeActivity(record)"></i>
                                                        </a>
                                                    </ng-template>
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12"></div>
                                                    <br />
                                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter1WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Description')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="description" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit(record,imp)"></i>
                </a>-->
                                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                </a>-->

                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/Wallet_Icon.svg" style="width:15%"
                                                                             (click)="ProjectExpensesModal.show(record,imp)" />
                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 2'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter2WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div (click)="DivideUnits(col.field)">
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">

                                                </p-column>
                                                <p-column expander="false" field="">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <a href="javascript:" class="pr-5" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-check-square-o fa-2x" style="font-size:18px;" (click)="completeActivity(record)"></i>
                                                        </a>
                                                    </ng-template>
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12">
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter2WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Description')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="description" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit(record)"></i>
                </a>
                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                </a>-->
                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/Wallet_Icon.svg" style="width:15%"
                                                                             (click)="ProjectExpensesModal.show(record,imp)" />
                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 3'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter3WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>

                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div (click)="DivideUnits(col.field)">
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">

                                                </p-column>
                                                <p-column expander="false" field="">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <a href="javascript:" class="pr-5" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-check-square-o fa-2x" style="font-size:18px;" (click)="completeActivity(record)"></i>
                                                        </a>
                                                    </ng-template>
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12">
                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter3WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Description')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="description" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit(record)"></i>
                </a>
                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                </a>-->

                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/Wallet_Icon.svg" style="width:15%"
                                                                             (click)="ProjectExpensesModal.show(record,imp)" />
                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>

                                            <p-dataTable #contractsDT1 [style]="{'font-size':'10px'}"
                                                         [rowStyleClass]="rowClass"
                                                         [immutable]="false"
                                                         *ngIf="QuarterName == 'Quarter 4'"
                                                         class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter4WisePlan" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                <p-headerColumnGroup>
                                                    <p-row>
                                                        <p-column header="{{QuarterName}}" colspan="2" [style]="{'width':'60px'}"></p-column>
                                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                        <p-column header="{{l('SubActivity')}}" rowspan="2" [style]="{'width':'80px'}"></p-column>
                                                    </p-row>
                                                    <p-row>
                                                        <p-column header="{{l('(Units)')}}"></p-column>
                                                        <p-column header="{{l('(Rs)')}}"></p-column>
                                                    </p-row>
                                                </p-headerColumnGroup>


                                                <p-column field="Quarter 1">
                                                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div (click)="DivideUnits(col.field)">
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="programQuarterUnitMappingStatus">

                                                </p-column>
                                                <p-column expander="false" field="">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <a href="javascript:" class="pr-5" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-check-square-o fa-2x" style="font-size:18px;" (click)="completeActivity(record)"></i>
                                                        </a>
                                                    </ng-template>
                                                </p-column>



                                                <ng-template let-record="rowData" let-r="rowIndex" pTemplate="rowexpansion">
                                                    <div class="col-md-12">

                                                    </div>
                                                    <br />
                                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                                 [rowStyleClass]="rowClass"
                                                                 class='primeNGDataTable' [value]="c.actionSubactionCost[rie].quarter4WisePlan[r].subUnitActivityQuarterWise" [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                        <p-headerColumnGroup>
                                                            <p-row>
                                                                <p-column header="{{l('SubActivity')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('UOM')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Units')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Description')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Assign To')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Start Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('End Date')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Status')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                                <p-column header="{{l('Action')}}" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            </p-row>
                                                        </p-headerColumnGroup>
                                                        <p-column field="checklistItemName"></p-column>
                                                        <p-column field="unitOfMeasureName"></p-column>
                                                        <p-column field="units"></p-column>
                                                        <p-column field="description" [style]="{'width':'50px'}"></p-column>
                                                        <p-column field="assignedUserName"></p-column>
                                                        <p-column field="cheklistStartDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistStartDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="cheklistEndDate" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                {{record.cheklistEndDate |date:'mediumDate'}}
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="subActivityStatus"></p-column>
                                                        <p-column field="status" [sortable]="false" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <div align="center">
                                                                    <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit(record)"></i>
                </a>
                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px" *ngIf="imp.managerID == appSession.userId">
                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                </a>-->

                                                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                        <img src="../../../assets/common/images/Wallet_Icon.svg" style="width:15%"
                                                                             (click)="ProjectExpensesModal.show(record,imp)" />
                                                                    </a>
                                                                </div>
                                                            </ng-template>
                                                        </p-column>
                                                    </p-dataTable>
                                                </ng-template>
                                            </p-dataTable>
                                        </ng-template>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: white; color:#01B6E6;" (click)="funProjectFund()">{{l('Back')}}</button>
    </div>
    <ProjectExpensesModal #ProjectExpensesModal></ProjectExpensesModal>
    <ProjectExpensesCommunityContributionModal #ProjectExpensesCommunityContributionModal></ProjectExpensesCommunityContributionModal>
</div>

