<style>
    #row1 {
        padding: 3px 0px 3px 0px
    }

    a {
        color: black;
    }

        a:hover {
            color: cornflowerblue;
        }

    .lblClass {
        color: black;
        font-size: 13px;
    }

    .m--font-primary {
        color: black !important;
    }

    .m-menu__link m-menu__toggle ng-star-inserted-hovered {
        background-color: deeppink !important;
    }

    .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
        background-color: transparent !important;
    }

    .m-container.m-container--full-height {
        position: relative;
        top: -21px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    .m-aside-left--fixed.m-header--static .m-aside-left, .m-aside-left--fixed.m-header--fixed .m-aside-left {
        top: 30px;
    }

    header--fixed .m-aside-left {
        top: 30px;
    }

    .m-header {
        height: 47px;
    }

    .m-header--fixed .m-body {
        padding-top: 48px !important;
    }

    .m-nav .m-nav__item > .m-nav__link {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        text-decoration: none;
        position: relative;
        outline: none !important;
        vertical-align: middle;
        padding: 3px !important;
    }

        .m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet {
            display: table-cell;
            /* vertical-align: middle; */
            /* text-align: center; */
            width: 20px;
            /* border-radius: 58px; */
        }

        .m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet {
            display: table-cell;
            vertical-align: initial !important;
            text-align: inherit !important;
            width: 20px;
        }

        .m-nav .m-nav__item > .m-nav__link .m-nav__link-icon {
            display: table-cell;
            height: 100%;
            /*vertical-align:unset!important;*/
            text-align: left;
            width: 35px;
            font-size: 1.3rem !important;
            line-height: 0;
        }

    .a:hover {
        color: red;
    }

    .kkc {
    /*display: none !important;*/
        visibility: hidden !important;
}

@media (max-width: 992px) {
 
    .kkc {
        /*display: table-cell !important;*/
            visibility: visible !important;
    }
}
</style>
<header class="m-grid__item m-header"
        data-minimize="false"
        [attr.data-minimize]="ui.getIsMenuMinimizable()"
        [attr.data-minimize-mobile]="ui.getIsMenuMinimizableMobile()" data-menu-submenu-toggle="transparent"
        data-minimize-offset="200" data-minimize-mobile-offset="200">
    <div class="m-header__top">
        <div class="m-container {{ui.getContainerClass()}} m-container--xxl m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand  m-brand--skin-{{ui.getAsideSkin()}} d-print-none" style="background-color:black">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a routerLink="/" target="_blank" class="m-brand__logo-wrapper">
                                <img *ngIf="!appSession.tenant || !appSession.tenant.logoId" [src]="'../../../assets/common/images/WOTR_Logo.svg'" alt="logo" style="margin-top:13px;width:139px;height:35px" />
                                <img *ngIf="appSession.tenant && appSession.tenant.logoId" [src]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?id=' + appSession.tenant.logoId" alt="logo" style="margin-top:13px;width:139px;height:35px" />
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools kkc">
                            <!-- BEGIN: Left Aside Minimize Toggle -->
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed() && ui.allowAsideHiding()" id="m_aside_left_hide_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                <span></span>
                            </a>
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed() && ui.allowAsideMinimizing() && !ui.allowAsideHiding()" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- BEGIN: Responsive Aside Left Menu Toggler-->
                            <a href="javascript:;" *ngIf="ui.leftMenuUsed()" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- begin::Responsive Header Menu Toggler-->
                            <a href="javascript:;" *ngIf="ui.topMenuUsed()" id="m_aside_header_menu_mobile_toggle" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- end::Responsive Header Menu Toggler-->
                            <!-- BEGIN: Topbar Toggler -->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                            <!-- BEGIN: Topbar Toggler -->
                        </div>
                    </div>
                </div>
                <!-- END: Brand -->
                <div class="m-stack__item m-stack__item--fluid m-header-head d-print-none" id="m_header_nav">
                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general" style="float:left">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline" style="margin-top:-13px">
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">

                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle linkColor" style="margin-top:20px;margin-left:20px;color:black">

                                        <span class=" m-menu__link-text m-topbar__username m--font-primary m-menu__toggle  " style="font-size:13px">

                                            {{l('Actions')}}
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        </span>
                                        <!--<i class="fa fa-angle-down" style="font-size:24px;margin-top:13px;"></i>-->
                                    </a>


                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="color:white"></span>
                                        <div class="m-dropdown__inner" style="width:600px;height:100%;margin-left: 231px;">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <h6>{{l('Project')}}</h6>

                                                            <ul class="m-nav" style="cursor:pointer">
                                                                <!--<li class="m-menu__item  m-menu__item--active " aria-haspopup="true">
                                                                    <a href="javascript:" (click)="funCreateProgram()">
                                                                        <i class="m-menu__link-icon flaticon-file"></i>
                                                                        <span class="m-menu__link-text"> {{l('CreateProgram')}}</span>
                                                                    </a>
                                                                </li>-->

                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funCreateProgram()">
                                                                        <i class="m-nav__link-icon flaticon-folder" style="font-size:1.2rem!important"></i>

                                                                        <span class="m-nav__link-text">{{l('Create Program')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funDeleteProgram()">
                                                                        <i class="m-nav__link-icon flaticon-open-box"></i>

                                                                        <span class="m-nav__link-text">{{l('Delete Program')}}</span>
                                                                    </a>
                                                                </li>



                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funManagePeople()">
                                                                        <i class="m-nav__link-icon flaticon-users "></i>

                                                                        <span class="m-nav__link-text">{{l('ManagePeople')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-piggy-bank " style="font-size:1.6rem!important"></i>

                                                                        <span class="m-nav__link-text">{{l('DemandFund')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-folder-1 "></i>

                                                                        <span class="m-nav__link-text">{{l('Create Component')}}</span>
                                                                    </a>
                                                                </li>


                                                            </ul>


                                                        </div>
                                                        <!--<hr style="border:none;border-left:1px solid hsla(200, 10%, 50%,100); height:auto;width:1px;margin-left:0px; margin-bottom: 0px;margin-top: 0px">-->
                                                        <div class="col-sm-4">
                                                            <h6>{{l('Masters')}}</h6>


                                                            <ul class="m-nav" style="cursor:pointer">

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="ShowUser()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Users')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funLocation()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Location')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funDonors()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Funding Agency')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funActionAre()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Action Area')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funSubActionArea()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Sub Action Area')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funActivites()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Activites')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funComponents()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Components')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funActionSubActionArea()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('ActionArea Activity Mapping')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funUnitOfMeasurMent()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Unit Of Measures')}}</span>
                                                                    </a>
                                                                </li>



                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funCheckList()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('SubActivity')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funQue()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('SubActivity Questionary Mapping')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="fundistrict()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('District')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funtaluka()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Taluka')}}</span>
                                                                    </a>
                                                                </li>


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funvillage()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Village')}}</span>
                                                                    </a>
                                                                </li>
                                                               

                                                            </ul>

                                                        </div>

                                                        <div class="col-sm-4">
                                                            <h6>{{l('Impact_Indicator')}}</h6>
                                                            <ul class="m-nav" style="cursor:pointer">
                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIIForm()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Impact Indicator Form')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funCrop()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Crop')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIICategory()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Category')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIISubCategory()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('SubCategory')}}</span>
                                                                    </a>
                                                                </li>

                                                                <!--<li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funFreqOfOccurrence()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Frequency Of Occurrence')}}</span>
                                                                    </a>
                                                                </li>-->

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funSource()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Source')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIIQuestionary()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Impact Indicator Questionary')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIIFormAndProgramMapping()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Form and Project Mapping')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIIResponseForm()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Impact Indicator Response Form')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funIIReport()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Impact Indicator Report')}}</span>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle linkColor" style="margin-top:20px;margin-left:20px;color:black">
                                        <span class=" m-menu__link-text m-topbar__username m--font-primary m-menu__toggle" style="font-size:13px">
                                            {{l('Reports')}}
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        </span>





                                        <!--<i class="fa fa-angle-down" style="font-size:24px;margin-top:13px;"></i>-->
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="color:white"></span>
                                        <div class="m-dropdown__inner" style="width:340px;margin-left: 231px;">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h6>{{l('Project')}}</h6>


                                                            <ul class="m-nav" style="cursor:pointer">


                                                                <li class="m-nav__item ">
                                                                    <a class="m-nav__link" (click)="funprogramdetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Details of the Programme- Project Area, Components and Activities')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funoverallregion()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Sanctioned Details - Overall - Activity wise')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funyearwiseregion()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Year Wise Region')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funrequestsenddetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">  {{l('Request Send Details')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funapproveappladetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">   {{l('Status of the Annual Action Plan Approval')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funImplemenationPlanGroupingDetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Implementation Plan Grouping')}}</span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funexpensesDetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Expenditure')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funprojectlist()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('List of ongoing projects during the year')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funProjectListIII()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Project wise santioned details')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funDonorWsie()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('List of the Funding organisations')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funregionWsie()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Regionwise Project sanction details')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funregionWsieRegionDetails()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Regionwise Overall Annual Action Plan')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funregionWsieRegionSumarry()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Regionwise-programme wise sanction details')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funactionareawise()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Overall Actionareawise Activitity sanctioned budget')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funacoverAllAnualAction()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text">{{l('Overall Annual Action Plan and Budget')}}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funclusterWiseReport()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Cluster Wise Report')}}</span>
                                                                    </a>
                                                                </li>
                                                                <!-- This Report is Canceled by Sonali on 9 Jan 20 -->
                                                                <!--<li class="m-nav__item">
                                                                    <a class="m-nav__link" (click)="funQuarterWiseReport()">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot"><span></span></span>
                                                                        <span class="m-nav__link-text"> {{l('Quarter Wise Report')}}</span>
                                                                    </a>
                                                                </li>-->
                                                            </ul>






                                                        </div>
                                                        <!--<hr style="border:none;border-left:1px solid hsla(200, 10%, 50%,100); height:auto;width:1px;margin-left:0px; margin-bottom: 0px;margin-top: 0px">-->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                
                <div class="m-stack__item m-stack__item--fluid m-header-head d-print-none" id="m_header_nav">
                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline" style="margin-top:10px">

                                <!--<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                                        <img src="../../../assets/common/images/img/icons/Chat_Icon.svg" style="width:25px;height:33px;margin-top: 12px;" />
                                    </a>
                                </li>
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                                        <img src="../../../assets/common/images/img/icons/Help_Icon.svg" style="width:29px;height:22px;margin-top: 16px;"/>
                                    </a>
                                </li>-->
                                <li *ngIf="rolename=='ADMIN' || rolename=='Executive Directive'  " class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                                        <img src="../../../assets/common/images/img/icons/Settings_Icon.svg" style="width:25px;height:34px;margin-top: 12px;" />
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="color:white"></span>
                                        <div class="m-dropdown__inner" style="width:250px;height:100%;margin-left: 67px;">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h6>{{l(' Permissions')}}</h6>
                                                            <div class="row" id="row01">
                                                                <div class="col-sm-12">
                                                                    <a href="javascript:" (click)="rolesPermissions()">
                                                                        <img src="../../../assets/common/images/Actions/Create_program.svg" style="height:20px;width:20px" />
                                                                        {{l('Set Roles Wise Permission ')}}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-topbar__username m--font-primary">
                                            <i *ngIf="isImpersonatedLogin" class="fa fa-reply m--font-danger"></i>
                                            {{rolename}}
                                        </span>
                                        <span class="m-topbar__userpic">
                                            <img *ngIf="profilePicture" alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                                        </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center" style="background: url(/assets/common/images/user_profile_bg.png); background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                                                    </div>
                                                    <div class="m-card-user__details">
                                                        <span class="m-card-user__name m--font-weight-500">
                                                            {{shownLoginName}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li *ngIf="isImpersonatedLogin" class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="backToMyAccount()">
                                                                <i class="m-nav__link-icon fa fa-reply m--font-danger"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileBackToMyAccountButton" class="m-nav__link-text">
                                                                            {{l("BackToMyAccount")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li *ngIf="isImpersonatedLogin" class="m-nav__separator m-nav__separator--fit"></li>
                                                        <!--<li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="showLinkedAccounts()">
                                                                <i class="m-nav__link-icon flaticon-user-settings"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="ManageLinkedAccountsLink" class="m-nav__link-text">
                                                                            {{l("ManageLinkedAccounts")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                            <ul id="RecentlyUsedLinkedUsers" class="m-nav linked-accounts" *ngIf="recentlyLinkedUsers">
                                                                <li *ngFor="let linkedUser of recentlyLinkedUsers" class="m-nav__item">
                                                                    <a href="javascript:;" (click)="switchToLinkedUser(linkedUser)" class="m-nav__link">
                                                                        <span class="m-nav__link-bullet m-nav__link-bullet--dot">
                                                                            <span></span>
                                                                        </span>
                                                                        <span class="m-nav__link-text">
                                                                            {{getShownUserName(linkedUser)}}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>-->
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changePassword()">
                                                                <i class="m-nav__link-icon flaticon-more-v6"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileChangePasswordLink" class="m-nav__link-text">
                                                                            {{l("ChangePassword")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="showLoginAttempts()">
                                                                <i class="m-nav__link-icon flaticon-list"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="ShowLoginAttemptsLink" class="m-nav__link-text">
                                                                            {{l("LoginAttempts")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changeProfilePicture()">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileChangePictureLink" class="m-nav__link-text">
                                                                            {{l("ChangeProfilePicture")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link" (click)="changeMySettings()">
                                                                <i class="m-nav__link-icon flaticon-cogwheel"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span id="UserProfileMySettingsLink" class="m-nav__link-text">
                                                                            {{l("MySettings")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" *ngIf="!isGranted('Pages.Administration.UiCustomization')">
                                                            <a routerLink="admin/ui-customization" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-medical"></i>
                                                                <span class="m-nav__link-title">
                                                                    <span class="m-nav__link-wrap">
                                                                        <span class="m-nav__link-text">
                                                                            {{l("VisualSettings")}}
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" (click)="logout()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">{{l("Logout")}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="chatEnabled && !chatConnected" class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width">
                                    <a href="javascript:;" class="m-nav__link">
                                        <span class="m-nav__link-icon">
                                            <img *ngIf="!chatConnected" src="./assets/common/images/loading.gif" style="width: 23px;" tooltip="{{l('ChatIsConnecting')}}" placement="left" />
                                        </span>
                                    </a>
                                </li>
                                <li [hidden]="!chatEnabled || !chatConnected"  class="m-nav__item m-topbar__notifications m-topbar__notifications--img  m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width">
                                    <a href="javascript:;" class="m-nav__link ">
                                        <span class="m-nav__link-icon" (click)="feedbackModal.show()">
                                            <i class="flaticon-chat"></i>
                                        </span>
                                        <span class="m-badge m-badge--danger" [ngClass]="{'d-none': !unreadChatMessageCount}" id="UnreadChatMessageCount">{{unreadChatMessageCount}}</span>
                                    </a>
                                </li>

                                <!---->



                            </ul>
                        </div>
                    </div>
                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </div>
    <div class="m-header__bottom m-aside-menu--skin-{{s('App.UiManagement.Left.AsideSkin')}}" *ngIf="ui.topMenuUsed()">
        <top-bar-menu></top-bar-menu>
    </div>
    <div *ngIf="subscriptionStatusBarVisible()"
         [ngClass]="{'hidden': !subscriptionStatusBarVisible()}" class="alert hidden subscription-info">
        <span *ngIf="tenant.isInTrialPeriod && !subscriptionIsExpiringSoon()" [innerHTML]="getTrialSubscriptionNotification()"></span>
        <a *ngIf="subscriptionIsExpiringSoon()" routerLink="/app/admin/subscription-management">
            <span *ngIf="subscriptionIsExpiringSoon() && tenant.isInTrialPeriod"><i class="fa fa-exclamation-circle"></i> {{getExpireNotification("TrialExpireNotification")}}</span>
            <span *ngIf="subscriptionIsExpiringSoon() && !tenant.isInTrialPeriod"><i class="fa fa-exclamation-circle"></i> {{getExpireNotification("SubscriptionExpireNotification")}}</span>
        </a>
    </div>
</header>
<loginAttemptsModal #loginAttemptsModal></loginAttemptsModal>
<linkedAccountsModal #linkedAccountsModal (modalClose)="getRecentlyLinkedUsers()"></linkedAccountsModal>
<changePasswordModal #changePasswordModal></changePasswordModal>
<changeProfilePictureModal #changeProfilePictureModal></changeProfilePictureModal>
<mySettingsModal #mySettingsModal (modalSave)="onMySettingsModalSaved()"></mySettingsModal>
<myLocationModal #myLocationModal (modalSave)="onMySettingsModalSaved()"></myLocationModal>

<notificationSettingsModal #notificationSettingsModal></notificationSettingsModal>
<feedbackModal #feedbackModal></feedbackModal>
<!--<myLocationModal #myLocationModal></myLocationModal>-->
<!--<createOrEditModal #createOrEditModal></createOrEditModal>-->