﻿<style>
    .modal-lg {
        max-width: 25%;
        max-height: 25%;
    }
</style>
<div bsModal #UserRollsSelectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-sm modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("User Rolls Select")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">RollsList</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
