﻿<div bsModal #assignReport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignReport" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%">
                        Assigned Report
                    </h4> 
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
                <div class="modal-body" style="width: auto;height: 40em;overflow-y: auto;overflow-wrap:break-word;margin-top: 17px;text-align: center;"><!--padding: inherit;-->
                    <p-dataTable #dataTable [value]="data" >
                        <p-column field="activity" header="Activity" [sortable]="false"></p-column>
                        <p-column field="subActivity" header="SubActivity" [sortable]="false"></p-column>
                        <p-column field="assignedTo" header="Assigned To" [sortable]="false"></p-column>
                        <p-column field="checkListStartDate" header="Start Date" [sortable]="false">
                            <ng-template let-row="rowData" pTemplate="body">
                                {{row.checkListStartDate | date}}
                            </ng-template>
                        </p-column>
                        <p-column field="cheklistEndDate" header="End Date" [sortable]="false">
                            <ng-template let-row="rowData" pTemplate="body">
                                {{row.cheklistEndDate | date}}
                            </ng-template>
                        </p-column>
                        <p-column field="status" header="Status" [sortable]="false"></p-column>
                    </p-dataTable>
                </div>
			</form>
		</div>

	</div>    
</div>
