﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>
<div class="row" style="background-color:white;height:50px;">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 30px">
        <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;" (click)="IIResponseModal.show()">{{l('Add Response')}}</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
        <div class="form-group">
            <input id="txtActionArea" name="Filter" placeholder="{{l('SEARCH')}}" type="text" [(ngModel)]="searchText" (ngModelChange)="getAllResponseGrid()">
           </div>
        </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet-body">
        <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
            <!--<div class="primeng-datatable">-->
            <p-dataTable #dataTable
                         (onLazyLoad)="getAllResponseGrid($event)"
                         [value]="primengDatatableHelper.records"
                         rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                         [paginator]="false"
                         [lazy]="true"
                         emptyMessage="{{l('NoData')}}"
                         responsive="primengDatatableHelper.isResponsive">


                <p-column field="name" header="{{l('Project')}}" [editable]="true" [style]="{'width':'250px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        {{record.name}}
                    </ng-template>
                </p-column>
                <p-column field="village" header="{{l('village')}}" [editable]="true" [style]="{'width':'250px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        {{record.village}}
                    </ng-template>
                </p-column>
                <p-column field="userName" header="{{l('Name of Person Data Filling')}}" [editable]="true" [style]="{'width':'250px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        {{record.userName}}
                    </ng-template>
                </p-column>


                <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'100px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        <div>
                            <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="editActionArea(record.iiFormResponseId)"></i>
                            </a>
                            <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                            </a>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
            <div class="primeng-paging-container">
                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             #paginator
                             (onPageChange)="getAllResponseGrid($event)"
                             [totalRecords]="primengDatatableHelper.totalRecordsCount"
                             [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                </span>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>

<IIResponseModal #IIResponseModal (modalSave)="getAllResponseGrid()"></IIResponseModal>

