﻿<div bsModal #IIResponseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class=" modal-lg modalClass">
        <div class="modal-content" style="width:200%; margin-top: 10%;">
            <form *ngIf="active" #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("Add Response Form")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row m--align-center m--padding-bottom-10">
                            <div class="col-md-12">
                                <h4>Impact Indicator Form</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 align-self-end ">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Project List</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="programId" (change)="OnProjectSelect($event)" [(ngModel)]="addFormResponseDto.programId" required>
                                            <option value="undefined" selected>{{l('Select Program')}}</option>
                                            <option class="text"
                                                    *ngFor="let a of ProgramList"
                                                    [value]="a.id">
                                                {{a.programName | truncate:[80, '...'] }}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group  row">
                                    <label class="col-sm-4 col-form-label">Village</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="villageId" [(ngModel)]="addFormResponseDto.villageId" required>
                                            <option value="undefined" selected>{{l('Select Village')}}</option>
                                            <option style="width:50px" class="text"
                                                    *ngFor="let a of VillageList"
                                                    [value]="a.id">
                                                {{a.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Name of Person Data Filling</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="dataFillPersonId" [(ngModel)]="addFormResponseDto.dataFillPersonId" required>
                                            <option value="undefined" selected>{{l('Name Of Person Data Filling')}}</option>
                                            <option style="width:50px" class="text"
                                                    *ngFor="let a of UserListDto"
                                                    [value]="a.id">
                                                {{a.name+' '+a.surname}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <tabset class="tab-container tabbable-line">
                                    <tab *ngFor="let r of addFormResponseDto.frequencyOccurenceList;let i = index" heading="{{r.frequencyOfOccurrenceName}}" customClass="m-tabs__item">
                                        <div class="row" *ngIf="r.frequencyOfOccurrenceName != 'Continuous' ">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-inputt">
                                                    <label>Date of data entry</label>
                                                    <span>
                                                        <input type="date" class="form-control" id="EntryDate{{i}}" name="EntryDate{{i}}"
                                                               [ngModel]="r.entryDate | date:'yyyy-MM-dd'" (ngModelChange)="changeEntryDate($event,r)"
                                                               [value]="r.entryDate | date:'yyyy-MM-dd'" #EntryDate="ngModel" required placeholder="Todays Date">
                                                        <!--<input type="date" class="form-control" name="EntryDate{{i}}" id="EntryDate{{i}}'" [(ngModel)]="r.entryDate | date:'yyyy-MM-dd" placeholder="Todays Date" required />-->
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-inputt">
                                                    <label>Date of data collection</label>
                                                    <span>
                                                        <input type="date" class="form-control" id="CollectDate{{i}}" name="CollectDate{{i}}"
                                                               [ngModel]="r.collectedDate | date:'yyyy-MM-dd'" (ngModelChange)="changeCollectedDate($event,r)"
                                                               [value]="r.collectedDate | date:'yyyy-MM-dd'" #CollectDate="ngModel" required placeholder="Date of Data Collection">
                                                        <!--<input type="date" class="form-control" name="CollectDate{{i}}" id="CollectDate{{i}}'" [(ngModel)]="r.collectedDate" placeholder="Date of Data Collection" required />-->
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="r.frequencyOfOccurrenceName != 'Continuous' ">
                                            <div class="col-md-12">
                                                <div *ngFor="let catogories of r.categoryList; let j = index" class="pt-2">
                                                    <h5>{{catogories.category}}</h5>
                                                    <div class="ml-1">
                                                        <div *ngFor="let subCategories of catogories.subCategoryList; let k = index" class="row">
                                                            <div class="col-md-12">
                                                                <label class="m--font-bolder">{{subCategories.subCategory}}</label>
                                                                <div class="ml-2 mr2 margin-top-15">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <table cellspacing="10" cellpadding="5" *ngFor="let types of subCategories.questionTypesList;  let o = index">
                                                                                <tr *ngFor="let questions of types.questionList;  let p = index">
                                                                                    <td>{{p+1}}</td>
                                                                                    <td>{{questions.question}}</td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" name="queAns{{i}}{{j}}{{k}}{{o}}{{p}}" [(ngModel)]="questions.answer" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <select class="form-control m--block-center" name="Source{{i}}{{j}}{{k}}{{o}}{{p}}" [(ngModel)]="questions.sourceId" required>
                                                                                            <option value="0" selected>{{l('Select Source')}}</option>
                                                                                            <option style="width:50px" class="text"
                                                                                                    *ngFor="let a of GetAllSourceList"
                                                                                                    value="{{a.id}}">
                                                                                                {{a.sourceName}}
                                                                                            </option>
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="r.frequencyOfOccurrenceName == 'Continuous'">
                                            <div class="col-md-12">
                                                <div *ngFor="let catogories of r.categoryList; let p = index" class="pt-2 m--margin-bottom-30">
                                                    <h5>{{catogories.category}}</h5>
                                                    <div class="ml-1">
                                                        <div *ngFor="let subCategories of catogories.subCategoryList; let q = index" class="row">
                                                            <div class="col-md-12">
                                                                <label class="m--font-bolder">{{subCategories.subCategory}}</label>
                                                                <table border="0" cellpadding="4">
                                                                    <tbody>
                                                                        <tr *ngFor="let types of subCategories.questionTypesList; let s = index">
                                                                            <td>
                                                                                <span>
                                                                                    <input type="date" class="form-control" id="contDate{{i}}{{p}}{{q}}{{s}}" name="contDate{{i}}{{p}}{{q}}{{s}}"
                                                                                           [ngModel]="types.dateOfEntry | date:'yyyy-MM-dd'" (ngModelChange)="changeDate($event,types)"
                                                                                           [value]="types.dateOfEntry | date:'yyyy-MM-dd'" #EntryDate="ngModel" required placeholder="Todays Date">
                                                                                </span>
                                                                            </td>
                                                                            <td *ngIf="catogories.category == 'Agriculture Information'">
                                                                                <select class="form-control m--block-center" name="crop{{i}}{{p}}{{q}}{{s}}" [(ngModel)]="types.cropId">
                                                                                    <option value="undefined" selected>{{l('Select Crops')}}</option>
                                                                                    <option style="width:50px" class="text"
                                                                                            *ngFor="let a of GetAllCropList"
                                                                                            value="{{a.id}}">
                                                                                        {{a.name}}
                                                                                    </option>
                                                                                </select>
                                                                            </td>

                                                                            <td *ngFor="let questions of types.questionList; let r = index">
                                                                                <input type="text" name="ans{{i}}{{p}}{{q}}{{s}}{{r}}" [(ngModel)]="questions.answer" class="form-control" placeholder="{{questions.question}}" />
                                                                            </td>
                                                                            <td>
                                                                                <select class="form-control m--block-center" name="source{{i}}{{p}}{{q}}{{s}}" [(ngModel)]="types.sourceId" required>
                                                                                    <option value="0" selected>{{l('Select Source')}}</option>
                                                                                    <option style="width:50px" class="text"
                                                                                            *ngFor="let a of GetAllSourceList"
                                                                                            value="{{a.id}}">
                                                                                        {{a.sourceName}}
                                                                                    </option>
                                                                                </select>
                                                                            </td>
                                                                            <td style="width:100px;">
                                                                                <button type="button" class="btn btn-sm btn-brand btn-elevate btn-icon btn-circle" (click)="onAddRow(subCategories.questionTypesList,types)"><i class="fa fa-plus"></i></button>
                                                                                <button *ngIf="s > 0" type="button" class="btn btn-brand btn-elevate btn-circle btn-icon btn-sm" (click)="onRemoveRow(subCategories.questionTypesList,types)"><i class="fa fa-window-minimize"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


















<!--<div bsModal #IIResponseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class=" modal-lg modalClass">
        <div class="modal-content" style="width:200%; margin-top: 10%;">
            <form *ngIf="active" #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Response Form")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row m--align-center">
                            <div class="col-md-12">
                                <h4>Impact Indicator Form</h4>
                            </div>
                        </div>

                        <div class="mt-3 m-auto m--align-center justify-content-end m-container">
                            <div class="col-md-4"></div>
                            <div class="col-md-8 align-self-end ">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Project List</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" name="programsId" [(ngModel)]="addFormResponseDto.id" />
                                        <select class="form-control" name="programId" (change)="OnProjectSelect()" [(ngModel)]="addFormResponseDto.programId" required>
                                            <option value="undefined" selected>{{l('Select Program')}}</option>
                                            <option style="width:50px" class="text"
                                                    *ngFor="let a of ProgramList"
                                                    value="{{a.id}}">
                                                {{a.programName}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group  row">
                                    <label class="col-sm-4 col-form-label">Village</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="villageId" [(ngModel)]="addFormResponseDto.villageId" required>
                                            <option value="undefined" selected>{{l('Select Village')}}</option>
                                            <option style="width:50px" class="text"
                                                    *ngFor="let a of VillageList"
                                                    value="{{a.id}}">
                                                {{a.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Name of Person Data Filling</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="dataFillPersonId" [(ngModel)]="addFormResponseDto.dataFillPersonId" required>
                                            <option value="undefined" selected>{{l('Name Of Person Data Filling')}}</option>
                                            <option style="width:50px" class="text"
                                                    *ngFor="let a of UserListDto"
                                                    value="{{a.id}}">
                                                {{a.name+' '+a.surname}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>









                        <div class="row">
                            <div class="col-12">
                                <tabset class="tab-container tabbable-line">
                                    <tab *ngFor="let r of getAllQueList;let i = index" heading="{{r.freqOfOccurrence}}" customClass="m-tabs__item">
                                        <div class="row" *ngIf="r.freqOfOccurrence !='Continuous' ">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-inputt">
                                                    <label>Date of data entry</label>
                                                    <span>
                                                        <input type="date" class="form-control" name="EntryDate{{r.freqOfOccurrenceId}}" id="EntryDate{{i.freqOfOccurrenceId}}'" [(ngModel)]="r.dateOfEntryStr" placeholder="Todays Date" required />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-inputt">
                                                    <label>Date of data collection</label>
                                                    <span>
                                                        <input type="date" class="form-control" name="CollectDate{{r.freqOfOccurrenceId}}" id="CollectDate{{r.freqOfOccurrenceId}}'" [(ngModel)]="r.dateOfCollectionStr" placeholder="Date of Data Collection" required />
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="r.freqOfOccurrence !='Continuous' ">
                                            <div class="col-md-12">
                                                <div *ngFor="let catogories of r.categoryList; let j = index" class="pt-2">
                                                    <h5>{{catogories.category}}</h5>
                                                    <div class="ml-1">
                                                        <div *ngFor="let subCategories of catogories.subCategoryList; let k = index" class="row">
                                                            <div class="col-md-12">
                                                                <label class="m--font-bolder">{{subCategories.subCategory}}</label>
                                                                <div class="ml-2 mr2 margin-top-15">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <table cellspacing="10" cellpadding="5">
                                                                                <tr *ngFor="let questions of subCategories.questionsList;  let o = index">
                                                                                    <td>1</td>
                                                                                    <td>{{questions.question}}</td>
                                                                                    <td>
                                                                                        <input type="hidden" name="QueAns1{{questions.iiQuestionaryId}}{{questions.iiFormResponseId}}" [(ngModel)]="getAllQueList[i].categoryList[j].subCategoryList[k].questionsList[o].iiFormResponseId" />
                                                                                        <input type="text" class="form-control" name="QueAns{{questions.iiQuestionaryId}}{{questions.iiFormResponseId}}" id="QueAns{{questions.id}}" [(ngModel)]="questions.answer" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <select class="form-control m--block-center" name="Source{{questions.iiQuestionaryId}}{{questions.iiFormResponseId}}" id="Source{{o}}" [(ngModel)]="questions.sourceId" required>
                                                                                            <option value="undefined" selected>{{l('Select Source')}}</option>
                                                                                            <option style="width:50px" class="text"
                                                                                                    *ngFor="let a of GetAllSourceList"
                                                                                                    value="{{a.id}}">
                                                                                                {{a.sourceName}}
                                                                                            </option>
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="r.freqOfOccurrence =='Continuous' ">
                                            <div class="col-md-12">
                                                <div *ngFor="let catogories of r.categoryList; let p = index" class="pt-2 m--margin-bottom-30">
                                                    <h5>{{catogories.category}}</h5>
                                                    <div class="ml-1">
                                                        <div *ngFor="let subCategories of catogories.subCategoryList; let q = index" class="row">
                                                            <div class="col-md-12">
                                                                <label class="m--font-bolder">{{subCategories.subCategory}}</label>
                                                                <table border="0" cellpadding="4">
                                                                    <tbody>
                                                                        <tr *ngFor="let questions of subCategories.questionsList; let s = index">
                                                                            <td>
                                                                                <span>
                                                                                    <input type="date" name="date{{p}}{{q}}{{s}}" [(ngModel)]="questions.dateOfCollectionStr" autocomplete="off" class="form-control" placeholder="Date" required />
                                                                                </span>
                                                                            </td>

                                                                            <td>
                                                                                <input type="text" name="ans{{p}}{{q}}{{s}}" [(ngModel)]="questions.answer" class="form-control" placeholder="{{questions.question}}" />
                                                                            </td>
                                                                            <td>
                                                                                <select class="form-control m--block-center" name="source{{p}}{{q}}{{s}}" [(ngModel)]="questions.sourceId" required>
                                                                                    <option value="undefined" selected>{{l('Select Source')}}</option>
                                                                                    <option style="width:50px" class="text"
                                                                                            *ngFor="let a of GetAllSourceList"
                                                                                            value="{{a.id}}">
                                                                                        {{a.sourceName}}
                                                                                    </option>
                                                                                </select>
                                                                            </td>
                                                                            <td style="width:100px;">
                                                                                <button type="button" class="btn btn-sm btn-brand btn-elevate btn-icon btn-circle" (click)="onAddRow(2)"><i class="fa fa-plus"></i></button>
                                                                                <button [ngClass]="rowlength==1 ? 'd-none' : ''" type="button" class="btn btn-brand btn-elevate btn-circle btn-icon btn-sm" (click)="onRemoveRow(i,2)"><i class="fa fa-window-minimize"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>-->
