﻿p-column {
    color: black;
    font-size: 20px;
    float: left;
}
.nav{
    font-size:15px !important;
}
.btn-circle {
    border-radius: 50%;
}

.btn-elevate {
    -webkit-box-shadow: 0 4px 16px 0 rgba(93,120,255,.15);
    box-shadow: 0 4px 16px 0 rgba(93,120,255,.15);
}
.bs-datepicker {
    text-align: center !important;
}

bs-datepicker {
    background: #fff;
}

.theme-default .bs-datepicker-head {
    background-color: #5867dd;
}

.bs-datepicker-body, .bs-datepicker-head {
    background-color:white !important;
}