﻿<style>
    #chartdiv1 {
        width: 120%;
        height: 500px;
    }
</style>
<div bsModal #SubActionAreaReport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignReport" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%">
                        Sub Action Area Report
                    </h4> 
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="width:auto;height: 40em;overflow-y: auto; overflow-wrap:break-word;">
                    
                    <div class="row">
                        <div id="chartdiv1"></div>
                    </div>
                </div>

			</form>
		</div>

	</div>    
</div>
