﻿<div bsModal #IIFormProgramMapModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content" style=" width: 140%;">
            <form #ImpactIndicatorFormOne="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" *ngIf="!projectAndIIFormMapping.id">{{l("Add Form")}}</h4>
                    <h4 class="modal-title" style="color:white;" *ngIf="projectAndIIFormMapping.id">{{l("Edit Form")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 form-group form-md-line-input no-hint">
                            <select class="form-control" name="impactIndicatorCategoryId" [(ngModel)]="projectAndIIFormMapping.programId" required>
                                <option value="undefined" selected>{{l('Select Program')}}</option>
                                <option style="width:50px" class="text"
                                        *ngFor="let a of ProgramList"
                                        value="{{a.id}}">
                                    {{a.programName| truncate:[80, '...'] }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group form-md-line-input no-hint">
                            <select class="form-control" name="impactIndicatorSubCategoryId"  [(ngModel)]="projectAndIIFormMapping.impactIndicatorFormId" required>
                                <option value="undefined" selected>{{l('Select Form')}}</option>
                                <option style="width:50px"
                                        class="text"
                                        *ngFor="let a of ImpactIndicatorFormList"
                                        value="{{a.id}}">
                                    {{a.formName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group form-md-line-input no-hint">
                            <select class="form-control" name="Status" [(ngModel)]="projectAndIIFormMapping.status" required>
                                <option value="Live" selected>{{l('Live')}}</option>
                                <option value="UnLive">{{l('UnLive')}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!ImpactIndicatorFormOne.form.valid" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


