﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>
<div bsModal #IIQuestionListModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content" style=" width: 140%;">
            <form #ImpactIndicatorFormOne="ngForm" novalidate >
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" >{{l("Question List")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <!--<div class="primeng-datatable">-->
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getAllQuestions(formId)"
                                     [value]="QuestionList"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     responsive="primengDatatableHelper.isResponsive">


                            <p-column field="question" header="{{l('Question')}}" [editable]="true" [style]="{'width':'200px','white-space':'normal'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.question}}
                                </ng-template>
                            </p-column>
                            <p-column field="category" header="{{l('Category')}}" [editable]="true" [style]="{'width':'200px','white-space':'normal'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.category}}
                                </ng-template>
                            </p-column>
                            <p-column field="subCategory" header="{{l('SubCategory')}}" [editable]="true" [style]="{'width':'200px','white-space':'normal'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.subCategory}}
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="changePage($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


