﻿<div bsModal #SubCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form *ngIf="active" #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" *ngIf="!IISubCategory.id" id="AddTitle">{{l("Add SubCategory")}}</h4>
                    <h4 class="modal-title" style="color:white;" *ngIf="IISubCategory.id" id="EditTitle">{{l("Edit SubCategory")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" name="impactIndicatorCategoryId" [(ngModel)]="IISubCategory.impactIndicatorCategoryId" required >
                                    <option value="undefined" selected>{{l('Select Category')}}</option>
                                    <option style="width:50px"
                                            class="text"
                                            *ngFor="let a of CategoryList"
                                            value="{{a.id}}">

                                        {{a.category}}
                                    </option>
                                </select>
                            </div>

                          
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text"
                                       name="SubCategoryName"
                                       placeholder="SubCategory Name"
                                       class="form-control"
                                       [(ngModel)]="IISubCategory.subCategory"
                                       required
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid"  class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" >
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

