﻿<div bsModal #ActivitesAddModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("ADD New Activity")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <form *ngIf="active" #Modal="ngForm" novalidate (ngSubmit)="save()" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" placeholder="Activity" type="text" name="activity" [(ngModel)]="activity.name" required maxlength="255">
                                <label class="form-control-placeholder" for="">{{l('')}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <textarea rows="5" name="txtDescription" placeholder="Description" class="form-control" [(ngModel)]="activity.description" cols="50" required></textarea>                                
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" 
                                        [(ngModel)]="activity.unitOfMeasuresId"
                                        name="unitOfMeasuresId"
                                        required>
                                    <option value="undefined">{{l('Select Unit Of Measure')}}</option>
                                    <option *ngFor="let um of unitofMeasureDto" value="{{um.id}}">{{um.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                            {{l('CANCEL')}}
                        </button>
                        <button type="submit" [disabled]="!Modal.form.valid" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;">
                            <i class="fa fa-save"></i>{{l('SAVE')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>