﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>

<div class="row" style="background-color:white;height:50px;">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 35px">
        <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;width:160px" (click)="ActivitesAddModal.show()">{{l('Add New Activity')}}</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
        <input id="txtActivity" name="Filter" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getAllActivitysearch()">
        <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
        <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
    </div>
</div>
<div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
    <div class="portlet-body">
        <div class="primeng-datatable-container">
            <div class="primeng-datatable"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             (onLazyLoad)="getAllActivity()"
                             [value]="activityList"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true"
                             ScrollWidth="100%"
                             responsive="primengDatatableHelper.isResponsive"
                             resizableColumns="primengDatatableHelper.resizableColumns">

                    <p-column field=""
                              header="{{l('Activity')}}"
                              [sortable]="false"
                              [style]="{'width':'200px'}"
                              [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.name}}
                        </ng-template>
                    </p-column>
                    <p-column field="EmpDetail" header="{{l('Description')}}" [sortable]="false" [style]="{'width':'250px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.description}}
                        </ng-template>
                    </p-column>
                    <p-column field="project" header="{{l('Created By')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.firstName}}
                        </ng-template>
                    </p-column>
                    <p-column field="FromDate" header="{{l('Created On')}}" [sortable]="false" [style]="{'width':'120px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.creationTime |date:'mediumDate'}}
                        </ng-template>
                    </p-column>
                  
                    <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <div align="center">
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="editActivity(record)"></i>
                                </a>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteActivity(record)"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="changePage($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>
    <ActivitesAddModal #ActivitesAddModal (modalSave)="getAllActivity()"></ActivitesAddModal>
