﻿<div bsModal #ModalDistrict="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add District")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" name="stateId" [(ngModel)]="district.stateId" required>
                                    <option value="undefined" selected>{{l('Select State')}}</option>
                                    <option style="width:50px"
                                            class="text"
                                            *ngFor="let a of StateList | sortMy:'name'"
                                            value="{{a.id}}">

                                        {{a.stateName}}
                                    </option>
                                </select>
                            </div>
                           
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text"
                                       name="districtName"
                                       placeholder="District Name"
                                       class="form-control"
                                       [(ngModel)]="district.districtName"
                                       required
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
