﻿<div bsModal #ActivityLiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ActivityLiveModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Expenses")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body" style="margin-top:-20px; margin-bottom:-20px">
                    <div class="row">
                        <div class="col-sm-6">
                            <span>{{l('CheckList')}}</span><br />
                            <span class="fontBold">{{l('Introduction Site Inspection CheckList')}}</span>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>                   
                    <hr style="margin-left: -24px;margin-right: -26px;"/>
                    <div class="row">
                        <div class="col-sm-4">
                            <span>{{l('Unit of Measure')}}</span><br />
                            <span class="fontBold">{{l('Nos')}}</span>
                        </div>
                        <div class="col-sm-4">
                            <span>{{l('Description')}}</span><br />
                            <span class="fontBold">{{l('Lorem ipsum dolor sit amet,ex eos')}}</span>
                        </div>
                        <div class="col-sm-4">
                            <span>{{l('Location')}}</span><br />
                            <span class="fontBold">{{l('Rahuri Maharashtra')}}</span>
                        </div>
                    </div>              
                    <hr style="margin-left: -24px;margin-right: -26px;" />
                    <div class="row">
                        <div class="col-sm-1">
                            <span>{{l('Unit')}}</span><br />
                            <span class="fontBold">{{l('Nos')}}</span>
                        </div>
                        <div class="col-sm-1">
                            <span>{{l('Assigned')}}</span><br />
                                <span class="fontBold">{{l('5')}}</span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{l('Completed')}}</span><br />                           
                                <span class="fontBold">{{l('5')}}</span>                                                     
                        </div>
                        <div class="col-sm-4">
                            <span>{{l('Start Date')}}</span><br />
                            <span class="fontBold">{{l('Aug 15,2017 11:00 am')}}</span>
                        </div>
                        <div class="col-sm-4">
                            <span>{{l('End Date')}}</span><br />
                            <span class="fontBold">{{l('Sep 13,2018 03:00 am')}}</span>
                        </div>
                    </div>  
                    <div>
                        <button type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;float:right">
                            <i class="fa fa-save"></i>{{l('Save')}}
                        </button>
                    </div>  
                    <div id="tab" style="margin-top:25px">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:0px">
                                    <a href="#tab_3_1" data-toggle="tab" aria-expanded="true">{{l('Updates')}}</a>
                                </li>
                                <li class="" style="margin-left:30px">
                                    <a href="#tab_3_2" data-toggle="tab" aria-expanded="false">{{l('Add Expences')}}</a>
                                </li>
                                <li class="" style="margin-left:30px">
                                    <a href="#tab_3_3" data-toggle="tab" aria-expanded="true">{{l('Activity View')}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_3_1">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-sm-7">

                                        </div>
                                        <div class="col-sm-4">

                                        </div>
                                    </div>   
                                    <div class="primeng-datatable-container">
                                                <div class="primeng-datatable">
                                                    <p-dataTable #dataTable
                                                                 
                                                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                 [paginator]="false"
                                                                 [lazy]="true"
                                                                 emptyMessage="{{l('NoData')}}"
                                                                 scrollable="true"
                                                                 ScrollWidth="100%"
                                                                 style=""
                                                                 responsive="primengDatatableHelper.isResponsive"
                                                                 resizableColumns="primengDatatableHelper.resizableColumns">

                                                        <p-column field=""
                                                                  header="{{l('Date')}}"
                                                                  [editable]="true"
                                                                  [sortable]="false"
                                                                  [style]="{'width':'150px','font-weight':'normal'}"
                                                                  [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                            <ng-template let-record="rowData" pTemplate="body">

                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="name" header="{{l('')}}" [editable]="true" [style]="{'width':'200px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">

                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="name" header="{{l('Completed')}}" [editable]="true" [style]="{'width':'150px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">

                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="project" header="{{l('Comments')}}" [sortable]="false" [style]="{'width':'100px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">

                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="FromDate" header="{{l('Photo')}}" [sortable]="false" [style]="{'width':'200px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="name" header="{{l('Location')}}" [editable]="true" [style]="{'width':'200px'}">
                                                            <ng-template let-record="rowData" pTemplate="body">

                                                            </ng-template>
                                                        </p-column>                                                      
                                                    </p-dataTable>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                     #paginator
                                                                     
                                                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                                        </p-paginator>
                                                        <span class="total-records-count">
                                                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>                                                                      
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_3_2">
                                <div class="portlet-body">
                                    <h1>{{l('Add Expences')}}</h1>
                                    <!--<p-chips [(ngModel)]="values">
                                        <ng-template let-item pTemplate="item">
                                             <i class="fa fa-user"></i>
                                        </ng-template>
                                    </p-chips>-->
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_3_3">
                                <div class="portlet-body">
                                    <h1>{{l('Activity View')}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </form>           
        </div>
    </div>
</div>
