﻿#gragDrop {
    border: dotted;
    background-color: lightgray;
    height: 100px;
    border-color: gray;
    
}
.fontBold{
    font-weight:bold;
}
.modal-content{
    width:120%;
    margin-left:-50px;
}
.nav {
    font-size: 20px;
}