﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">              
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" class="hrefLink">{{l('IMPLEMENTATION PLAN')}}</a><br />
                    <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                    <span class="badge">{{l('Overview Of Program Cost')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT EXPENSES')}}</a><br />
                    <span class="badge">{{l('Request & allocate funds')}}</span>
                </div>
                <div class="col-sm-3" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('ACTIVITY LIVE')}}</a><br />
                    <span id="id1" class="badge">{{l('Field level activites captured live')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
            <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
            </span>
        </div>
    </div>
    <div id="accordion">
        <div class="panel-heading" id="headingOne">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{l('Community Mobilization - Awareness Generation & Capacity Buliding')}}
            </button>
            <span class="fa fa-angle-right" style="float:right"></span>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:0px;margin-top:-15px">
                    <div class="tabbable-line" style="background-color:white">
                        <ul class="nav nav-tabs">
                            <li class="active" style="margin-left:0px">
                                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">{{l('Year1')}}</a>
                            </li>
                            <li class="" style="margin-left:30px">
                                <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">{{l('Year2')}}</a>
                            </li>
                            <li class="active" style="margin-left:30px">
                                <a href="#tab_1_3" data-toggle="tab" aria-expanded="true">{{l('Year3')}}</a>
                            </li>
                            <li class="" style="margin-left:30px">
                                <a href="#tab_1_4" data-toggle="tab" aria-expanded="false">{{l('Year4')}}</a>
                            </li>
                            <li class="active" style="margin-left:30px">
                                <a href="#tab_1_5" data-toggle="tab" aria-expanded="true">{{l('Year5')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="portlet-body">
                                <div class="primeng-datatable"
                                     [busyIf]="primengDatatableHelper.isLoading">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable' [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Acton Area-Sub Action Area Activity')}}" rowspan="2" [style]="{'width':'100px'}"></p-column>
                                                <p-column header="{{l('Unit Of measure')}}" rowspan="2" [style]="{'width':'50px'}"></p-column>
                                                <p-column header="{{l('Total Unit')}}" [style]="{'width':'40px'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'40px'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'40px'}"></p-column>
                                                <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'60px'}"></p-column>
                                                <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'60px'}"></p-column>
                                                <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'60px'}"></p-column>
                                                <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'80px'}"></p-column>
                                                <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'80px'}"></p-column>
                                                <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'80px'}"></p-column>
                                                <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'80px'}"></p-column>
                                                <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'50px'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                            </p-row>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                    <div class="row">
                                                        <div class="col-sm-1">
                                                            <a (click)="mapLocationModal.show()"></a>
                                                        </div>
                                                        <div class="col-sm-11">
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                            <p-column field="">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                </ng-template>
                                            </p-column>
                                        </p-headerColumnGroup>                                        
                                    </p-dataTable>
                                </div>
                               
                                <div class="tabbable-line" style="background-color:white">
                                    <ul class="nav nav-tabs">
                                        <li class="active" style="margin-left:0px">
                                            <a href="#tab_2_1" data-toggle="tab" aria-expanded="true">{{l('Activity View')}}</a>
                                        </li>
                                        <li style="margin-left:30px">
                                            <a href="#tab_2_2" data-toggle="tab" aria-expanded="false">{{l('List View')}}</a>
                                        </li>                                        
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_2_1">
                                        <div class="portlet-body">
                                            <textarea name="txtMessage" cols="40" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2_2">
                                        <div class="portlet-body">
                                            <div class="viewList">
                                                <div class="primeng-datatable-container">
                                                    <div class="primeng-datatable">
                                                        <p-dataTable #dataTable
                                                                    
                                                                     
                                                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                     [paginator]="false"
                                                                     [lazy]="true"
                                                                     emptyMessage="{{l('NoData')}}"
                                                                     scrollable="true"
                                                                     ScrollWidth="100%"
                                                                     style=""
                                                                     responsive="primengDatatableHelper.isResponsive"
                                                                     resizableColumns="primengDatatableHelper.resizableColumns">

                                                            <p-column field=""
                                                                      header="{{l('Check List')}}"
                                                                      [editable]="true"
                                                                      [sortable]="false"
                                                                      [style]="{'width':'150px','font-weight':'normal','font-size':'13px'}"
                                                                      [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                                <ng-template let-record="rowData" pTemplate="body">

                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="name" header="{{l('Unit of Measure')}}" [editable]="true" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">

                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="project" header="{{l('Planned Unit')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                    {{record.firstName}}
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="FromDate" header="{{l('Achieved Unit')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="name" header="{{l('Assign to')}}" [editable]="true" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">

                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="project" header="{{l('Location')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                    {{record.firstName}}
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="FromDate" header="{{l('Start Date')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="name" header="{{l('End Date')}}" [editable]="true" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">

                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="FromDate" header="{{l('Completed on')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="name" header="{{l('Status')}}" [editable]="true" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">

                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px','font-size':'13px'}">
                                                                <ng-template let-record="rowData" pTemplate="body">
                                                                    <div align="center">
                                                                        <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                                            <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit(record)"></i>
                                                                        </a>
                                                                        <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                                            <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="delete(record)"></i>
                                                                        </a>
                                                                    </div>
                                                                </ng-template>
                                                            </p-column>
                                                        </p-dataTable>                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_1_2">
                            <div class="portlet-body">
                                <div style="margin-top:10px">
                                     <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;" (click)="ActivityLiveModal.show()">{{l('Add New Expence')}}</button>
                                 </div>

                            </div>

                        </div>   
                        <div class="tab-pane" id="tab_1_3">
                            <div class="portlet-body">
                                <h1>Year 3</h1>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1_4">
                            <div class="portlet-body">
                                <h1>Year 4</h1>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1_5">
                            <div class="portlet-body">
                                <h1>Year 5</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" >
            {{l('Back')}}
        </button>
        <button type="submit" class="btn btn-default" (click)="funNextPage()" style="background-color: #01B6E6; color:white;">
            <i class="fa fa-save"></i>{{l('Save & Continue')}}
        </button>
    </div>
    <ActivityLiveModal #ActivityLiveModal></ActivityLiveModal>
    <!--<addNewItemModal #addNewItemModal></addNewItemModal>
    <mapLocationModal #mapLocationModal></mapLocationModal>-->
</div>

