﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }


    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 50px;
}


#HeaderClass3 {
    margin-bottom: 20px;
}

.btn {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

hr {
    margin-bottom: 0px;
}

.mainAccordion {
    margin-bottom: 10px;
}

#btnPlanRecived {
    background-color: green;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

#btnPlanNotRecived {
    background-color: orange;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

#btnPlanPlanding {
    background-color: red;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

.nav {
    font-size: 20px;
}

#divChatting {
    border: solid;
    border-color: black;
}
