﻿<!--<h1>Location</h1>
<button id="btnModal" (click)="funLocation()">{{l('Location Modal')}}</button>
<div bsModal #LocationModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;">{{l("ADD Location")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <form #Modal="ngForm" novalidate (ngSubmit)="save()" *ngIf="location!=undefined" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="m-radio">
                                    <input class="form-control" type="radio" name="PaymentPeriodType" value="2" (change)="checkLocationType($event)" checked/>{{l("RRC")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="m-radio">
                                    <input class="form-control" type="radio" name="PaymentPeriodType" value="3" (change)="checkLocationType($event)" />{{l("Village Cluster")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="m-radio">
                                    <input class="form-control" type="radio" name="PaymentPeriodType"  value="4" (change)="checkLocationType($event)" />{{l("Village")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" id="txtLocation" placeholder="Location Name" type="text" name="Name" [(ngModel)]="location.name" required >
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select autoFocus
                                        size="1"
                                        class="form-control"
                                        name="Parent" [(ngModel)]="location.parentLocation" required>
                                    <option value="undefined" selected>{{l('Parent Location')}}</option>
                                    <option value="{{l.id}}" *ngFor="let l of locationList">{{l.name}}</option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select autoFocus
                                        size="1"
                                        class="form-control"
                                        name="State" [(ngModel)]="location.state" required>
                                    <option value="undefined" selected>{{l('State')}}</option>
                                    <option value="{{state.stateName}}" *ngFor="let state of stateList">{{state.stateName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                            {{l('CANCEL')}}
                        </button>
                        <button type="submit" [disabled]="!Modal.form.valid" class="btn btn-default" style="background-color: #01B6E6; color:white;">
                           <i class="fa fa-save"></i> {{l('SAVE')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!--<LocationModal1 #LocationModal1></LocationModal1>-->
