﻿<div bsModal #myLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mySettingsModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{l("MySettings")}}</span>
                    </h5>
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="user">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('Profile')}}" customClass="m-tabs__item">
                            <div class="form-group">
                                <label>{{l("Name")}} *</label>
                                <input #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name" required value="{{user.name| capitalize}}" maxlength="255">
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>{{l("Surname")}} *</label>
                                <input #surnameInput="ngModel" type="text" name="Surname" class="form-control" [(ngModel)]="user.surname" required value="{{user.surname| capitalize}}" maxlength="255">
                                <validation-messages [formCtrl]="surnameInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>{{l("EmailAddress")}} *</label>
                                <input #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" maxlength="256">
                                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: l('InvalidEmailAddress')}]"></validation-messages>
                            </div>
                            <div *ngIf="smsEnabled && !isPhoneNumberEmpty">
                                <div class="form-group">
                                    <label>{{l("PhoneNumber")}}</label>
                                    <div class="input-group">
                                        <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="24">
                                        <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationUnverified" class="input-group-btn">
                                            <button id="btnSmsVerification" (click)="smsVerify()" class="btn btn-primary" type="button" tooltip="{{l('YourPhoneNumberIsNotVerified')}}"><i class="fa fa-warning"></i>{{l('Verify')}}</button>
                                        </span>
                                        <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationVerified" style="display: none;" class="input-group-addon" tooltip="{{l('YourPhoneNumberIsVerified')}}">
                                            <i class="la la-check m--font-success"></i>
                                        </span>
                                        <span *ngIf="isPhoneNumberConfirmed" class="input-group-addon" tooltip="{{l('YourPhoneNumberIsVerified')}}">
                                            <i class="la la-check m--font-success"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!smsEnabled || isPhoneNumberEmpty">
                                <div class="form-group">
                                    <label>{{l("PhoneNumber")}}</label>
                                    <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="24">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{l("UserName")}} *</label>
                                <input #userNameInput="ngModel" type="text" [disabled]="!canChangeUserName" class="form-control" [(ngModel)]="user.userName" name="UserName" required value="{{user.userName| capitalize}}" maxlength="255">
                                <span class="m-form__help" *ngIf="!canChangeUserName">{{l("CanNotChangeAdminUserName")}}</span>
                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                            </div>
                            <div class="form-group" *ngIf="showTimezoneSelection">
                                <label>{{l("Timezone")}}</label>
                                <timezone-combo [(selectedTimeZone)]="user.timezone" defaultTimezoneScope="{{defaultTimezoneScope}}"></timezone-combo>
                            </div>
                        </tab>
                        <tab heading="{{l('TwoFactorLogin')}}" customClass="m-tabs__item">
                            <div>
                                <h4>
                                    Google Authenticator
                                </h4>
                                <div [hidden]="!isGoogleAuthenticatorEnabled">
                                    <div>
                                        {{l("ScanQrCodeWithYourMobileApp")}}
                                    </div>
                                    <div class="text-center">
                                        <img [src]="user.qrCodeSetupImageUrl" />
                                    </div>
                                    <small>
                                        {{l("GoogleAuthenticatorReferrerLink")}}: <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="noopener noreferrer">Google Authenticator</a>
                                    </small>
                                </div>
                                <div [hidden]="isGoogleAuthenticatorEnabled">
                                    <button type="button" class="btn blue" (click)="updateQrCodeSetupImageUrl()">{{l("Enable")}}</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()" [disabled]="saving">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!mySettingsModalForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>