﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}



@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }

    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

#yearTag a.active {
    color: #01B6E6;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #01B6E6;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
}


#HeaderClass3 {
    margin-bottom: 20px;
}
.btn {
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.card-body{
    margin-top:-20px;
}
.nav{
     font-size:20px;
}
.tab-content {
    margin-top: -21px;
}
.card-body{
    padding-left:0px;
    padding-right:0px;
}
#tableBody {
    padding-left: 0px;
    padding-right: 0px;
}
.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;   
}