<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Programs")}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Programs")}}</h3>

                <div class="row align-items-center">
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getAllPrograms($event)"
                                     [value]="primengDatatableHelper.records"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive"
                                     resizableColumns="primengDatatableHelper.resizableColumns">
                            
                            <p-column field="programName" header="{{l('ProgramName')}}" id="name" [sortable]="false" [style]="{'width':'150px','font-family': 'Arial'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.name}}
                                </ng-template>
                            </p-column>

                            <p-column field="deleteProgram" header="{{l('Delete')}}" [sortable]="false" [style]="{'width':'120px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span label="Click" (click)="deleteProgram(record,record.name)" title="{{l('Delete')}}" href="javascript:;"><img src="assets/common/images/delete_icon.svg" alt="del_img"></span>
                                </ng-template>
                            </p-column>
                       </p-dataTable>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                             #paginator
                                             (onPageChange)="getAllPrograms($event)"
                                             [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                             [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                </span>
                            </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

