﻿.modalClass {
    padding-left: 60px;
    padding-right: 225px;
}
.floating-label {
    position: relative;
    margin-bottom: 20px;
}
.form-control {
    border-color: dimgray;
    color: black;
}
.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}
.no-drop {
    cursor: no-drop;
}