﻿<div bsModal #ModalActionSubActionArea="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()" *ngIf="actionSubActionMap!=undefined">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add New Action Area")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <!--<select class="form-control" name="actionsArea" [(ngModel)]="actionSubActionMap.actionAreaID" required>
                            <option value="undefined" selected>{{l('Action Area Code')}}</option>
                            <option *ngFor="let a of actionAreaList" value="{{a.id}}">{{a.code}}</option>
                        </select>-->
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select id="lblActionId" class="form-control" name="actionArea" (change)="getAllSubActionByActionID()" [(ngModel)]="actionSubActionMap.actionAreaID" required>
                            <option value="undefined" selected>{{l('Action Area')}}</option>
                            <option *ngFor="let a of actionAreaList | sortMy:'name'" 
                                    value="{{a.id}}">
                             {{a.name}}
                            </option>
                        </select>
                    </div>
                    <!--<div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select class="form-control" name="subactionArea" [(ngModel)]="actionSubActionMap.subActionAreaID" required>
                            <option value="undefined" selected>{{l('Sub Action Area Code')}}</option>
                            <option *ngFor="let s of subActionAreaList" value="{{s.id}}">{{s.code}}</option>
                        </select>                        
                    </div>-->
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select class="form-control" name="subactionArea" [(ngModel)]="actionSubActionMap.subActionAreaID" required>
                            <option value="undefined" selected>{{l('Sub Action Area')}}</option>
                            <option *ngFor="let s of subActionAreaList | sortMy:'name'" 
                                     value="{{s.id}}">
                                     {{s.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                        <div class="input-icon right">
                            <angular2-multiselect [data]="itemList"
                                                  [ngModelOptions]="{standalone: true}"
                                                  [(ngModel)]="selectedItems"
                                                  [settings]="settings"
                                                  (onSelect)="onItemSelect($event)"
                                                  (onDeSelect)="OnItemDeSelect($event)"
                                                  (onSelectAll)="onSelectAll($event)"
                                                  (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>
                            <!--<span class="help-block">Some help goes here...</span>
                            <i class="icon-user"></i>-->
                        </div>
                    </div>
                    <!--<div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <select class="form-control" name="activity" [(ngModel)]="actionSubActionMap.activityID" required>
                            <option value="undefined" selected>{{l('Activity')}}</option>
                            <option *ngFor="let act of activityList | sortMy:'name'"
                                    value="{{act.id}}">
                                    {{act.name}}
                            </option>
                        </select>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>