﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>


<div class="row" style="background-color:white;height:50px;">

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">



        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Regionwise-programme wise sanction details')}}</h4>


        </div>


        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="GetAllRegionWiseWiseList($event.target.value)">
                <option [ngValue]="undefined" disabled selected>Select Year</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body">
                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <!--<div class="primeng-datatable">-->
                    <p-dataTable #dataTable
                                 [value]="Record"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 responsive="primengDatatableHelper.isResponsive">
                        <p-column field="regionName" header="RegionName" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                {{record.regionName}}
                            </ng-template>
                        </p-column>
                        <p-column field="programName" header="programName" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                {{record.programName}}
                            </ng-template>
                        </p-column>


                        <p-column field="grantTotal" header="Project Cost(Grant)" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.grantTotal | number:'1.2-2'}}
                            </ng-template>
                        </p-column>


                        <p-column field="communityConstribution" header="Project Cost(CBO)" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.funderConstribution | number:'1.2-2'}}

                            </ng-template>
                        </p-column>

                        <p-column field="funderConstribution" header="Local Contribution" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.communityConstribution | number:'1.2-2'}}
                            </ng-template>
                        </p-column>
                        <p-column field="otherConstribution" header="Govt Contribution" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.otherConstribution | number:'1.2-2'}}
                            </ng-template>
                        </p-column>

                        <p-column field="totalAll" header="Total" [editable]="true" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.totalAll | number:'1.2-2'}}
                            </ng-template>
                        </p-column>



                    </p-dataTable>

                    <!--</div>-->
                </div>
            </div>
        </div>


        <br />

        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>
</div>

