#chartdiv {
    width : 100%;
    height: 500px;
}

.table tbody {
    display : block;
    overflow: auto;
    height  : 200px;
    width   : 100%;
}

.table thead tr {
    display         : block;
    background-color: #f1f1f1;
}

.table thead tr th {
    font-weight: 600;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: bold;
}

.tableTopDiv {
    margin-top : 20px;
    width      : 96%;
    margin-left: 2%;
}

.padding-20 {
    padding: 20px;
}

.tableBottomDiv {
    width  : 100%;
    display: inline-flex;
    height : 30px;
}

.trialVersionHide {
    position        : absolute;
    height          : 30px;
    width           : 70px;
    background-color: white;
    bottom          : 0px;
}

.tableBottomBar {
    height          : 100%;
    background-color: #f1f1f1;
    padding         : 5px 10px;
    font-weight     : 600;
}

.tableHeaderBackColor {
    background-color: #f1f1f1;
}