<style>
    #chartdiv21 {
        width: 100%;
        height: 500px;
    }

    #RRCchartdiv {
        height: 500px;
    }

    #PMchartdiv {
        height: 500px;
    }
</style>

<div [@routerTransition] id="TenantDashboard">
    <div class="m-subheader">
        <div class="d-flex align-items-center ">
            <div class="mr-auto">
            </div>
            <div *ngIf="roleName=='Admin' || roleName=='Executive Directive'" class="m-content">
                <div class="center padding-20">
                    <h4>Summary for all project</h4>
                </div>

                <div class="row padding-20">
                    <div class="col-md-4" style="margin: auto;">
                        <ng-select [items]="states" [(ngModel)]="stateDash1" name="name" [searchable]="true" [multiple]="true"
                                   [closeOnSelect]="false" (change)="ChangeByState($event)" b placeholder="Select states" bindLabel="name" bindValue="id">
                        </ng-select>
                    </div>
                    <div class="col-md-2 center">
                        <h3 class="font-weight-bold" style="color: blueviolet;">{{BudgetProjectMembersByStateDto.overallTotalProject}}</h3>
                        <h6>Overall total project</h6>
                    </div>
                    <div class="col-md-2 center">
                        <h3 class="font-weight-bold" style="color: blueviolet;">{{BudgetProjectMembersByStateDto.totalProject}}</h3>
                        <h6>Total project</h6>
                    </div>
                    <div class="col-md-2 center">
                        <h3 class="font-weight-bold" style="color: blueviolet;">{{totalProjectBudget | number:'1.0-0'}}</h3>
                        <h6>Total Budget</h6>
                    </div>
                    <div id="MemberPanel1" (mouseout)="changeStyleReverse('MemberPanel1','MemberTitle1','MemberAmount1')" (mouseover)="changeStyle('MemberPanel1','MemberTitle1','MemberAmount1')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(4,UserDetailsDto)">
                        <div class="center">
                            <h3 class="font-weight-bold" style="color: blueviolet;" id="MemberAmount1">{{BudgetProjectMembersByStateDto.totalMembers}}</h3>
                            <h6 id="MemberTitle1">Team Member</h6>
                        </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12">
                            <div class="font-weight-600 center">Action Area by State Wise</div>
                            <div id="AreaActionChart" [style.width.%]="100" [style.height.px]="600"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="font-weight-600 center">Sub Action by Action</div>
                            <div id="SubActionChart" [style.width.%]="100" [style.height.px]="600"></div>
                        </div>
                    </div>

                    <div class="center padding-20">
                        <h4>Budget Vs Actual Performance (Financial Year : {{CurrentFinancialYear}})</h4>
                    </div>

                    <div class="row padding-20">
                        <div class="col-md-12" style="margin-top: 30px;">
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                            <div class="trialVersionHide"></div>
                        </div>
                    </div>

                    <div class="tableTopDiv">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 600px;">Project Name</th>
                                    <th style="width: 260px;">Total Budget</th>
                                    <th style="width: 300px;">Performance Total Expense</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of budgetPerformance.budgetAndExpenseByStateDto">
                                    <td style="width: 600px;">{{item.projectName}}</td>
                                    <td style="width: 260px;">{{item.totalBudget | number:'1.0-0'}}</td>
                                    <td style="width: 300px;">{{item.totalExpense | number:'1.0-0'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tableBottomDiv">
                            <div class="tableBottomBar" style="width: 600px;">Total</div>
                            <div class="tableBottomBar" style="width: 260px;">{{budgetPerformance.sumOfTotalBudget | number:'1.0-0'}}</div>
                            <div class="tableBottomBar" style="width: 320px;">{{budgetPerformance.sumOfTotalExpense | number:'1.0-0'}}</div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12">
                            <div class="font-weight-600 center">RRC Wise expense</div>
                            <div id="RrcWiseActionChart" [style.width.%]="100" [style.height.px]="600"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="font-weight-600 center">Action area Wise expense</div>
                            <div id="ActionAreaWiseChart" [style.width.%]="100" [style.height.px]="600"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="font-weight-600 center">Project Wise expense</div>
                            <div id="ProjectWiseChart" [style.width.%]="100" [style.height.px]="600"></div>
                        </div>

                    </div>

                    <div class="center padding-20">
                        <h4>Demand Summary</h4>
                    </div>

                    <div class="row padding-20">
                        <div class="col-md-12" style="margin-top: 30px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="left" style="width: 500px;">State Name</th>
                                                <th class="left" style="width: 500px;">Demand</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of demandSummaryTable1.demandSummaryByStateDto">
                                                <td class="left" (click)="StateWiseDemandAdminModal.show(item)" style="color:blue;text-decoration:underline; cursor:pointer;width: 500px;">{{item.stateName}}</td>
                                                <td class="left" style="width: 500px;">{{item.demand | number:'1.0-0'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="tableBottomDiv" >
                                        <div class="tableBottomBar left" style="width: 500px;">Total</div>
                                        <div class="tableBottomBar left" style="width: 500px;">{{demandSummaryTable1.totalDemand | number:'1.0-0'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div *ngIf="roleName=='Program Manager'" class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-md-12 col-lg-6 col-xl-2" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-subscription-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0">
                                            Total Project
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalProject}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-3" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-tenants-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0">
                                            Total Budget
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].funderContribution | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="AchievementPanel" class="col-md-12 col-lg-6 col-xl-3 planeColor" (mouseout)="changeStyleReverse('AchievementPanel','labelText','labelAmount')" (mouseover)="changeStyle('AchievementPanel','labelText','labelAmount')" (click)="SummaryModals.show(3,programManagerChartInfo)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos.length>0">
                                <div class="m-widget24 dashboard-statistics1" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="labelText">
                                            Total Achievements
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="labelAmount">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalAchivement | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="MemberPanel" (mouseout)="changeStyleReverse('MemberPanel','MemberTitle','MemberAmount')" (mouseover)="changeStyle('MemberPanel','MemberTitle','MemberAmount')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(1,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseTeamMemberInfos)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="MemberTitle">
                                            Team Members
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="MemberAmount">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].teamMember}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="ProjectManager" (mouseout)="changeStyleReverse('ProjectManager','ProjectManagerTitle','ProjectManagerAmount')" (mouseover)="changeStyle('ProjectManager','ProjectManagerTitle','ProjectManagerAmount')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(2,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectLists)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="ProjectManagerTitle">
                                            Total Project Manager
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectManagerCounts.length>0">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="ProjectManagerAmount">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectManagerCounts[0].projectManagerCount}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div id="loader" class="fa fa-spinner fa-spin" style="font-size: 60px;margin-right: 600px;margin-top: 200px;color:grey">
                </div>-->
                <!-- State wise Budget Vs Actual performance in Current year Graph -->
                <div class="m-portlet" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            State wise Budget Vs Actual performance in Current year
                        </h4>
                        <div id="chartdiv21"></div>
                    </div>
                </div>

                <!--Demand Summary-->

                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            Demand Summary
                        </h4>
                        <p-dataTable #dataTable [value]="programManagerChartInfo.programManagerDashboardDatas[0].stateWiseDemands">
                            <p-column field="stateName" header="State Name" [sortable]="false">
                                <ng-template let-row="rowData" pTemplate="body">
                                    <div (click)="StateWiseDemandModal.show(row)" style="color:blue;text-decoration:underline; cursor:pointer">{{row.stateName}}</div>
                                </ng-template>
                            </p-column>
                            <p-column field="demand" header="Demand" [sortable]="false"></p-column>
                        </p-dataTable>
                    </div>
                </div>

            </div>

            <div *ngIf="roleName=='RRC Incharge'" class="m-content">
              
                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-md-12 col-lg-6 col-xl-2" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-subscription-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0">
                                            Total Project
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalProject}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-3" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-tenants-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0">
                                            Total Budget
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].funderContribution | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="RRCManager" (mouseout)="changeStyleReverse('RRCManager','RRCManagerTitle','RRCManagerAmount')" (mouseover)="changeStyle('RRCManager','RRCManagerTitle','RRCManagerAmount')" class="col-md-12 col-lg-6 col-xl-3" (click)="ActualvsExpenseModals.show(roleName)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos.length>0">
                                <div class="m-widget24 dashboard-statistics1" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="RRCManagerTitle">
                                            Total Achievements
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="RRCManagerAmount">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalAchivement | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="RRCManagerTeam" (mouseout)="changeStyleReverse('RRCManagerTeam','RRCManagerTitleTeam','RRCManagerAmountTeam')" (mouseover)="changeStyle('RRCManagerTeam','RRCManagerTitleTeam','RRCManagerAmountTeam')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(1,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseTeamMemberInfos)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="RRCManagerTitleTeam">
                                            Team Members
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="RRCManagerAmountTeam">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].teamMember}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="RRCProjectManagerTeam" (mouseout)="changeStyleReverse('RRCProjectManagerTeam','RRCProjectManagerTitleTeam','RRCProjectManagerAmountTeam')" (mouseover)="changeStyle('RRCProjectManagerTeam','RRCProjectManagerTitleTeam','RRCProjectManagerAmountTeam')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(2,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectLists)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="RRCProjectManagerTitleTeam">
                                            Total Project Manager
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectManagerCounts.length>0">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="RRCProjectManagerAmountTeam">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectManagerCounts[0].projectManagerCount}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--   Physical Vs Actual performance in year Graph -->
                <div class="m-portlet" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            Physical Vs Actual performance in year
                        </h4>
                        <div style="width:auto;height: 40em;overflow-y: auto;overflow-wrap:break-word;">

                            <div id="RRCchartdiv" style="width:300% !important;"></div>

                        </div>
                    </div>
                </div>
                <!--Demand Summary-->

                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            Demand Summary
                        </h4>
                        <p-dataTable #dataTable [value]="programManagerChartInfo.programManagerDashboardDatas[0].managerwiseWiseDemands">
                            <p-column field="programName" header="Program Name" [sortable]="false">
                                <ng-template let-row="rowData" pTemplate="body">
                                    <div (click)="ProgramWiseDemandModal.show(row)" style="cursor:pointer;color:blue;text-decoration:underline">{{row.programName}}</div>
                                </ng-template>
                            </p-column>
                            <p-column field="demand" header="Demand" [sortable]="false"></p-column>
                        </p-dataTable>
                    </div>
                </div>

            </div>

            <div *ngIf="roleName=='Project Manager'" class="m-content">
                <!--<iframe width="1100" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOGViMGEyYmItMzFkNy00MmRkLTlhNTYtYjcwYTRjODVjNDUxIiwidCI6ImVmMDI4YmQyLWE3MWQtNGZiMC1hNTI0LTM3NjMyN2RlNGYxYyJ9" frameborder="0" allowFullScreen="true"></iframe>-->

                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div id="ProjectManagerTotal" (mouseout)="changeStyleReverse('ProjectManagerTotal','ProjectManagerTitleTotal','ProjectManagerAmountTotal')" (mouseover)="changeStyle('ProjectManagerTotal','ProjectManagerTitleTotal','ProjectManagerAmountTotal')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummarryAllProjects()" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-subscription-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="ProjectManagerTitleTotal">
                                            Total Project
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="ProjectManagerAmountTotal">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalProject}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-3" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 new-tenants-statistics" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0">
                                            Total Budget
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].funderContribution | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="ProjectManagerTotalAch" (mouseout)="changeStyleReverse('ProjectManagerTotalAch','ProjectManagerAchTitleTotal','ProjectManagerAchAmountTotal')" (mouseover)="changeStyle('ProjectManagerTotalAch','ProjectManagerAchTitleTotal','ProjectManagerAchAmountTotal')" class="col-md-12 col-lg-6 col-xl-3" (click)="ActualvsExpenseModals.show(roleName)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos.length>0">
                                <div class="m-widget24 dashboard-statistics1" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="ProjectManagerAchTitleTotal">
                                            Total Achievements
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="ProjectManagerAchAmountTotal">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].totalAchivement | number:'1.2-2'}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="ProjectManagerTeammember" (mouseout)="changeStyleReverse('ProjectManagerTeammember','ProjectManagerTeammemberTitle','ProjectManagerTeammemberAmountTotal')" (mouseover)="changeStyle('ProjectManagerTeammember','ProjectManagerTeammemberTitle','ProjectManagerTeammemberAmountTotal')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(1,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseTeamMemberInfos)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="ProjectManagerTeammemberTitle">
                                            Team Members
                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="ProjectManagerTeammemberAmountTotal">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].teamMember}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="ProjectTrackingStaff" (mouseout)="changeStyleReverse('ProjectTrackingStaff','ProjectTrackingStaffTitle','ProjectTrackingStaffAmountTotal')" (mouseover)="changeStyle('ProjectTrackingStaff','ProjectTrackingStaffTitle','ProjectTrackingStaffAmountTotal')" class="col-md-12 col-lg-6 col-xl-2" (click)="SummaryModals.show(1,programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseTeamMemberInfos)" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                                <div class="m-widget24 dashboard-statistics2" style="text-align:center">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title ml-0" id="ProjectTrackingStaffTitle">
                                            Physical Tracking Staff

                                        </h4>
                                    </div>
                                    <div class="m-widget24__item">
                                        <span class="m-widget24__stats m--font-brand" style="margin-top:0.6rem !important;float:none;text-align: center !important;" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas[0].programManagerWiseProjectManagerCounts.length>0">
                                            <span class="new-subscription-amount counterup" style="cursor:pointer" id="ProjectTrackingStaffAmountTotal">
                                                {{programManagerChartInfo.programManagerDashboardDatas[0].programManagerDashboardInfos[0].teamMember}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--   Physical Vs Actual performance in year Graph -->
                <div class="m-portlet" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined && programManagerChartInfo.programManagerDashboardDatas.length>0">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            Physical Vs Actual performance in year
                        </h4>
                        <div id="PMchartdiv"></div>
                    </div>
                </div>

                <!--Demand Summary-->

                <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding" *ngIf="programManagerChartInfo!=undefined && programManagerChartInfo.programManagerDashboardDatas != undefined" style="padding: 10px;">
                        <h4 class="modal-title" style="width: 95%; padding: 10px;text-align: center;">
                            Demand Summary
                        </h4>
                        <p-dataTable #dataTable [value]="programManagerChartInfo.programManagerDashboardDatas[0].managerwiseWiseDemands">
                            <p-column field="programName" header="Program Name" [sortable]="false">
                                <ng-template let-row="rowData" pTemplate="body">
                                    <div (click)="ProgramWiseDemandModal.show(row)" style="cursor:pointer;color:blue;text-decoration:underline">{{row.programName}}</div>
                                </ng-template>
                            </p-column>
                            <p-column field="demand" header="Demand" [sortable]="false"></p-column>
                        </p-dataTable>


                    </div>

                    <div class="m-portlet">
                        <div class="m-portlet__body  m-portlet__body--no-padding" id="summry" style="display:none;padding: 10px;">

                            <h4 class="modal-title" style="width: 95%; padding: 10px;">
                                Summary All Projects
                            </h4>
                            <p-dataTable #dataTable [value]="summrryallprojects"
                                         rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         [lazy]="true"
                                         emptyMessage="{{l('NoData')}}"
                                         responsive="primengDatatableHelper.isResponsive">
                                <p-column field="programName" header="Program Name" [sortable]="false"></p-column>
                                <p-column field="projectStatus" header="Project Status" [sortable]="false"></p-column>
                            </p-dataTable>

                            <br />
                            <h4 class="modal-title" style="width: 95%; padding: 10px;">
                                Latest Activity Assigned Report
                            </h4>
                            <p-dataTable #dataTable [value]="Record"
                                         rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         [paginator]="false"
                                         [lazy]="true"
                                         emptyMessage="{{l('NoData')}}"
                                         responsive="primengDatatableHelper.isResponsive">
                                <p-column field="programName" header="Program Name"></p-column>
                                <p-column field="activityName" header="Activity Name"></p-column>
                                <p-column field="subActivityName" header="SubActivity Name"></p-column>
                                <p-column field="assignTo" header="Assigned To" [style]="{'width':'15%'}"></p-column>
                                <p-column field="projectStatus" header="Project Status" [style]="{'width':'7%'}"></p-column>

                            </p-dataTable>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                             #paginator
                                             (onPageChange)="changePage($event)"
                                             [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                             [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                </span>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="modal-title" style="width: 95%; padding: 10px;">
                                        Budget Vs Actual Performance
                                    </h4>
                                    <p-dataTable #dataTable [value]="budgetvsactualperm"
                                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                 [lazy]="true"
                                                 emptyMessage="{{l('NoData')}}"
                                                 responsive="primengDatatableHelper.isResponsive">
                                        <p-column field="programName" header="Program Name" [sortable]="false"></p-column>
                                        <p-column field="funderContribution" header="Budget" [sortable]="false" [style]="{'width':'10%','text-align':'center'}"></p-column>
                                        <p-column field="expenseAmount" header="Performance(total Expense)" [sortable]="false" [style]="{'width':'17%','text-align':'center'}"></p-column>



                                    </p-dataTable>
                                </div>
                                <!--<div class="col-sm-6">
                                    <h4 class="modal-title" style="width: 95%; padding: 10px;">
                                        Report
                                    </h4>
                                    <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
                                        <tr style="width:100%">
                                            <th style="width:30%">Expenditure</th>
                                            <td style="width:70%">
                                                <a href="https://pms.wotr.org.in/app/main/ExpensesDetails">
                                                    Link
                                                </a>
                                            </td>
                                        </tr>

                                    </table>

                                </div>-->

                            </div>
                            <h4 class="modal-title" style="width: 95%; padding: 10px;">
                                Total
                            </h4>
                            <p-dataTable #contractsDT [style]="{'font-size':'14px'}"
                                         [rowStyleClass]="rowClass"
                                         class='primeNGDataTable'
                                         [value]="totalbudgettotalexpense"
                                         [responsive]="true"
                                         rowGroupMode="rowspan"
                                         sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                <p-headerColumnGroup>
                                    <p-row>
                                        <p-column header="{{l('Name of Project')}}" rowspan="2" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Budget')}}" colspan="3" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Expense')}}" colspan="3" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Balance')}}" colspan="2" [style]="{'width':'3%','background-color':'gainsboro'}"></p-column>

                                    </p-row>
                                    <p-row>
                                        <p-column header="{{l('Grant')}}"></p-column>
                                        <p-column header="{{l('Contribution')}}"></p-column>
                                        <p-column header="{{l('Gov')}}"></p-column>
                                        <p-column header="{{l('Project')}}"></p-column>
                                        <p-column header="{{l('Community Contribution Received')}}"></p-column>
                                        <p-column header="{{l('Govt.')}}"></p-column>
                                        <p-column header="{{l('Project')}}"></p-column>
                                        <p-column header="{{l('Community')}}"></p-column>

                                    </p-row>
                                </p-headerColumnGroup>
                                <p-column field="programName" [style]="{'width':'50px' ,'text-align':'left'}">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        <div (click)="clustorwise(row)" style="cursor:pointer;color:blue;text-decoration:underline">{{row.programName}}</div>
                                    </ng-template>
                                </p-column>

                                <p-column field="funderContribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="communityContribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="othercontribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="expenseAmount" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="communitycontributionreceived" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="govcontributionreceived" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="totalBalanceamount" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="totalBalanceCommunity" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>


                            </p-dataTable>

                            <br />
                            <p-dataTable #contractsDT [style]="{'font-size':'14px'}"
                                         [rowStyleClass]="rowClass"
                                         class='primeNGDataTable'
                                         [value]="clustorwisetotalbudgettotalexpense"
                                         [responsive]="true"
                                         rowGroupMode="rowspan"
                                         sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                <p-headerColumnGroup>
                                    <p-row>
                                        <p-column header="{{l('Clustor / Village')}}" rowspan="2" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Budget')}}" colspan="3" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Expense')}}" colspan="3" [style]="{'width':'4%','background-color':'gainsboro'}"></p-column>
                                        <p-column header="{{l('Total Balance')}}" colspan="2" [style]="{'width':'3%','background-color':'gainsboro'}"></p-column>

                                    </p-row>
                                    <p-row>
                                        <p-column header="{{l('Grant')}}"></p-column>
                                        <p-column header="{{l('Contribution')}}"></p-column>
                                        <p-column header="{{l('Gov')}}"></p-column>
                                        <p-column header="{{l('Project')}}"></p-column>
                                        <p-column header="{{l('Community Contribution Received')}}"></p-column>
                                        <p-column header="{{l('Govt.')}}"></p-column>
                                        <p-column header="{{l('Project')}}"></p-column>
                                        <p-column header="{{l('Community')}}"></p-column>

                                    </p-row>
                                </p-headerColumnGroup>
                                <p-column field="clustorName" [style]="{'width':'50px' ,'text-align':'left'}">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{row.clustorName}}   {{row.vilageName}}
                                    </ng-template>
                                </p-column>

                                <p-column field="funderContribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="communityContribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="othercontribution" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>

                                <p-column field="expenseAmount" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="communitycontributionreceived" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="govcontributionreceived" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="totalBalanceamount" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>
                                <p-column field="totalBalanceCommunity" [style]="{'width':'50px' ,'text-align':'center'}"></p-column>


                            </p-dataTable>

                            <div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <ProgramManagerSummary #SummaryModals></ProgramManagerSummary>
    <Actualvsexpense #ActualvsExpenseModals></Actualvsexpense>
    <StateWiseDemandModal #StateWiseDemandModal></StateWiseDemandModal>
    <ProgramWiseDemandModal #ProgramWiseDemandModal></ProgramWiseDemandModal>
    <StateWiseDemandAdminModal #StateWiseDemandAdminModal></StateWiseDemandAdminModal>


</div>

