﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    #table thead {
        display: none;
    }
</style>
<div [@routerTransition]>
    <div #regionSpending>
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;">
                    <button class="w3-button w3-black w3-display-left" (click)="funActivityMaping()" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button>
                </span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="row">
                    <div class="col-sm-3 hrLine" align="center" (click)="funComponents()">
                        <a href="javascript:;" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                        <span class="badge">{{l('Action Area & Sub Action Area')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramCostEstimation()">
                        <a href="javascript:;" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                        <span class="badge">{{l('Overview Of Program Cost')}}</span>
                    </div>
                    <div class="col-sm-3 pl-0 hrLine" align="center" (click)="funActivityMaping()">
                        <a href="javascript:;" class="hrefLink">{{l('ACTIVITY MAPPING')}}</a><br />
                        <span class="badge">{{l('Mapping Component activity with Action Area')}}</span>
                    </div>
                    <div class="col-sm-3" align="center">
                        <a href="javascript:;" id="id1" class="hrefLink">{{l('REGION & SPENDDING')}}</a><br />
                        <span id="id1" class="badge">{{l('Map Component activity with action area')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                    <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
                </span>
            </div>
        </div>
        <form (ngSubmit)="save()" class="form-horizontal" autocomplete="off">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let pr of ProgramRegionSpending;let i=index">
                <div class="panel-heading active" role="tab" id="headingOne">
                    <h4 class="panel-title" style="float:left">
                        <a class="btn btn-link" customClass="m-tabs__item" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                            {{pr.componentName}}
                        </a>
                    </h4>
                    <span class="fa fa-angle-right" style="float:right;margin-right:20px;margin-top:10px;"></span>
                </div>
                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="col-lg-12 col-xs-12 col-sm-12" id="tableBody">
                            <div class="tabbable-line" style="background-color:white;">
                                <ul class="nav nav-tabs">
                                    <li class="active" style="margin-left:0px;margin-right: 25px" id="yearTag" *ngFor="let y of pr.costEstimationYear;let c=index">
                                        <a href="#tab_{{i}}_{{c}}"  data-toggle="tab" aria-expanded="true">{{y.costEstimationYear}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_{{i}}_{{c}}" *ngFor="let a of pr.costEstimationYear ;let c=index">
                                    <div class="portlet-body">
                                        <p-dataTable 
                                                     (onLazyLoad)="getAllReginSpending()"
                                                     [value]="a.activity" 
                                                     [immutable]="false" 
                                                     [style]="{'font-size':'10px'}"
                                                     sortField="activityName" expandableRows="true">

                                            <p-headerColumnGroup>
                                                <p-row>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Activity')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Unit Of measure')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Total Unit')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Unit Cost')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Total  Cost')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Community Contribution (RS)')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Funder Contribution (RS)')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Other Contribution (RS)')}}"></p-column>
                                                    <p-column [style]="{'background-color':'gainsboro','font-size':'10px'}" header="{{l('Location')}}"></p-column>
                                                </p-row>
                                            </p-headerColumnGroup>
                                            <p-column field="activityName" colspan="2">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.activityName}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="unitOfMeasuresName"></p-column>
                                            <p-column field="totalUnits"></p-column>
                                            <p-column field="unitCost">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.unitCost | number:'1.2-2'}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="totalUnitCost">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="communityContribution">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="grant">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.grant | number:'1.2-2'}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="otherContribution">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                                </ng-template>
                                            </p-column>
                                           
                                            <p-column expander="true" styleClass="col-icon">
                                                <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                    <div class="tabbable-line" style="float: right;margin-top: -5px;" *ngIf="record.activityLevel != '1'">
                                                        <ul class="nav nav-tabs">
                                                            <li>
                                                                <a class="fa fa-plus-circle" (click)="DivideUnits(record.subUnitActivity,record)" data-toggle="tab" aria-expanded="true"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                   
                                                </ng-template>
                                            </p-column>
                                            <ng-template let-unit="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                                <!--<div class="row" style="width: 102.1%;margin-top: -1%;padding-left: 0.6%; padding-right: 0.3%;">-->
                                                <div class="row" style="width: 101.3%;margin-left: -0.6%;margin-top: -0.7%;">
                                                    <p-dataTable [value]="a.activity[rie].subUnitActivity"
                                                                 [immutable]="false"
                                                                 id="table">
                                                        <p-column field="activityName" [style]="{'width':'11%'}">
                                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                <div class="col-lg-12 form-group form-md-line-input">
                                                                    <a class="fa fa-minus-circle" (click)="removeSigleChoice(a.activity[rie].subUnitActivity,ri,record)" data-toggle="tab" aria-expanded="true"></a>
                                                                </div>
                                                            </ng-template>

                                                        </p-column>
                                                        <p-column field="unitOfMeasuresName" [style]="{'width':'11.2%'}"></p-column>
                                                        <p-column field="totalUnits" [style]="{'width':'11.1%'}">
                                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                <div class="col-lg-12 form-group form-md-line-input">
                                                                    <input type="text"
                                                                           name="txtTotalUnit_{{i}}_{{c}}_{{rie}}_{{ri}}"
                                                                           style="width:100%"
                                                                           [(ngModel)]="record.totalUnits"
                                                                           (keyup)="cal(record,a.activity[rie])"
                                                                           pattern="^\d+$"
                                                                           maxlength="10"
                                                                           required>
                                                                </div><!--modified For Validation-->
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="unitCost" [style]="{'width':'11.1%'}"></p-column>
                                                        <p-column field="totalUnitCost" [style]="{'width':'11.1%'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="communityContribution" [style]="{'width':'11.2%'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="grant" [style]="{'width':'11.2%'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <span class="text">{{record.grant | number:'1.2-2'}}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="otherContribution" [style]="{'width':'11.2%'}">
                                                            <ng-template let-record="rowData" pTemplate="body">
                                                                <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column [style]="{'width':'11.1%'}">
                                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                <div class="row" style="padding-left:0px" *ngFor="let r of prgVillageClusterList">
                                                                    <div class="col-sm-12" style="padding-left:12px" *ngIf="a.activity[rie].activityLevel == 2">
                                                                        <select style="width:100%" name="regionLoaction{{i}}{{c}}{{rie}}{{ri}}" [(ngModel)]="record.regionLocationName" (change)="changeLocation(record,$event,i,c,b,a.activity[rie])">
                                                                            <option value="undefined" selected>{{l('Select RRC')}}</option>
                                                                            <option value="{{rr.rRcName}},{{rr.rrcid}}" *ngFor="let rr of r.rRc">{{rr.rRcName}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-12" style="padding-left:12px" *ngIf="a.activity[rie].activityLevel != 2">
                                                                        <select style="width:100%" name="regionLoaction{{i}}{{c}}{{rie}}{{ri}}" [(ngModel)]="record.regionLocationName" (change)="changeLocation(record,$event,i,c,b,a.activity[rie])">
                                                                            <option value="undefined" selected>{{l('Select Village Cluster')}}</option>
                                                                            <option value="{{vc.name}},{{vc.id}}" *ngFor="let vc of r.villageClusterList">{{vc.name}}</option>
                                                                        </select>
                                                                    </div>


                                                                </div>

                                                            </ng-template>
                                                        </p-column>

                                                    </p-dataTable>


                                                </div>
                                            </ng-template>
                                        </p-dataTable>


                                        <!--<div class="tab-content">
                                            <div class="tab-pane" id="mapId_{{i}}_{{c}}_{{b}}" *ngFor="let p of a.activity;let b=index">

                                                <div class="row" style="font-size: 15px;margin-top: 30px; padding-right: 20px;">
                                                    <div class="col-md-5">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="checkbox" name="programLevel" value="programLevel" (change)="changeProLevel(p,$event)"> {{l('Program Level')}}
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select style="width:100%" (change)="changeLocation(p,$event,i,c,b)">
                                                            <option value="undefined" selected>{{l('Select RRC')}}</option>
                                                            <option value="{{r.name}},{{r.id}}" *ngFor="let r of RRcList">{{r.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select style="width:100%" (change)="changeLocation(p,$event,i,c,b)">
                                                            <option value="undefined" selected>{{l('Select Village Cluster')}}</option>
                                                            <option value="{{vc.name}},{{vc.id}}" *ngFor="let vc of villageClusterList">{{vc.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div id="googleMap_{{i}}_{{c}}_{{b}}" style="height:250px;margin-top:10px;"></div>

                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funActivityMaping()">
                    {{l('Back')}}
                </button>
                <button type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;">
                    <i class="fa fa-save"></i>{{l('Save & Continue')}}
                </button>
            </div>
        </form>
    </div>

</div>