﻿<style>
    .primeng-datatable-container .ui-datatable table thead tr th {
        background-color: #e6e6e6 !important;
        font-size: 13px;
        font-family: Poppins;
        font-weight: 300;
        line-height: 13px;
        vertical-align: middle;
    }
    #activityMappingTree .jstree-default .jstree-anchor {
        color: black;
    }
</style>
<div [@routerTransition]>    
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="row">
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramCluster()">
                        <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM CLUSTER')}}</a><br />
                        <span class="badge" id="id3">{{l('Program Cluster Mapping Area ')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funComponents()">
                        <a href="javascript:;" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                        <span class="badge">{{l('Action Area & Sub Action Area')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramCostEstimation()">
                        <a href="javascript:;" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                        <span class="badge">{{l('Overview Of Program Cost')}}</span>
                    </div>
                    <div class="col-sm-3" align="center">
                        <a href="javascript:;" id="id1" class="hrefLink">{{l('ACTIVITY MAPPING')}}</a><br />
                        <span id="id1" class="badge">{{l('Mapping Component activity with Action Area')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                    <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
                </span>
            </div>
        </div>
        <form (ngSubmit)="save()" class="form-horizontal" autocomplete="off">
            <div class="row">
                <div class="col-md-9">
                    <div id="accordion">
                        <div class="mainAccordion" *ngFor="let activityMapping of ActivityMappingRecord;let i =index">
                            <div class="panel-heading" id="headingOne">
                                <a class="btn btn-link" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{activityMapping.componentName}}
                                </a>
                                <span id="span1" style="float:right" class="fa fa-angle-down"></span>
                            </div>
                            <div class="col-md-12">
                                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                 
                                        <div class="primeng-datatable-container"
                                             [busyIf]="primengDatatableHelper.isLoading">
                                            <p-dataTable #dataTable
                                                         (onLazyLoad)="getAllProgramActivityMapping()"
                                                         [value]="activityMapping.activity"
                                                         rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                         [paginator]="false"
                                                         [immutable]="false"
                                                         scrollable="true"
                                                         ScrollWidth="100%"
                                                         [style]="{'background-color':'white'}"
                                                         emptyMessage="{{l('NoData')}}"
                                                         sortField="activityName"
                                                         [responsive]="primengDatatableHelper.isResponsive">
                                                <p-column field="activityName" id="First{{i}}"
                                                          header="{{l('Activity')}}"
                                                          [sortable]="false"
                                                          [style]="{'width':'150px'}"
                                                          [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                            </div>
                                                            <div class="col-sm-10">
                                                                {{record.activityName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-column>

                                                <p-column field="actionAreaName" header="{{l('Actio Area-Sub Action Area-Activity')}}" [sortable]="false" [style]="{'width':'400px'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <div class="" id="divOne">
                                                                    <!--{{record.actionAreaName}}&nbsp;&nbsp;&nbsp;&nbsp; {{record.subActionAreaName}}&nbsp;&nbsp;&nbsp;&nbsp; {{record.activityName}}-->


                                                                </div>
                                                                <div class="" id="divTwo">
                                                                    <select name="action{{i}}_{{ri}}" style="width:100%;border:none;background-color:transparent" [(ngModel)]="record.prgActionAreaAcivityMapId"  (change)="AddTree(record,$event)">
                                                                        <option value="" selected>{{l('Select Values')}}</option>
                                                                        <option *ngFor="let ac of record.actionSubAction" value="{{ac.actionAreaID}},{{ac.subActionAreaID}},{{ac.activityID}}">{{ac.subActionCode}}/-{{ac.activityName}}</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-1" align="center">
                                                                <i class="fa fa-plus-circle" style="font-size:20px; color:deepskyblue" (click)="AddActivity(record,activityMapping)"></i>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="divshadow" style="margin-left:-15px">
                    <div class="panel">
                        <div class="panelHeading">
                            <label for="lblHeading" id="lblHeading">
                                {{l('Action Area - Sub Action Area - Activity')}}
                            </label>
                        </div>
                        <hr />
                        <div class="panel-body">
                            <div #activityMappingTree style="height:55vh;overflow: auto;color:black;"></div>                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:25px">
                <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funProgramCostEstimation()">
                    {{l('Back')}}
                </button>
                <button type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;">
                    <i class="fa fa-save"></i>{{l('Save & Continue')}}
                </button>
            </div>
        </form>
    </div>
