﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {       
        padding-top: 13px;
    }

    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#HeaderClass3 {
    margin-bottom: 20px;
}
#divshadow {
    box-shadow: 0px 0px 10px 1px #888;
    border-top: solid 9px;
    border-top-color: #29ABE2;
    
}
hr {
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -14px;
    margin-right: -14px;
    color: black;
    margin-left: -15px;
}
.btn {
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin-top:-5px;
}
#headingOne {
    padding-right: 50px;   
}
.card-body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}