﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 95%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #e6e6e6;
            color: #212529;
        }
</style>
<div class="row" style="background-color:white;height:50px;">


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">
        <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
        <h4> {{l('Overall Actionareawise Activitity sanctioned budget ')}}</h4>

        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">


            <select class="form-control"
                    [(ngModel)]="actionareas.id"
                    name="PrgramName"
                    required
                    >
                <option value="undefined" disabled selected>{{l('Select Action')}}</option>
                <option value="{{a.id}}" *ngFor="let a of actionarea | sortMy:'name'">{{a.name}}</option>
            </select>
            <br/>
            <select class="form-control"
                    name="yeras"
                    required
                    (change)="getAllProgrambyid(actionareas.id,$event.target.value)">
                <option value="0" disabled selected>{{l('Select Year')}}</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>



        </div>
        <!--<div *ngFor="let details of program; let in=index"></div>
    <div *ngFor="let details1 of programd; let in=index"></div>-->

        <div id="a">


            <div>

                <div>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th>Program Name</th>
                                <th>Sub Action</th>
                                <th>Activity</th>
                                <th>Units</th>
                                <th>Project Cost(Grant) </th>
                                <th>Project Cost CBOs </th>
                                <th>Local Contribution </th>
                                <th> Govt. Contribution </th>
                                <th> Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ca of actionareawise;let i=index">
                                <td>
                                    {{ca.programName}}
                                </td>
                                <td>
                                    {{ca.subActionAreaName}}
                                </td>
                                <td>
                                    {{ca.activityName}}
                                </td>
                                <td>
                                    {{ca.totalUnits}}
                                </td>
                                <td>
                                    {{ca.grantamount}}
                                </td>
                                <td>
                                    {{ca.funderContribution | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{ca.communityContribution | number:'1.2-2'}}
                                </td>

                                <td>
                                    {{ca.otherConstribution | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{ca.total | number:'1.2-2'}}
                                </td>


                            </tr>
                        </tbody>
                    </table>



                </div>



            </div>






            <br />

            <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


        </div>
    </div>
</div>
