﻿<style>
    #chartdiv {
        width:100%;
        height: 500px;
    }
</style>

<div bsModal #summaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="summaryModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%" *ngIf="type==1 || type == 4">
                        Staff List
                    </h4>
                    <h4 class="modal-title" style="width:95%" *ngIf="type==2">
                        Project Manager List
                    </h4>
                    <h4 class="modal-title" style="width:95%" *ngIf="type==3">
                        State wise Budget Vs Actual performance in year
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                <div class="modal-body" style=" height: 40em; overflow-y: auto; overflow-wrap:break-word;">
                    <p-dataTable #dataTable [value]="data" *ngIf="type==1">
                        <p-column field="staff_Name" header="Name" [sortable]="false" [style]="{'width':'25%'}"></p-column>
                        <p-column field="emailAddress" header="Email Address" [sortable]="false"></p-column>
                        <p-column field="mobileNumber" header="Mobile Number" [sortable]="false" [style]="{'width':'17%','text-align':'center'}"></p-column>
                        <p-column field="designation" header="Designation" [sortable]="false" [style]="{'width':'19%','text-align':'center'}"></p-column>
                    </p-dataTable>
                    <p-dataTable #dataTable [value]="data" *ngIf="type==2">
                        <p-column field="projectName" header="Project Name" [sortable]="false" [style]="{'width':'75%'}"></p-column>
                        <p-column field="projectManagerName" header="Project Manager Name" [style]="{'width':'25%','text-align':'center'}" [sortable]="false"></p-column>
                    </p-dataTable>
                    <div class="col-md-12" *ngIf="type==3">
                        <div id="loader" class="fa fa-spinner fa-spin" style="font-size: 60px;margin-left: 350px;margin-top: 250px;color:grey">
                        </div>
                        <div id="chartdiv"></div>
                    </div>
                    <p-dataTable #dataTable [value]="data" *ngIf="type==4">
                        <p-column field="staffName" header="Name" [sortable]="false" [style]="{'width':'25%'}"></p-column>
                        <p-column field="emailAddress" header="Email Address" [sortable]="false"></p-column>
                        <p-column field="mobileNo" header="Mobile Number" [sortable]="false" [style]="{'width':'17%','text-align':'center'}"></p-column>
                        <p-column field="designation" header="Designation" [sortable]="false" [style]="{'width':'19%','text-align':'center'}"></p-column>
                    </p-dataTable>

                </div>
            </form>
        </div>
    </div>
    <ProjectWiseBarChart #ProjectWiseBarChartModals></ProjectWiseBarChart>
</div>