﻿<div bsModal #StateWiseDemandAdminModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="StateWiseDemandAdminModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%">
                         State Wise Demand List
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto;height: 40em;overflow-y: auto; overflow-wrap:break-word;">
                    <p-dataTable #dataTable [value]="demandWiseProjectData">
                        <p-column field="projectName" header="Project Name" [sortable]="false">
                            <ng-template let-row="rowData" pTemplate="body">
                                <div (click)="ProjectWiseDemandAdminModal.show(row)"  style="color:blue;text-decoration:underline">{{row.projectName}}</div>
                            </ng-template>
                        </p-column>
                        <p-column field="demand" header="Demand" [sortable]="false" [style]="{'width':'20%','text-align':'center'}">
                            <ng-template let-row="rowData" pTemplate="body">
                               {{row.demand | number:'1.0-0'}}
                            </ng-template>
                        </p-column>
                        <p-column field="demandRemaining" header="Demand Remaining" [sortable]="false" [style]="{'width':'20%','text-align':'center'}">
                            <ng-template let-row="rowData" pTemplate="body">
                               {{row.demandRemaining | number:'1.0-0'}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </form>
        </div>
    </div>
</div>
<ProjectWiseDemandAdminModal #ProjectWiseDemandAdminModal></ProjectWiseDemandAdminModal>