﻿
<div class="row" style="background-color:white;height:50px;">


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div>
        <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
        <h4> {{l('Details of the Programme- Project Area, Components and Activities')}}</h4>
    </div>
    <br/>
    <div class="portlet-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="PrgramName"
                    required
                   >
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="getAllProgramebyId(programd.id,$event.target.value)">
                <option [ngValue]="undefined" disabled selected>Select Year</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>
        <div id="a">



            <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
                <tr style="width:100%">
                    <th style="width:30%">Program Title</th>
                    <td style="width:70%">
                        {{programName}}
                    </td>
                </tr>

                <tr style="width:100%">
                    <th style="width:30%">Funding Agency</th>
                    <td style="width:70%">
                        {{DonorName}}
                    </td>
                </tr>

                <tr>
                    <th style="width:30%">Sanction Year</th>
                    <td style="width:70%">
                        {{SanctionedYear}}
                    </td>
                </tr>

                <tr>
                    <th style="width:30%">Program Start Date</th>
                    <td style="width:70%">
                        {{startdate}}
                    </td>


                </tr>
                <tr>
                    <th style="width:30%"> Program End Date</th>
                    <td style="width:70%">
                        {{EndDate}}
                    </td>

                </tr>

                <tr>
                    <th style="width:30%">Grant Amount</th>
                    <td style="width:70%">
                        {{Granamout | number:'1.2-2'}}
                    </td>
                </tr>
            </table>

            <br />
            <h6> List of Villages for Project clusterwise </h6>




            <div class="primeng-datatable-container">
                <div class="primeng-datatable">
                    <p-dataTable #dataTable
                                 [value]="villageClusterList"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 scrollable="true"
                                 ScrollWidth="100%"
                                 style=""
                                 responsive="primengDatatableHelper.isResponsive"
                                 resizableColumns="primengDatatableHelper.resizableColumns">

                        <p-column field="name" header="{{l('Cluster')}}" [editable]="true" [style]="{'width':'150px'}">

                        </p-column>


                        <p-column field="villageName" header="{{l('Village')}}" [sortable]="false" [style]="{'width':'150px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <ul>
                                    <li *ngFor="let v of record.villages">{{v.name}}</li>
                                </ul>

                            </ng-template>
                        </p-column>

                    </p-dataTable>

                </div>
            </div>
            <br />
            <h6> Cost Estimation Plan : Overall For All Year </h6>
            <div class="row">
                <table id="customers">
                    <thead>
                        <tr role="row">
                            <th> Component </th>


                        </tr>
                    </thead>
                    <tbody *ngFor="let Component of ComponentList; let in=index" class="col-sm-6">
                        <tr>
                            <td>
                                {{Component}}
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>


            <br />
            {{l('Activity')}}

            <table id="customers">
                <thead>
                    <tr role="row">
                        <th> Activity</th>
                        <th>TotalUnit</th>
                        <th>CostPerUnit</th>
                        <th>Total Cost</th>
                        <th>CommunityContribution</th>
                        <th>FunderContribution</th>
                        <th>OtherContribution</th>

                    </tr>
                </thead>
                <tbody *ngFor="let Activity of ActivityList; let in=index;">
                    <tr>
                        <td>
                            {{Activity.ActivityName}}
                        </td>
                        <td>
                            {{Activity.TotalUnit}}
                        </td>
                        <td>
                            {{Activity.UnitCost | number:'1.2-2'}}
                        </td>
                        <td>
                            {{Activity.TotalUnitCost | number:'1.2-2'}}
                        </td>
                        <td>
                            {{Activity.CoomunityContribution | number:'1.2-2'}}
                        </td>
                        <td>
                            {{Activity.FunderContribution | number:'1.2-2'}}
                        </td>
                        <td>
                            {{Activity.OtherContribution | number:'1.2-2'}}
                        </td>

                    </tr>
                </tbody>
            </table>

            <br />
            <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


        </div>
    </div>
</div>
