﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>
<div class="row" style="background-color:white;height:50px;">

</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">


            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select class="form-control"
                        [(ngModel)]="programd.id"
                        name="ProgramName"
                        required
                        (change)="getcostestimationyear(programd.id)">
                    <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                    <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
                </select>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select class="form-control"
                        name="Year"
                        required
                      
                        (change)="getAllProgrambyid(programd.id,$event.target.value)">
                    <option value="undefined" disabled selected>{{l('Select Year')}}</option>
                    <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
                </select>
            </div>

        </div>
        <!--<div *ngFor="let details of program; let in=index"></div>
        <div *ngFor="let details1 of programd; let in=index"></div>-->

        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>

        </div>
        <div>
            <h3> {{l('Summary of Physical and Financial Progress')}}</h3>

        </div>
        <div>
            <h5> {{l('To be submitted in every quarter')}}</h5>

        </div>


        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr style="width:100%">
                <th style="width:30%">Program Title</th>
                <td style="width:70%">
                    {{programName}}
                </td>
            </tr>

            <tr style="width:100%">
            <th style="width:30%">Block </th>
            <td style="width:70%">
                {{locationName}}
            </td>
        </tr>

            <tr>
                <th style="width:30%">Name of the watershed</th>
                <td style="width:70%">
                    {{managerName}}
                </td>
            </tr>
    


        </table>
        <br />


        <div id="accordion">
            <div class="mainAccordion" *ngFor="let r of requestList;let i=index;">

                <div class="card-body">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                            <li class="active" style="margin-left:0px" id="yearTag" *ngFor="let c of r.costEstimationYear;let co=index;">
                                <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true"><h4>{{c.costEstimationYear}}</h4> </a>
                            </li>
                        </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                                <div class="col-sm-3" style="margin-top: -10px;margin-left: -16px;">
                                    <span class="badge badge-danger" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>
                                    <span class="badge badge-danger" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>
                                    <span class="badge badge-danger" *ngIf="c.requestStatus =='Approved'" style="color:white;font-size: 12PX;height: 27px;width: 92PX;">{{c.requestStatus}}</span>

                                </div>

                                <br />
                                <div class="portlet-body">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                 [value]="c.actionSubactionCost" [responsive]="true" rowGroupMode="rowspan"
                                                 sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Area Treatment')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quantity')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quantity')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Shramdhan Amount')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total excluding Shramdhan')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Expenditure Details')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('Treated Area')}}"></p-column>
                                                <p-column header="{{l('Quantity')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            </p-row>
                                        </p-headerColumnGroup>
                                        <p-column field="actionAreaName" [style]="{'width':'100px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.actionAreaName}}</span>
                                            <span class="text">-{{record.subActionAreaName}}</span>
                                                <span class="text">{{record.activityName}}</span>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="totalUnits" [style]="{'width':'50px'}"></p-column>
                                    <p-column field="unitCost" [style]="{'width':'50px'}"></p-column>
                                    <p-column field="totalUnitCost" [style]="{'width':'50px'}"></p-column>
                                    <p-column field="communityContribution" [style]="{'width':'80px'}"></p-column>
                                    <p-column field="funderContribution" [style]="{'width':'80px'}"></p-column>
                                    <p-column field="otherContribution" [style]="{'width':'50px'}"></p-column>


                                        <p-column field="quarter1PhysicalUnits">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />

                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter1FinancialRs">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter2PhysicalUnits">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter2FinancialRs">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter3PhysicalUnits">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter3FinancialRs">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter4PhysicalUnits">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>
                                        <p-column field="quarter4FinancialRs">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                            <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                        </ng-template>
                                        </p-column>

                                        <p-footerColumnGroup>
                                            <p-row>
                                                <p-column footer="Sub Total Area Treatment:"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer="{{c.subTotalAreaTreatment}}"></p-column>
                                                <p-column footer="{{c.subTotalUnitCost}}"></p-column>
                                            <p-column footer="{{c.subTotalofTotalCost}}"></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>
                                            <p-column footer=""></p-column>


                                            </p-row>
                                        </p-footerColumnGroup>
                                    </p-dataTable>




                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

            </div>

        </div>


        <br />
        <!--<button (click)="createPdf()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("pdf")}}</button>-->

        <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>

