﻿<style>
    #chartdiv1 {
        height: 500px;
    }
</style>
<div bsModal #projectWiseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectWiseModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header" style="background-color:#f4f5f8;text-align:center;"> 
                    <h4 class="modal-title" style="width:95%">
                        Projectwise current year Physical Vs Achievements
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto; height: 40em; overflow-y: auto; overflow-wrap:break-word;">
                    <div class="col-md-12">
                        <!--<p-chart *ngFor="let line of data.programManagerProgramStateWiseBudgetBarChart" (click)="SimpleBarChartModals.show(data)" type="bar" [data]="line"></p-chart>-->
                        <!--<p-chart *ngFor="let line of data.programManagerProgramStateWiseBudgetBarChart" (click)="SimpleBarChartModals.show(line)" type="bar" [data]="line"></p-chart>-->
                        <!--<div id="chartdiv1"></div>-->
                       
                            <div id="chartdiv1" ></div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<SimpleBarChartProgramManager #SimpleBarChartModals></SimpleBarChartProgramManager>