﻿<style>
       #divshadow {
        box-shadow: 0px 0px 10px 1px #888;
        border-top: solid 9px;
        border-top-color: gainsboro;
        height: 430px;
    }

    .panelHeading {
        background-color: gainsboro;
    }

    hr {
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .lblHeading {
        font-family: 'Times New Roman';
    }

    p {
        margin-left: 10px;
    }

    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%
    }

    .lbl {
        padding-left: 0px;
        font-size: 14px;
    }

    .checkbox {
        height: 23px;
        width: 18px;
    }

    .input[type=checkbox]::after {
        background-color: forestgreen;
    }

    .txtBox {
        border: none;
        border-bottom: 0.5px solid;
        border-bottom-color: lightgray;
        margin-bottom: 15px;
        width: 100%;
    }

    .form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
        border-color: red;
    }
    .modal-body {
        padding: 0px;
    } .modalClass {
        /*padding-left:150px;
    padding-right:150px;*/
    }


    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }

    input[type="text"],
    select {
        padding: 5px;
    }
    .scrollbar {
        width: 100%;          
        height:175px;
        overflow-y: scroll;
        float: left;
    }
    .content {
        height: 40px;
    } 

</style>
<div bsModal #modalCheckList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCheckList"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;" id="lblTitle">
                    {{l("Add Sub Activity")}}
                </h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-body">
                    <div class="panel" id="divshadow">
                        <div class="panelHeading" align="center">
                            <label for="lblHeading" id="lblHeading">
                                {{l('Create Your Own sub Activity')}}

                                <input #nameInput class="form-control" type="text"
                                       name="checklistName" [(ngModel)]="chekList.checklistName"
                                       placeholder="Create Your Own CheckList" required />
                            </label>
                            <div class="row">
                                <div class="col-md-5" style="margin-left:218px">
                                    <select class="form-control"
                                            id="txtActivity"
                                            name="ActivityGroup"
                                            [(ngModel)]="chekList.activityID"
                                            required>
                                        <option value="undefined" selected>{{l('Select Activity')}}</option>
                                        <option *ngFor="let a of activityDetails | sortMy:'name'" value="{{a.id}}">{{a.name}}</option>

                                    </select>
                                </div>

                            </div>

                        </div>
                        <div class="panel-body">
                            <div style="margin-left:10px;margin-right:10px;height:58px;margin-top:10px;margin-bottom:10px">
                                <textarea placeholder="Description" name="Cheklistdescription"
                                          [(ngModel)]="chekList.description"></textarea>
                            </div>

                            <div class="col-sm-12">
                                <a class="addfields btn" (click)="addNewChoice()">Add SubActivity Item</a>
                                <a class="fa fa-plus-circle" (click)="addNewChoice()"></a>
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class=" btn" (click)="removeChoice()">Remove SubActivity Item</a>-->
                            </div>
                            <div class="scrollbar">
                                <div *ngFor="let word2 of chekList.iteam; let in=index" class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="word2.cheklisiteamtName" name="{{in}}" style="width:300px;" required />
                                        <a class="fa fa-minus-circle" (click)="removeChoice(in)"></a>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <!--<button type="submit" [disabled]="!projectForm.form.valid" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop" style="color:white;background-color:#01B6E6" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>-->
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>