﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row" style="padding-top:10px">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button (click)="modalCheckList.show()"
                        class="btn btn-primary" tyle="background-color:#01B6E6;color:white;border:none;" style="background-color:#01B6E6;color:white;border:none;">
                    {{l("Add Sub Activity")}}
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right" style="padding:10px 30px 10px 10px">
                <input id="txtchecklist" name="Filter" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getChekLists()">
                <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
                <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
            </div>
        </div>
        <div class="body">
            <div class="row align-items-center">
                <div class="primeng-datatable-container"
                     [busyIf]="primengDatatableHelper.isLoading">
                    <p-dataTable #dataTable
                                 [value]="checkList"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 scrollable="true"
                                 ScrollWidth="100%"
                                 responsive="primengDatatableHelper.isResponsive">

                   
                        <p-column field="name" header="{{ l('Name')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.checklistName}}
                            </ng-template>
                        </p-column>
                        <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'100px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <div align="center">
                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                        <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="modalCheckList.show(record)"></i>
                                    </a>
                                    <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                        <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteCheckList(record)"></i>
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="changePage($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <modalCheckList #modalCheckList (modalSave)="getChekLists()"></modalCheckList>
</div>