﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }

</style>
<div class="row" style="background-color:white;height:50px;">

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">



        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> Overall Annual Action Plan and Budget</h4>


        </div>
        <br/>
       

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body">
                <label>Select Year</label>
                <select class="form-control"
                        [(ngModel)]="Year"
                        name="yeras"
                        required
                        (change)="getAllProgrambyid(Year)">
                    <option value="0" disabled selected>{{l('Select Year')}}</option>
                    <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
                </select>
                <br />

                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <!--<div class="primeng-datatable">-->
                    <p-dataTable #dataTable
                                 [value]="overallactionareawise"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 responsive="primengDatatableHelper.isResponsive">
                        <p-column field="actionAreaName" header="Action Area" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                {{record.actionAreaName}}
                            </ng-template>
                        </p-column>


                        <p-column field="grantamount" header="Project Cost(Grant)" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.grantamount | number:'1.2-2'}}
                            </ng-template>
                        </p-column>


                        <p-column field="communityContribution" header="Project Cost(CBO)" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.communityContribution | number:'1.2-2'}}
                            </ng-template>
                        </p-column>

                        <p-column field="funderContribution" header="Local Contribution" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.funderContribution | number:'1.2-2'}}
                            </ng-template>
                        </p-column>
                        <p-column field="otherConstribution" header="Govt Contribution" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.otherConstribution | number:'1.2-2'}}
                            </ng-template>
                        </p-column>

                        <p-column field="total" header="Total" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.total | number:'1.2-2'}}
                            </ng-template>
                        </p-column>



                    </p-dataTable>

                    <!--</div>-->
                </div>
            </div>
        </div>


        <br />

        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>
</div>

