﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div>
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="mydivs">
                    <div class="row">
                        <div class="col-sm-4 hrLine" align="center" id="id1">
                            <a href="javascript:;" class="hrefLink" (click)="funProgramInformation()" id="id1">{{l('PROGRAM INFORMATION')}}</a><br />
                            <span class="badge">{{l('High level program details go here')}}</span>
                        </div>
                        <div class="col-sm-4 hrLine" align="center">
                            <a href="javascript:;" id="id2" class="hrefLink" (click)="funComponents()">{{l('COMPONENTS')}}</a><br />
                            <span id="id2" class="badge">{{l('Action Area & Sub Action Area')}}</span>
                        </div>
                        <div class="col-sm-4" align="center">
                            <a href="javascript:;" id="id3" class="hrefLink" (click)="funProgramCostEstimation()">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                            <span id="id3" class="badge">{{l('Overview Of Program Cost')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funComponents()">{{l('COMPONENTS')}}</a><br />
                            <span class="badge">{{l('Action Area & Sub Action Area')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funProgramCostEstimation()">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                            <span class="badge">{{l('Overview Of Program Cost')}}</span>
                        </div>
                        <div class="col-md-4" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funActivityMaping()">{{l('ACTIVITY MAPPING')}}</a><br />
                            <span class="badge">{{l('Mapping Component activity with Action Area')}}</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funProgramCostEstimation()">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                            <span class="badge">{{l('Overview Of Program Cost')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funActivityMaping()">{{l('ACTIVITY MAPPING')}}</a><br />
                            <span class="badge">{{l('Mapping Component activity with Action Area')}}</span>
                        </div>
                        <div class="col-md-4 " align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRegionSpending()">{{l('REGION & SPENDDING')}}</a><br />
                            <span class="badge">{{l('Map Component activity with action area')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funActivityMaping()">{{l('ACTIVITY MAPPING')}}</a><br />
                            <span class="badge">{{l('Mapping Component activity with Action Area')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRegionSpending">{{l('REGION & SPENDDING')}}</a><br />
                            <span class="badge">{{l('Map Component activity with action area')}}</span>
                        </div>
                        <div class="col-md-4" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRequestAAPla">{{l('REQUEST AAPla')}}</a><br />
                            <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRegionSpending">{{l('REGION & SPENDDING')}}</a><br />
                            <span class="badge">{{l('Map Component activity with action area')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRequestAAPla()">{{l('REQUEST AAPla')}}</a><br />
                            <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                        </div>
                        <div class="col-md-4" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                            <span class="badge">{{l('Request Project Manager for annual action paln')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink" (click)="funRequestAAPla()">{{l('REQUEST AAPla')}}</a><br />
                            <span class="badge">{{l('Request Project Manager for annual action paln')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                            <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                        </div>
                        <div class="col-md-4" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('INFORMATION PLAN')}}</a><br />
                            <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                            <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                        </div>
                        <div class="col-md-4 hrLine" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('INFORMATION PLAN')}}</a><br />
                            <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
                        </div>
                        <div class="col-md-4" align="center">
                            <a href="javascript:;" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                            <span class="badge">{{l('Overview Of Program Cost')}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;"><button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button></span>
            </div>
        </div>
        <div class="mainConten">
            <div id="programComponents">
                <programComponents #programComponents></programComponents>
            </div>
            <div id="programCostEstimation">
                <programCostEstimation #programCostEstimation></programCostEstimation>
            </div>
            <div id="activitymapping">
                <activitymapping #activitymapping></activitymapping>
            </div>
            <div id="regionSpending">
                <regionSpending #regionSpending></regionSpending>
            </div>
            <div id="programInformation">
                <programInformation #programInformation (modalSave)="funComponents()"></programInformation>
            </div>
        </div>
    </div>
    </div>