﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }
    .badge {
        font-size: 9px;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }
    .badge {
        font-size: 9px;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }
    .hrefLink{
        font-size:12px
    }
    .badge {
        font-size: 8px;
    }
}


    .no-image {
        padding-top: 300px;
    }

    .align {
        padding-top: 25px;
    }

    .third-btn {
        margin-top: 25px;
    }

    .dark-text {
        color: #000;
    }

    a {
        text-decoration: none !important;
    }




.modal-content {
    margin-left: 100px;
    margin-right: 100px;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    border-color: aqua;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.mainConten{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}
.parent:nth-child(odd) {
    background-color: white;
}

.parent:nth-child(even) {
    background-color: #BABCBE;
}
.form-control {
    border-color: dimgray;
    color: black;
}
.hrLine {
    border-right: solid 0.5px;
    border-color: gray;    
}
.hrefLink {
    color:gray;
}
.badge {
    color: gray;
}
.row1 {
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}
a:active { 
    color: deepskyblue;
}
.no-drop {
    cursor: no-drop;
}