﻿@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
    #tableTH {
        width: 38%;
        ruby-align:center;
    }
    #tableTH1 {
        width:9%;
    }
    #tableTH2 {
        width: 9%;
    }
    #tableTH3 {
        width: 9%;
    }
    #tableTH4 {
        width: 35%;
    }
    #div1 {
        width: 35%;
        float: left;
        font-size:20px;
        background-color:gainsboro;
    }
    #div2 {
        width: 8%;
        float: left;
        font-size: 20px;
        background-color: gainsboro;
    }
    #div3 {
        width: 8%;
        float: left;
        font-size: 20px;
        background-color: gainsboro;
    }
    #div4 {
        width: 8%;
        float: left;
        font-size: 20px;
        background-color: gainsboro;
    }
    #div5 {
        width: 41%;
        float: left;
        font-size: 20px;
        background-color: gainsboro;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }

    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.nav {
    font-size: 20px;
}
#lblStyle {
    color: #212529;
    font-weight: lighter;
    font-family: 'Poppins';
    font-size: 14px;
}
.footers {
    background-color: #e6e6e6;
}
.btn {
    color: black;
    margin-top: -5px;
    font-size: 15px;
}

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}

.no-drop {
    cursor: no-drop;
}

/*Yo*/
.form-control {
    padding: 0.4rem 1rem;
}


.SelectList {
    width: 100%;
    height: 30px;
    border-radius: 0.25rem;
    border: 1px solid gray;
    padding-bottom: 3px;
    padding-top: 3px;
}

.MyClassRed {
    border: 1px solid red;
}

.MyClassRegular {
    border: 1px solid gainsboro;
}

body .ui-datatable .ui-datatable-data > tr > td {
    padding: 0.75em;
    padding-bottom: 0px;
}

td.ui-state-default {
    text-align: right !important;
}
.btn.btn-default i, .btn.btn-secondary i {
    color: white!important;
}

.customClass1 {
    font-size:10px !important;
}

.customClass2 {
    width: 170px !important;
    font-size: 10px !important;
    text-align: center !important;
}

.customClass3 {
    margin-top: -20px !important;
}

.customClass4 {
    width: 70px !important;
    font-size: 10px !important;
    height: 31px !important;
}

.customClass5 {
    width: 257%;
    margin-left: -24px;
    border: none;
    height: 31px;
    text-align: right;
}
