﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    body .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
        background-color: #e6e6e6;
    }
</style>
<div [@routerTransition]>
    <div #programCostEstimation>
        <div class="row row1">
            <div class="col-md-1" align="left" style="padding-left:0px;">
                <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
            </div>
            <div class="col-md-10" id="headercomponent">
                <div class="row">
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramInformation()">
                        <a href="javascript:;" class="hrefLink">{{l('PROGRAM INFORMATION')}}</a><br />
                        <span class="badge">{{l('High level program details go here')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funProgramCluster()">
                        <a href="javascript:;" id="id3" class="hrefLink">{{l('PROGRAM CLUSTER')}}</a><br />
                        <span class="badge" id="id3">{{l('Program Cluster Mapping Area ')}}</span>
                    </div>
                    <div class="col-sm-3 hrLine" align="center" (click)="funComponents()">
                        <a href="javascript:;" id="id3" class="hrefLink">{{l('COMPONENTS')}}</a><br />
                        <span class="badge" id="id3">{{l('Action Area & Sub Action Area')}}</span>
                    </div>
                    <div class="col-sm-3" align="center">
                        <a href="javascript:;" id="id1" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                        <span id="id1" class="badge">{{l('Overview Of Program Cost')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="right" style="padding-right:0px">
                <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;"><button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button></span>
            </div>
        </div>
        <form (ngSubmit)="save()" class="form-horizontal" autocomplete="off">
            <div class="row" *ngFor="let p of programDetails">
                <div class="col-sm-6 divs">
                    {{l('Program Name')}}&nbsp;:&nbsp;<label id="lblStyle">{{p.programName}}</label>
                </div>
                <div class="col-sm-3 divs">
                    {{l('Start Date')}}&nbsp;:&nbsp; <label id="lblStyle">{{p.programStartDate |date:'mediumDate'}}</label>
                </div>
                <div class="col-sm-3 divs">
                    {{l('End Date')}}&nbsp;:&nbsp; <label id="lblStyle">{{p.prgramEndDate |date:'mediumDate'}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper center-block">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" *ngFor="let ca of componentWithActivityList;let i=index">
                                <div class="panel-heading active" role="tab" id="headingOne">
                                    <h4 class="panel-title" (click)="tabindex=0">
                                        <a class="btn btn-link" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="ActiveClass(i)">
                                            {{ca.componentName}}
                                        </a>
                                        <span id="span1" style="float:right" class="fa fa-angle-down"></span>
                                    </h4>
                                </div>
                                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 col-sm-12">
                                                <div class="tabbable-line" style="background-color:white">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active" *ngFor="let y of ca.costEstimationYear;let c=index">
                                                            <a href="#tab_{{i}}_{{c}}" data-toggle="tab" aria-expanded="true" style="margin-right:30px" [ngStyle]="{'color':tabindex == c ? '#01B6E6' : 'black' }" (click)="tabindex=c">{{y.costEstimationYear}} </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content" style="margin-top:-20px;">
                                                    <div class="tab-pane" id="tab_{{i}}_{{c}}" *ngFor="let y of ca.costEstimationYear;let c=index">
                                                        <div class="portlet-body">
                                                            <div class="primeng-datatable-container"
                                                                 [busyIf]="primengDatatableHelper.isLoading">
                                                                <p-dataTable #dataTable
                                                                             [value]="y.activity"
                                                                             [style]="{'font-size':'10px'}"
                                                                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                             [paginator]="false"
                                                                             emptyMessage="{{l('NoData')}}"
                                                                             scrollable="true"
                                                                             ScrollWidth="100%"
                                                                             [responsive]="primengDatatableHelper.isResponsive">

                                                                    <p-column field=""
                                                                              header="{{l('Activity')}}"
                                                                              [sortable]="false"
                                                                              [style]="{'width':'170px','font-size':'10px','text-align':'center'}"
                                                                              [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                                        <ng-template let-record="rowData" pTemplate="body">
                                                                            <div align="center">
                                                                                <label>{{record.activityName}}</label>
                                                                            </div>
                                                                        </ng-template>
                                                                        <ng-template class="footers" pTemplate="footer">
                                                                            <div class="">{{l('Sub Total 1')}}</div>
                                                                        </ng-template>

                                                                        <!--<ng-template class="footers" pTemplate="footer">
                                                                            <div class=""> {{l('Sub Total 1')}}</div>
                                                                        </ng-template>-->

                                                                    </p-column>

                                                                    <p-column field="EmpDetail" header="{{l('UOM')}}" [sortable]="false" [style]="{'width':'70px','font-size':'10px','height': '31px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-11 form-group form-md-line-input">
                                                                                <select name="UnitOfmeasure_{{i}}_{{c}}_{{ri}}"
                                                                                        [(ngModel)]="record.programCostEstimate_UnitOfMeasuresID"
                                                                                        style="width:257%;margin-left:-24px;border: none; height:31px;text-align:right;"
                                                                                        required (change)="slectedAllYears(record.programCostEstimate_UnitOfMeasuresID,ca,record)">


                                                                                    <option *ngFor="let u of unitOfMeasureList" value="{{u.id}}">{{u.name}}</option>


                                                                                </select>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="project"
                                                                              header="{{l('Total Unit')}}"
                                                                              [sortable]="false"
                                                                              [style]="{'width':'80px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtTotalUnit_{{i}}_{{c}}_{{ri}}"
                                                                                       style="width:190%;margin-left:-24px;border: none;height:31px;text-align:right;"
                                                                                       [(ngModel)]="record.programCostEstimate_TotalUnits"
                                                                                       (keyup)="cal1(record,ca,y)"
                                                                                       pattern="^\d+$"
                                                                                       maxlength="10"
                                                                                       
                                                                                       required>
                                                                            </div><!--modified For Validation-->
                                                                        </ng-template>
                                                                        <ng-template pTemplate="footer" class="footers" let-record="rowData">
                                                                            <div class="">{{y.subTotalTotalunits}}</div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="FromDate" header="{{l('Unit  Cost')}}" [sortable]="false" [style]="{'width':'80px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtUnitCout_{{i}}_{{c}}_{{ri}}"
                                                                                       style="width:190%;margin-left:-24px;border: none;height:31px;text-align:right;"
                                                                                       [(ngModel)]="record.programCostEstimate_UnitCost"
                                                                                       
                                                                                       (ngModelChange)="cal1(record,ca,y)"
                                                                                       maxlength="10"
                                                                                       required>

                                                                            </div><!--modified For Validation-->

                                                                        </ng-template>
                                                                        <ng-template pTemplate="footer" class="footers">
                                                                            <div class="">{{y.subTotalUnitCost}}</div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="TotalCost" header="{{l('Total  Cost ')}}" [sortable]="false" [style]="{'width':'80px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-z="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtTotalCost{{i}}_{{c}}_{{z}}"
                                                                                       style="width:191%;margin-left:-24px;border: none;height:31px;text-align:right;" disabled="disabled"
                                                                                       [(ngModel)]="record.programCostEstimate_TotalUnitCost">

                                                                            </div>
                                                                        </ng-template>
                                                                        <ng-template pTemplate="footer" class="footers">
                                                                            <div class="">{{y.subTotalofTotalCost | number:'1.2-2'}}</div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="CommunityContribution" header="{{l('Community Contribution (RS)')}}" [sortable]="false" [style]="{'width':'120px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtCommunityContribution_{{i}}_{{c}}_{{ri}}"
                                                                                       style="width:147%;margin-left:-24px;border: none;height:31px;text-align:right;"
                                                                                       [(ngModel)]="record.programCostEstimate_CommunityContribution"
                                                                                       
                                                                                       (ngModelChange)="cal1(record,ca,y,record.programCostEstimate_CommunityContribution,null,null)"
                                                                                       pattern="^\d+$"
                                                                                       required>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="FunderContribution" header="{{l('Funder Contribution (RS)')}}" [sortable]="false" [style]="{'width':'120px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtFunderContribution_{{i}}_{{c}}_{{ri}}"
                                                                                       style="width:147%;margin-left:-24px;border: none;height:31px;text-align:right;"
                                                                                       [(ngModel)]="record.programCostEstimate_FunderContribution"
                                                                                       
                                                                                       (ngModelChange)="cal1(record,ca,y,null,record.programCostEstimate_FunderContribution,null)"
                                                                                       pattern="^\d+$"
                                                                                       required>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-column>

                                                                    <p-column field="OtherContribution" header="{{l('Other Contribution (RS)')}}" [sortable]="false" [style]="{'width':'120px','font-size':'10px'}">
                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                                            <div class="col-lg-12 form-group form-md-line-input">
                                                                                <input type="text"
                                                                                       name="txtOtherContribution_{{i}}_{{c}}_{{ri}}"
                                                                                       style="width:148%;margin-left:-24px;border: none;height:31px;text-align:right;"
                                                                                       [(ngModel)]="record.programCostEstimate_OtherContribution"
                                                                                       
                                                                                       (ngModelChange)="cal1(record,ca,y,null,null,record.programCostEstimate_OtherContribution)"
                                                                                       pattern="^\d+$"
                                                                                       required>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-column>
                                                                    <p-column field="ActivityLevel" header="{{l('Activity Level')}}" [sortable]="false" [style]="{'width':'150px','font-size':'10px'}">

                                                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">

                                                                            <div class="col-lg-12 form-group form-md-line-input" (click)="checkTotalCost(record)">
                                                                                <select name="ActivitiLevel_{{i}}_{{c}}_{{ri}}"
                                                                                        (change)="changeProLevel(record.activityLevel,ca,record)"
                                                                                        required
                                                                                        [(ngModel)]="record.activityLevel"
                                                                                        style="width: 145%;margin-left: -24px;border: none;height:31px;text-align:right;">
                                                                                    <option value="undefined">{{l('Select')}}</option>
                                                                                    <option value="ProgramLevel">{{l('Program Level')}}</option>
                                                                                    <option value="RRCLevel">{{l('RRC Level')}}</option>
                                                                                    <option value="VillageClusterLevel">{{l('Village Cluster Level')}}</option>
                                                                                    <option value="VillageLevel">{{l('Village Level')}}</option>
                                                                                </select>
                                                                            </div>
                                                                        </ng-template>

                                                                    </p-column>
                                                                </p-dataTable>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <table class="table" style="background-color:#e6e6e6">
                            <thead>
                                <tr>
                                    <th id="tableTH">{{l('Total Project Cost')}}</th>
                                    <th align="center" id="tableTH1">{{totalUnits}}</th>
                                    <th align="center" id="tableTH2">{{totalUnitsCost}}</th>
                                    <th align="center" id="tableTH3">{{totalCost| number:'1.2-2'}}</th>
                                    <th id="tableTH4"></th>

                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <div class="modal-footer" style="width:100%">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funComponents()">

                        {{l('Back')}}
                    </button>
                    <!--<button type="button" class="btn btn-default" style="background-color: #01B6E6; color:white;">
                        {{l('Save as Draft')}}
                    </button>-->
                    <div style="border:solid 0.5px; border-color:gainsboro;padding-top:10px">
                        <label class="container">
                            <input type="checkbox" checked="checked">
                            {{l('Program Sanction Received')}}
                            <button type="submit" class="btn btn-default" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" style="background-color: #01B6E6; color:white;">
                                <i class="fa fa-save"></i>{{l('Continue')}}
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


