﻿<div bsModal #projectWiseDemand="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectWiseDemand" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center;background-color:#f4f5f8;">
                    <h4 class="modal-title" style="width:95%">
                        Project Wise Demand List
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto;height: 40em;overflow-y: auto; overflow-wrap:break-word;text-align:center;">
                    <p-dataTable #dataTable [value]="projectWiseAmountSanctionData"> 
                        <p-column field="date" header="Date" [sortable]="false">
                            <ng-template let-row="rowData" pTemplate="body">
                                {{row.date | date}}
                            </ng-template>
                        </p-column>
                        <p-column field="amountSanction" header="Amount Sanction" [sortable]="false"></p-column>
                    </p-dataTable>
                </div>
            </form>
        </div>
    </div>
</div>