﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row" style="background-color:white;height:100%;width:100%">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 35px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none" (click)="subActionAreaModal.show()">{{l('Add New Sub Action Area')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="txtsubactionArea" name="Filter" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getAllSubactionareaserach()">
            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
            <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%">
        <div class="portlet-body">
            <div class="primeng-datatable-container"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             (onLazyLoad)="getAllSubactionarea()"
                             [value]="getsubactionarea"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             [responsive]="primengDatatableHelper.isResponsive">

                    <p-column field=""
                              header="{{l('Sub Action User Code')}}"
                              [sortable]="false"
                              [style]="{'width':'150px'}"
                              [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.code}}
                        </ng-template>
                    </p-column>
                    <p-column field="EmpDetail" header="{{l('Sub Action Area')}}" [sortable]="false" [style]="{'width':'300px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.name}}
                        </ng-template>
                    </p-column>
                    <p-column field="project" header="{{l('Created By')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.fullName}}
                        </ng-template>
                    </p-column>
                    <p-column field="FromDate" header="{{l('Created On')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.creationTime|date:'mediumDate'}}
                        </ng-template>
                    </p-column>
                    <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <div align="center">
                                <a href="javascript:;" style="border:none;text-decoration: none;color:gray;">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="UpdateSubAction(record)"></i>
                                </a>
                                <a href="javascript:;" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteSubActionArea(record)"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div class="primeng-paging-container">
                    <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="changePage($event)"
                                 [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--<subActionAreaModal1 #SubActionAreaModalComponent (modalSave)="getAllSubactionarea()" ></subActionAreaModal1>-->
    <subActionAreaModal #subActionAreaModal (modalSave)="getAllSubactionarea()"></subActionAreaModal>
</div>