﻿<div bsModal #subActionAreaModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subActionAreaModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add New Sub Action Area")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <form *ngIf="active" #projectForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control" name="actionAreaId" [(ngModel)]="subactionarea.actionAreaId" required>
                                    <option value="undefined" selected>{{l('Action Area')}}</option>
                                    <option style="width:50px"
                                            class="text"
                                            *ngFor="let a of actionAreaList | sortMy:'name'"
                                            value="{{a.id}}">

                                        {{a.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control"
                                       placeholder="Sub Action Area Code"
                                       type="text"
                                       name="SubactionAreaCode"
                                       [(ngModel)]="subactionarea.code"
                                       required
                                       maxlength="255">
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text"
                                       name="SubactionAreaName"
                                       placeholder="Sub Action Area"
                                       class="form-control"
                                       [(ngModel)]="subactionarea.name"
                                       required
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px">
                        <i class="fa fa-save"></i> {{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
