﻿.modal-content {
    margin-left: 100px;
    margin-right: 100px;
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    border-color: aqua;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}
.modalClass {
    padding-left: 60px;
    padding-right: 225px;
}
.form-control {
    border-color: dimgray;
    color: black;
}
.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-color: red;
}
.no-drop {
    cursor: no-drop;
}