﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }


    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 95%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #e6e6e6;
            color: #212529;
        }
</style>
<div class="row" style="background-color:white;height:50px;">


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">


            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="PrgramName"
                    required
                    >
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
            <br/>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select class="form-control"
                        name="Year"
                        required
                        (change)="getAllProgrambyid(programd.id,$event.target.value)">
                    <option [ngValue]="undefined" disabled selected>Select Year</option>
                    <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
                </select>
            </div>

        </div>
        <!--<div *ngFor="let details of program; let in=index"></div>
        <div *ngFor="let details1 of programd; let in=index"></div>-->

        <div id="a">
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h3> {{l('Cluster Wise Region Spending')}}</h3>


            <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
                <tr style="width:100%">
                    <th style="width:30%">Program Title</th>
                    <td style="width:70%">
                        {{programName}}
                    </td>
                </tr>



            </table>

            <br />






            <br />

           


            <div>

                <div>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th>Clustor Name</th>
                                <th>Village Name</th>
                                <th>Activity</th>
                                <th>Total Unit</th>
                                <th>Total Unit Cost</th>

                                <th>Unit Cost</th>

                                <th>Funder Contribution</th>
                                <th>Community Contribution</th>
                                <th> Other Contribution</th>
                                <th>Total</th>


                            </tr>
                        </thead>
                        <tbody *ngFor="let y of program;let c=index">
                            <tr>
                                <td>
                                    {{y.clustorName}}
                                </td>
                                <td>
                                    {{y.villageName}}
                                </td>
                                <td>
                                    {{y.activityName}}
                                </td>
                                <td>
                                    {{y.totalUnits}}
                                </td>

                                <td>
                                    {{y.totalUnitCost  | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{y.unitCost  | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{y.communityContribution  | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{y.funderContribution  | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{y.otherContribution  | number:'1.2-2'}}
                                </td>
                                <td>
                                    {{y.total  | number:'1.2-2'}}
                                </td>


                            </tr>
                        </tbody>
                    </table>



                </div>



            </div>






            <br />

            <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


        </div>
    </div>
</div>
