﻿p-column{
    color:black;
    font-size:20px;
    float:left;
}
table thead tr th span {
    font-weight: normal !important;
}

.yourTableClass {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

.primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
    border: double;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
}



#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e6e6e6;
    color: #212529;
}
@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}



@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    #headercomponent {
        /*border-bottom: solid 1px gray;
        border-top: solid 1px gray;*/
        padding-top: 15px;
    }

    .badge {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
    #headercomponent {
        padding-top: 13px;
    }

    .hrefLink {
        font-size: 13px
    }

    .badge {
        font-size: 8px;
    }
}


.no-image {
    padding-top: 300px;
}

.align {
    padding-top: 25px;
}

.third-btn {
    margin-top: 25px;
}

.dark-text {
    color: #000;
}

a {
    text-decoration: none !important;
}

.form-control {
    border-color: dimgray;
    color: black;
}

.hrLine {
    border-right: solid 0.5px;
    border-color: gray;
}

.hrefLink {
    color: gray;
}

.badge {
    color: gray;
}

.row1 {
    border-bottom: solid 1px gainsboro;
    border-top: solid 1px gainsboro;
    margin-bottom: 10px;
}

#yearTag a.active {
    color: #01B6E6;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #01B6E6;
}

a:active {
    color: deepskyblue;
}

#id1 {
    color: deepskyblue;
}

.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 50px;
}


#HeaderClass3 {
    margin-bottom: 20px;
}

.btn {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

hr {
    margin-bottom: 0px;
}

.mainAccordion {
    margin-bottom: 10px;
}

#btnPlanRecived {
    background-color: green;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

#btnPlanNotRecived {
    background-color: orange;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

#btnPlanPlanding {
    background-color: red;
    float: right;
    color: white;
    border: none;
    width: 150px;
    margin-top: 5px;
}

.nav {
    font-size: 20px;
}

.text {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table thead tr th span {
    font-weight: normal !important;
}

.sendDetailsRow {
    display: inline-flex;
    /*;
    display: -ms-flexbox;*/
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -34px;
    margin-left: 0px;
}
