﻿<div class="row sendDetailsRow" style="background-color:white;height:50px;"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">

        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Request Send Details')}}</h4>
        </div>
        <br/>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="ProgramName"
                    required
                    (change)="getcostestimationyear(programd.id)">
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="getAllProgrambyid(programd.id,$event.target.value)">
                <option [ngValue]="undefined" disabled selected>Select Year</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>
        <!--<table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
        <tr style="width:100%">
            <th style="width:30%">Program Title</th>
            <td style="width:70%">
                {{programName}}
            </td>
        </tr>

        <tr style="width:100%">
            <th style="width:30%">Clustor Name </th>
            <td style="width:70%" *ngFor="let r of requestList">
                {{r.locationName}}
            </td>
        </tr>

        <tr>
            <th style="width:30%">Program Manager</th>
            <td style="width:70%" *ngFor="let r of requestList">
                {{r.managerName}}
            </td>
        </tr>
    </table>-->
        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr class="row sendDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Program Title :
                </td>
                <td class="col-md-3 col-lg-3">
                    {{programName}}
                </td>
                <!--<td class="col-md-3 col-lg-3"></td>
            <td class="col-md-3 col-lg-3"></td>-->
            </tr>
            <tr class="row sendDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Clustor Name :
                </td>
                <td *ngFor="let r of requestList" class="col-md-3 col-lg-3"> {{r.locationName}}</td>

            </tr>
            <tr class="row sendDetailsRow" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Manager Name :
                </td>
                <td *ngFor="let r of requestList" class="col-md-3 col-lg-3"> {{r.managerName}}</td>

            </tr>
        </table>
        <br />


        <br />
        <div id="accordion">
            <div class="mainAccordion" *ngFor="let r of requestList;let i=index;">
                <div class="panel-heading" id="headingOne">
                    <div class="row sendDetailsRow">
                        <div class="col-sm-3">
                            <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                {{r.locationName}}&nbsp;&nbsp;{{r.managerName}}
                            </a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                            <div class="tabbable-line" style="background-color:white">
                                <ul class="nav nav-tabs">
                                    <li class="active" style="margin-left:30px" id="yearTag" *ngFor="let c of r.costEstimationYear;let co=index;">
                                        <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                                    <div class="col-sm-3" style="margin-top: -10px;margin-left: -101px;">
                                        <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="background-color:red">{{c.requestStatus}}</button>
                                        <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="background-color:orange">{{c.requestStatus}}</button>
                                        <button id="btnPlanRecived" *ngIf="c.requestStatus =='Approved'" style="background-color:green">{{c.requestStatus}}</button>
                                    </div>
                                    <div class="portlet-body">
                                        <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                     [value]="c.actionSubactionCost" [responsive]="true" rowGroupMode="rowspan"
                                                     sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                            <p-headerColumnGroup>
                                                <p-row>
                                                    <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Unit Of measure')}}" rowspan="2" [style]="{'width':'40px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                    <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                    <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                </p-row>

                                            </p-headerColumnGroup>
                                            <p-column field="actionAreaName" [style]="{'width':'100px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <span class="text">{{record.activityName}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="unitOfMeasuresName" [style]="{'width':'50px', 'text-align':'right'}"></p-column>
                                            <p-column field="totalUnits" [style]="{'width':'50px', 'text-align':'right'}"></p-column>
                                            <p-column field="unitCost" [style]="{'width':'50px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.unitCost | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="totalUnitCost" [style]="{'width':'50px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.totalUnitCost | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="communityContribution" [style]="{'width':'80px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.communityContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="funderContribution" [style]="{'width':'80px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.funderContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="otherContribution" [style]="{'width':'50px', 'text-align':'right'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.otherContribution | number:'1.2-2'}}
                                                </ng-template>
                                            </p-column>


                                        </p-dataTable>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>

        </div>

        <br />
        <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
    </div>
</div>

