﻿<style>
    /*body .ui-datatable .ui-datatable-data > tr > td {
        padding-left: 1px;
        padding-right: 1px;
    }*/

    input, button, select, optgroup, textarea {
        margin: 0;
        line-height: 29px;
    }

    #table thead {
        display: none;
    }

    .noExpander span.ui-row-toggler {
        display: none;
    }
     #chartdiv {
        width: 100%;
        height: 500px;
    }
      #chartdivs {
        width: 100%;
        height: 450px;
        margin-left: 40px;
    }
</style>

<div class="row row1">
    <div class="col-md-1" align="left" style="padding-left:0px;">
        <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
    </div>

    <div class="col-md-10" id="headercomponent">
        <div class="row">
            <div class="col-sm-3 hrLine" align="center" (click)="funProgramCostEstimation()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" class="hrefLink">{{l('PROGRAM COST ESTIMATION')}}</a><br />
                <span class="badge">{{l('Overview Of Program Cost')}}</span>
            </div>
            <div class="col-sm-3 hrLine" align="center" (click)="funActivityMaping()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" class="hrefLink">{{l('ACTIVITY MAPPING')}}</a><br />
                <span class="badge">{{l('Mapping Component activity with Action Area')}}</span>
            </div>
            <div class="col-sm-3 hrLine" align="center" (click)="funRegionSpending()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" class="hrefLink">{{l('REGION & SPENDDING')}}</a><br />
                <span class="badge">{{l('Map Component activity with action area')}}</span>
            </div>
            <div class="col-sm-3" align="center" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" id="id1" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                <span id="id1" class="badge">{{l('Compare & approve aapla PSP')}}</span>
            </div>
            <div class="col-sm-3 hrLine" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" id="id1" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                <span id="id1" class="badge">{{l('Compare & approve aapla PSP')}}</span>
            </div>
            <div class="col-sm-3 hrLine" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" class="hrefLink">{{l('IMPLEMENTATION PLAN')}}</a><br />
                <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
            </div>
            <div class="col-sm-3 hrLine" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                <a href="javascript:;" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                <span class="badge">{{l('Overview Of Program Cost')}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-1" align="right" style="padding-right:0px">
        <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
            <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
        </span>
    </div>

</div>
<div class="col-md-12">Program Name : {{programName}}</div>
<form class="form-horizontal" autocomplete="off">
    <div id="accordion">
        <div class="mainAccordion" *ngFor="let r of requestList;let i=index;">
            <div class="panel-heading" id="headingOne">
                <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="getAllVillagsPrgClusterWise(r)">
                            {{r.locationName}} <span *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">Program :- {{r.programName}}</span>
                        </a>
                    </div>
                    <div class="col-sm-6" style="float:left" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel != 1">
                        <div class="multiselect-native-select">
                            <div class="btn-group" style="width: 47%;height:35px">
                                <button type="button" class="multiselect dropdown-toggle mt-multiselect btn btn-default"
                                        data-toggle="dropdown" title=" Select Members" aria-expanded="true" style="width:100%;background-color: white; overflow: hidden; text-overflow: ellipsis;">
                                    <span class="multiselect-selected-text">{{r.managerName}} </span>
                                    <b class="caret"></b>
                                </button>
                                <ul class="multiselect-container dropdown-menu" style="width:100%">

                                    <li class="parent" *ngFor="let m of r.managers">
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="Active1" value="{{m.managerId}},{{m.name}}" id="checkBox" style="width:30px;height: 22px; margin-top: 10px;" (change)="AddManagerId(r,$event)" />
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="../../../assets/common/images/default-profile-picture.png" style="width:40px" />
                                                    </div>
                                                    <div class="col-sm-9" style="margin-top:10px;">
                                                        {{m.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="float:left" *ngIf="r.activityLevel == 1">
                    </div>
                    <div class="col-sm-6" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')"></div>
                </div>
            </div>

            <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                    <div class="tabbable-line" style="background-color:white">
                        <ul class="nav nav-tabs">
                            <li class="active" style="margin-left:30px" id="yearTag" *ngFor="let c of r.costEstimationYear;let co=index;">
                                <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="background-color:red;float:left">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="background-color:orange;float:left">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='Approved'" style="background-color:green;float:left">{{c.requestStatus}}</button>
                                </div>
                            </div>
                            <div class="portlet-body">

                                <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                             [value]="c.actionSubactionCost"
                                             [immutable]="false"
                                             sortField="prgActionAreaActivityMappingID"
                                             [rowStyleClass]="rowClass"
                                             expandableRows="true">
                                    <p-headerColumnGroup>
                                        <p-row>
                                            <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('UOM')}}" rowspan="2" [style]="{'width':'40px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Previous Balance Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2" *ngIf="coe != 0"></p-column>
                                            <p-column header="{{l('Previous Balance Rs')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2" *ngIf="coe != 0"></p-column>
                                            <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                            <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                        </p-row>
                                        <p-row>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                        </p-row>
                                    </p-headerColumnGroup>

                                    <p-column field="actionAreaName" [style]="{'width':'100px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <span class="text">{{record.activityName}}</span>
                                            <a name="circle{{i}}{{coe}}{{ri}}" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" class="fa fa-minus-circle" (click)="removeSigleChoice(c.actionSubactionCost,ri)" data-toggle="tab" aria-expanded="true"></a>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="unitOfMeasuresName" [style]="{'width':'40px', 'text-align':'right'}"></p-column>
                                    <p-column field="previousUnits" [style]="{'width':'35px', 'text-align':'right'}" *ngIf="coe != 0"> </p-column>
                                    <p-column field="previousBalanceRs" [style]="{'width':'35px', 'text-align':'right'}" *ngIf="coe != 0"></p-column>
                                    <p-column field="totalUnits" [style]="{'width':'35px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <span *ngIf="record.actionAreaName != undefined">{{record.totalUnits}}</span>
                                            <input name="quarter2PhysicalUnits2{{i}}{{coe}}{{ri}}" [(ngModel)]="record.totalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" (keyup)="cal(record,c)" />
                                        </ng-template>
                                    </p-column>

                                    <p-column field="unitCost" [style]="{'width':'35px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="text">{{record.unitCost | number:'1.2-2'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="totalUnitCost" [style]="{'width':'35px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="communityContribution" [style]="{'width':'60px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="funderContribution" [style]="{'width':'60px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="text">{{record.funderContribution | number:'1.2-2'}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="otherContribution" [style]="{'width':'60px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel'" (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel'" (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter1FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter1FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter2FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter2FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter3FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter3FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter4FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter4FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>

                                    <p-column field="" expander="false">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <div class="btn-group dropdown" normalizePosition>
                                                <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">

                                                    <div class="col-md-2">
                                                        <ul class="nav nav-tabs">
                                                            <li style="margin-top:-6px;">
                                                                <a name="circle{{i}}{{coe}}{{ri}}" *ngIf="record.actionAreaName != undefined && record.activityLevel == 'VillageLevel'" class="fa fa-plus-circle" (click)="funClick(record,c.actionSubactionCost)" data-toggle="tab" aria-expanded="true"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" style="margin-top: 12px;">
                                                    <span>{{record.activityLevel}}</span>
                                                </div>

                                            </div>
                                        </ng-template>
                                    </p-column>

                                    <ng-template let-unit="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                        <div class="row" style="width: 101.3% !important;margin-left: -0.6% !important;margin-top: -0.7% !important;">

                                            <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                         [value]="c.actionSubactionCost[rie].subActionSubActionActivity"
                                                         [immutable]="false"
                                                         [rowStyleClass]="rowClass"
                                                         expandableRows="true"
                                                         id="table"
                                                         responsive="primengDatatableHelper.isResponsive"
                                                         resizableColumns="primengDatatableHelper.resizableColumns">


                                                <p-column field="actionAreaName" [style]="{'width':'12.7%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span class="text">{{record.activityName}}</span>
                                                        <a name="circle{{i}}{{coe}}{{rie}}{{ri}}" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" class="fa fa-minus-circle" (click)="removeSigleChoice(c.actionSubactionCost[rie],ri)" data-toggle="tab" aria-expanded="true"></a>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="unitOfMeasuresName" [style]="{'width':'5.9%'}"></p-column>
                                                <p-column field="totalUnits" [style]="{'width':'4.9%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span *ngIf="record.actionAreaName != undefined">{{record.totalUnits}}</span>
                                                        <input name="quarter2PhysicalUnits2{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.totalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" (keyup)="cal(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="unitCost" [style]="{'width':'5%'}"></p-column>
                                                <p-column field="totalUnitCost" [style]="{'width':'5%'}"></p-column>
                                                <p-column field="communityContribution" [style]="{'width':'7.2%'}"></p-column>
                                                <p-column field="funderContribution" [style]="{'width':'7.2%'}"></p-column>
                                                <p-column field="otherContribution" [style]="{'width':'7.1%'}"></p-column>

                                                <p-column field="" [style]="{'width':'4.4%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel'" (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel'" (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter1FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter1FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter2FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter2FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter3FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter3FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter4FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter4FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>

                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div class="btn-group dropdown" normalizePosition>
                                                            <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">
                                                                <div class="col-md-8" *ngIf="record.actionAreaName == undefined">
                                                                    <select style="margin-top: 15px;" [(ngModel)]="record.villageID" name="villages{{i}}{{coe}}{{rie}}{{ri}}">
                                                                        <option value="undefined" selected>{{l('Select Village')}}</option>
                                                                        <option value="{{r.id}}" *ngFor="let r of prgVilages">{{r.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-column>

                                                <ng-template let-unit="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                                    <div class="row" style="width: 102%;margin-left: -10px;margin-top: -10px;">

                                                    </div>
                                                </ng-template>
                                            </p-dataTable>
                                        </div>
                                    </ng-template>
                                </p-dataTable>



                                <div class="col-lg-12 col-xs-12 col-sm-12" style="background-color:#ebedf2;padding-bottom:10px;margin-top:10px;">
                                    <label for="lblDueDate">{{l('Due Date')}}</label>
                                    <img src="../../../assets/common/images/img/Calender_Icon.svg" style="height:15px" />
                                    <!--{{l('Feb 25,2018')}}-->
                                    <span>{{AssignCurDate | date:'MMM dd,yyyy'}}</span>
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <div class="divChatting">
                                            <textarea name="emailtmp" [(ngModel)]="value" id="emailtmp" rows="4" cols="50" style="width:100%"></textarea>
                                        </div>
                                        <button *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel != 1 && c.actionSubactionCost.length != 0" [disabled]="c.requestStatus != 'RequestNotSend'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestList[i],c,'RequestSend')">
                                            {{l('Request AAPla')}}
                                        </button>
                                        <button *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" [disabled]="c.requestStatus == 'planRecieved' || c.requestStatus == 'Approved'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestList[i],c,'RequestNotSend')">
                                            <i class="fa fa-save"></i>{{l('Submit')}}
                                        </button>
                                        <button *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel == 1" [disabled]="c.requestStatus == 'planRecieved' || c.requestStatus == 'Approved'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestList[i],c,'RequestNotSend')">
                                            <i class="fa fa-save"></i>{{l('Submit')}}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="accordionn">
        <div class="mainAccordion" *ngFor="let r of requestListt;let i=index;">
            <div class="panel-heading" id="headingOne" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel != 1">
                <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-link active" data-toggle="collapse" href="#collapseOnee{{i}}" aria-expanded="true" aria-controls="collapseOnee" (click)="getAllVillagsPrgClusterWise1(r)">
                            {{r.locationName}} <span *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">Program :- {{r.programName}}</span>
                        </a>
                    </div>
                    <div class="col-sm-6" style="float:left">
                        <div class="multiselect-native-select">
                            <div class="btn-group" style="width: 47%;height:35px">
                                <button type="button" class="multiselect dropdown-toggle mt-multiselect btn btn-default"
                                        data-toggle="dropdown" title=" Select Members" aria-expanded="true" style="width:100%;background-color: white; overflow: hidden; text-overflow: ellipsis;">
                                    <span class="multiselect-selected-text">{{r.managerName}} </span>
                                    <b class="caret"></b>
                                </button>
                                <ul class="multiselect-container dropdown-menu" style="width:100%">

                                    <li class="parent" *ngFor="let m of r.managers">
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="Active1" value="{{m.managerId}},{{m.name}}" id="checkBox" style="width:30px;height: 22px; margin-top: 10px;" (change)="AddManagerId(r,$event)" />
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="../../../assets/common/images/default-profile-picture.png" style="width:40px" />
                                                    </div>
                                                    <div class="col-sm-9" style="margin-top:10px;">
                                                        {{m.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="float:left" *ngIf="r.activityLevel == 1">
                    </div>
                    <div class="col-sm-6" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')"></div>
                </div>
            </div>

            <div id="collapseOnee{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionn">

                <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                    <div class="tabbable-line" style="background-color:white">
                        <ul class="nav nav-tabs">
                            <li class="active" style="margin-left:30px" id="yearTagg" *ngFor="let c of r.costEstimationYear;let co=index;">
                                <a href="#tabb_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane" id="tabb_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="background-color:red;float:left">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="background-color:orange;float:left">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='Approved'" style="background-color:green;float:left">{{c.requestStatus}}</button>
                                </div>
                            </div>
                            <div class="portlet-body">

                                <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                             [value]="c.actionSubactionCost"
                                             [immutable]="false"
                                             sortField="prgActionAreaActivityMappingID"
                                             [rowStyleClass]="rowClass"
                                             expandableRows="true">
                                    <p-headerColumnGroup>
                                        <p-row>
                                            <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('UOM')}}" rowspan="2" [style]="{'width':'40px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Previous Balance Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2" *ngIf="coe != 0 && this.isGranted('Pages.RequestAAPlaSend')"></p-column>
                                            <p-column header="{{l('Previous Balance Rs')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2" *ngIf="coe != 0 && this.isGranted('Pages.RequestAAPlaSend')"></p-column>
                                            <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                            <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                            <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                        </p-row>
                                        <p-row>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                            <p-column header="{{l('(Units)')}}"></p-column>
                                            <p-column header="{{l('(Rs)')}}"></p-column>
                                        </p-row>
                                    </p-headerColumnGroup>

                                    <p-column field="actionAreaName" [style]="{'width':'100px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <span class="text">{{record.activityName}}</span>
                                            <a name="circle{{i}}{{coe}}{{ri}}" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" class="fa fa-minus-circle" (click)="removeSigleChoice(c.actionSubactionCost,ri)" data-toggle="tab" aria-expanded="true"></a>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="unitOfMeasuresName" [style]="{'width':'40px', 'text-align':'right'}"></p-column>
                                    <p-column field="previousUnits" [style]="{'width':'35px', 'text-align':'right'}" *ngIf="coe != 0 && this.isGranted('Pages.RequestAAPlaSend')"> </p-column>
                                    <p-column field="previousBalanceRs" [style]="{'width':'35px', 'text-align':'right'}" *ngIf="coe != 0 && this.isGranted('Pages.RequestAAPlaSend')"></p-column>
                                    <p-column field="totalUnits" [style]="{'width':'35px', 'text-align':'right'}">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <span *ngIf="record.actionAreaName != undefined">{{record.totalUnits}}</span>
                                            <input name="quarter2PhysicalUnits2{{i}}{{coe}}{{ri}}" [(ngModel)]="record.totalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" (keyup)="cal(record,c)" />
                                        </ng-template>
                                    </p-column>

                                    <p-column field="unitCost" [style]="{'width':'35px', 'text-align':'right'}"></p-column>
                                    <p-column field="totalUnitCost" [style]="{'width':'35px', 'text-align':'right'}"></p-column>
                                    <p-column field="communityContribution" [style]="{'width':'60px', 'text-align':'right'}"></p-column>
                                    <p-column field="funderContribution" [style]="{'width':'60px', 'text-align':'right'}"></p-column>
                                    <p-column field="otherContribution" [style]="{'width':'60px', 'text-align':'right'}"></p-column>

                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel'" (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel'" (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter1FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter1FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter2FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter2FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter3FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter3FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                            <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <input value="{{record.quarter4FinancialRs}}" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                            <input value="{{record.quarter4FinancialRs}}" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                        </ng-template>
                                    </p-column>

                                    <p-column field="" expander="false">
                                        <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                            <div class="btn-group dropdown" normalizePosition>
                                                <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">

                                                    <div class="col-md-2">
                                                        <ul class="nav nav-tabs">
                                                            <li style="margin-top:-6px;">
                                                                <a name="circle{{i}}{{coe}}{{ri}}" *ngIf="record.actionAreaName != undefined && record.activityLevel == 'VillageLevel'" class="fa fa-plus-circle" (click)="funClick(record,c.actionSubactionCost)" data-toggle="tab" aria-expanded="true"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" style="margin-top: 12px;">
                                                    <span>{{record.activityLevel}}</span>
                                                </div>

                                            </div>
                                        </ng-template>
                                    </p-column>

                                    <ng-template let-unit="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                        <div class="row" style="width: 101.3% !important;margin-left: -0.6% !important;margin-top: -0.7% !important;">

                                            <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                         [value]="c.actionSubactionCost[rie].subActionSubActionActivity"
                                                         [immutable]="false"
                                                         [rowStyleClass]="rowClass"
                                                         expandableRows="true"
                                                         id="table"
                                                         responsive="primengDatatableHelper.isResponsive"
                                                         resizableColumns="primengDatatableHelper.resizableColumns">


                                                <p-column field="actionAreaName" [style]="{'width':'12.7%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span class="text">{{record.activityName}}</span>
                                                        <a name="circle{{i}}{{coe}}{{rie}}{{ri}}" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" class="fa fa-minus-circle" (click)="removeSigleChoice(c.actionSubactionCost[rie],ri)" data-toggle="tab" aria-expanded="true"></a>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="unitOfMeasuresName" [style]="{'width':'5.9%'}"></p-column>
                                                <p-column field="totalUnits" [style]="{'width':'4.9%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <span *ngIf="record.actionAreaName != undefined">{{record.totalUnits}}</span>
                                                        <input name="quarter2PhysicalUnits2{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.totalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.actionAreaName == undefined" (keyup)="cal(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="unitCost" [style]="{'width':'5%'}"></p-column>
                                                <p-column field="totalUnitCost" [style]="{'width':'5%'}"></p-column>
                                                <p-column field="communityContribution" [style]="{'width':'7.2%'}"></p-column>
                                                <p-column field="funderContribution" [style]="{'width':'7.2%'}"></p-column>
                                                <p-column field="otherContribution" [style]="{'width':'7.1%'}"></p-column>

                                                <p-column field="" [style]="{'width':'4.4%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel'" (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter1PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel'" (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter1FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter1FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter2PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter2FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter2FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter3PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter3FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter3FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'ProgramLevel'" />
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                        <input name="quarter4PhysicalUnits{{i}}{{coe}}{{rie}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%" *ngIf="this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel == 'ProgramLevel' " (keyup)="calQuarterUnits(record,c)" />
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" [style]="{'width':'4.3%'}">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <input value="{{record.quarter4FinancialRs}}" style="width:100%" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend')" />
                                                        <input value="{{record.quarter4FinancialRs}}" style="width:100%" *ngIf="!this.isGranted('Pages.RequestAAPlaSend') && record.activityLevel != 'VillageLevel' " />
                                                    </ng-template>
                                                </p-column>

                                                <p-column field="">
                                                    <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div class="btn-group dropdown" normalizePosition>
                                                            <div *ngIf="!this.isGranted('Pages.RequestAAPlaSend')">
                                                                <div class="col-md-8" *ngIf="record.actionAreaName == undefined">
                                                                    <select style="margin-top: 15px;" [(ngModel)]="record.villageID" name="villages{{i}}{{coe}}{{rie}}{{ri}}">
                                                                        <option value="undefined" selected>{{l('Select Village')}}</option>
                                                                        <option value="{{r.id}}" *ngFor="let r of prgVilages">{{r.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-column>

                                                <ng-template let-unit="rowData" let-rie="rowIndex" pTemplate="rowexpansion">
                                                    <div class="row" style="width: 102%;margin-left: -10px;margin-top: -10px;">

                                                    </div>
                                                </ng-template>
                                            </p-dataTable>
                                        </div>
                                    </ng-template>
                                </p-dataTable>



                                <div class="col-lg-12 col-xs-12 col-sm-12" style="background-color:#ebedf2;padding-bottom:10px;margin-top:10px;">
                                    <label for="lblDueDate">{{l('Due Date')}}</label>
                                    <img src="../../../assets/common/images/img/Calender_Icon.svg" style="height:15px" />
                                    <!--{{l('Feb 25,2018')}}-->
                                    <span>{{AssignCurDate | date:'MMM dd,yyyy'}}</span>
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <div class="divChatting">
                                            <textarea name="emailtmp" [(ngModel)]="value" id="emailtmp" rows="4" cols="50" style="width:100%"></textarea>
                                        </div>
                                        <button *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel != 1 && c.actionSubactionCost.length != 0" [disabled]="c.requestStatus != 'RequestNotSend'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestListt[i],c,'RequestSend')">
                                            {{l('Request AAPla')}}
                                        </button>
                                        <button *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" [disabled]="c.requestStatus == 'planRecieved' || c.requestStatus == 'Approved'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestListt[i],c,'RequestNotSend')">
                                            <i class="fa fa-save"></i>{{l('Submit')}}
                                        </button>
                                        <button *ngIf="this.isGranted('Pages.RequestAAPlaSend') && r.activityLevel == 1" [disabled]="c.requestStatus == 'planRecieved' || c.requestStatus == 'Approved'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestListt[i],c,'RequestNotSend')">
                                            <i class="fa fa-save"></i>{{l('Submit')}}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="isGranted('Pages.RequestAAPlaSend')" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funRegionSpending()">
            {{l('Back')}}
        </button>
        <button type="submit" class="btn btn-default" (click)="funApproveAAPla()" style="background-color: #01B6E6; color:white;">
            <i class="fa fa-save"></i> {{l('Save & Continue')}}
        </button>
    </div>

    <div>
        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="width-percent-30">Project Name</th>
                        <th class="width-percent-20">
                            Project Manager
                        </th>
                        <th class="width-percent-15">
                            Project Start
                        </th>
                        <th class="width-percent-15">
                            Project End
                        </th>
                        <th class="width-percent-20">
                            Project Status
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr  style="border-bottom:1px solid gray">
                        <td class="width-percent-30" >{{projectName}}</td>
                        <td class="width-percent-20" >
                    <tr *ngFor="let v of ProjectInfo"><ul> {{v}} </ul></tr> </td>
                <td class="width-percent-15">{{projectstart}}</td>
                <td class="width-percent-15">{{projectEnd}}</td>
                <td class="width-percent-20">{{projectstatus}}</td>
                </tr>


                </tbody>
            </table>

        </div>
        <br />

        <div class="row">
            <a class="col-md-3" style="cursor:pointer" *ngFor="let years of costestimationyeardto" href="javascript:;" (click)="clickyear(years.costEstimationYear)">
                {{years.costEstimationYear}}
            </a>
        </div>
        <br />
        <div>
            <h4>
                {{Year}}
            </h4>
            <h6>
                Budget Component Wise
            </h6>
        </div>
        <div class="row">
            <!--<p-chart *ngFor="let line of LineBarChart.barChartData" (click)="projectWiseInfo($event,line)" type="bar" [data]="line"></p-chart>-->
            <div id="chartdiv"></div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <!--<p-chart *ngFor="let pie of LineBarChart.pieChartData" (click)="selectData($event)" type="pie" [data]="pie"></p-chart>-->
                <div id="chartdivs"></div>
            </div>
            <div class="col-md-5">
                <div *ngIf="notification!=null">
                    <h6>Notification</h6>
                    <p-dataTable #dataTable
                                 [value]="notification">
                        <!--<p-column field="clustorName" header="Cluser Name" [sortable]="false"></p-column>-->

                        <p-column field="message" header="Message" [sortable]="false"></p-column>
                        <p-column field="name" header="Name" [sortable]="false"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
        <br />
        <div *ngIf="yearWiseclustorInfo!=null">
            <p-dataTable #dataTable
                         [value]="yearWiseclustorInfo">
                <!--<p-column field="clustorName" header="Cluser Name" [sortable]="false"></p-column>-->
                <p-column field="project" header="Cluser Name" [sortable]="false" [style]="{'width':'150px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        {{record.clustorName}}
                    </ng-template>
                </p-column>
                <!--<p-column field="villageName" header="Village Name" [sortable]="false"></p-column>-->
                <p-column field="assignName" header="Assign Name" [sortable]="false"></p-column>

                <p-column field="subactivityName" header="SubActivity Name" [sortable]="false"></p-column>
                <p-column field="tergetUnit" header="Target Unit" [sortable]="false"></p-column>

                <p-column field="achievedUnit" header="Achieved Unit" [sortable]="false"></p-column>


            </p-dataTable>
        </div>
        <br />
    </div>
</form>
