﻿<ol class="breadcrumb"  style="background-color:white;padding-bottom:0px">
    <!--<li><a routerLink="" class="breadcrumb">Studio</a></li>-->
   <!-- <li *ngFor="let breadcrumb of breadcrumbs">-->
    <li>
        <!--<a [routerLink]="[breadcrumb.url, breadcrumb.params]" style="font-size:18px;color:black;">{{ breadcrumb.label }}</a>
        <i class="fa fa-angle-right fa-mid" style="font-size: 20px;"></i>-->
        <a style="font-size:18px;color:black;">Programe : {{ programeName }}</a>
    </li>
    
</ol>

