﻿
<style>
    #chartdiv2 {
        width: 100%;
        height: 500px;
    }
</style>
<div bsModal #simpleBarChartModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="simpleBarChartModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center">
                    <h4 class="modal-title" style="width:95%">
                        Yearwise achievements funder ,community & govt contribution
                    </h4>
                    <br />
                    
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto; height: 40em; overflow-y: scroll;">
                    <h6 style="width:95%">
                        Project:   {{this.projetName}}
                    </h6>
                    <div class="col-md-12">
                        <!--<p-chart *ngFor="let line of data.programManagerProgramYearwiseStateWiseBudgetBarChart" (click)="AssignReportModals.show(data)" type="bar" [data]="line"></p-chart>-->
                        <!--<p-chart *ngFor="let line of data.programManagerProgramYearwiseStateWiseBudgetBarChart" (click)="AssignReportModals.show(line)" type="bar" [data]="line"></p-chart>-->
                        <div id="chartdiv2"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<AssignReportModals #AssignReportModals></AssignReportModals>