﻿<div bsModal #feedbackModal="bs-modal" aria-labelledby="feedbackModal" id="kt_feedback_modal" class="modal fade modal-sticky-bottom-right" role="dialog" aria-hidden="true" tabindex="-1" [config]="{backdrop: 'static'}">
    <div class="modal-dialog ">
        <div class="modal-content modal-size">

            <div class="modal-header" style="background-color:#01B6E6;">
                <h4 class="modal-title font-weight-bold font-size-20 text-color">
                    Feedback
                </h4>

                <div class="kt-chat__right">
                    
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div *ngIf="pageConvert">
                    <div class="col-sm-1 col-md-12 col-lg-12">
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand cursor-pointer" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cursor-pointer" (click)="onKey(1)" aria-checked="true" [class.active]="tabIndex==1" data-toggle="tab" role="tab" aria-selected="false">
                                    NEW FEEDBACK
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link cursor-pointer" (click)="onKey(2)" aria-checked="true" [class.active]="tabIndex==2" data-toggle="tab" role="tab" aria-selected="false">
                                    HISTORY
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane  side-border" id="kt_widget2_tab1_content" [class.active]="tabIndex==1">
                            <form>
                                <div>
                                    <div style="height:400px; overflow-x:auto">
                                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                            <input type="text" class="form-control " placeholder="Title" name="title" [(ngModel)]="addFeedBack.title" />

                                        </div>
                                        <div class="form-group col-sm-12 col-md-12 col-lg-12 margin-top-15">
                                            <select id="feedbackType"
                                                    name="feedbackType"
                                                    [(ngModel)]="addFeedBack.feedbackType" class="form-control  icon-menu">
                                                <option value="undefined" hidden selected>Type</option>
                                                <option value="bug">Bug</option>
                                                <option value="feature">New Feature</option>
                                                <option value="issue">Issue</option>
                                                <!--<option [value]="">Enhancement</option>-->
                                            </select>
                                        </div>

                                        <div class="form-group col-sm-12 col-lg-12 col-md-12">
                                            <label>Description</label>
                                            <p-editor name="Description" [(ngModel)]="addFeedBack.description" [style]="{'height':'150px'}"></p-editor>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="kt-align-center">
                                            <button class="btn btn-info kt-padding-10 kt-padding-t-5 kt-padding-r-10 kt-padding-b-5" (click)="submit()">Submit</button>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="tab-pane  side-border" id="kt_widget2_tab2_content" [class.active]="tabIndex==2">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <input type="text" class="form-control" (keyup)="getAllFeedbackListFromDevops()" placeholder="Search" name="filter" [(ngModel)]="filter" />
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">

                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-hover-danger btn-icon kt-margin-r-5 btn-sm kt-padding-10" id="dropdownMenu1" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                <i class=" fa fa-filter">

                                                </i>
                                            </button>
                                            <!--<i class=" fa fa-filter" type="button"
                                               id="dropdownMenu1" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="true">

                                                <span class="caret"></span>
                                            </i>-->
                                            <ul class="dropdown-menu kt-padding-10 checkbox-menu allow-focus cursor-pointer" style="left:0px" aria-labelledby="dropdownMenu1">

                                                <li *ngFor="let u of PriorityStatus">
                                                    <label class="kt-checkbox">

                                                        <input type="checkbox" name="{{u.id}}" value=" {{u.id}}" (change)="onChange(u,$event)">
                                                        {{u.itemName}}
                                                        <span></span>
                                                    </label>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <button type="button" class="btn btn-outline-hover-danger btn-icon kt-margin-r-5 btn-sm kt-padding-10" (click)="sortData()">

                                            <i class="fa fa-exchange" aria-hidden="true"></i>


                                        </button>

                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <div class="col-sm-12 col-md-12 col-lg-12 list-overflow">
                                        <div class="kt-padding-l-10 kt-padding-r-10">
                                            <div *ngFor="let displayFeedBack of displayFeedBack">
                                                <div class="cursor-pointer" (click)="GetData(displayFeedBack.id)">
                                                    <label>ID</label>:<label>{{displayFeedBack.id}}</label>
                                                    <div>
                                                        <label class="font-size-17 kt-font-bold">{{displayFeedBack.title}}</label>
                                                        <!--<p>Ui allignment is not proper.imagezive in one line, functionality is not working properly</p>-->
                                                    </div>

                                                    <div class="float-left">
                                                        <img src="assets/common/images/Bug1.svg" *ngIf="displayFeedBack.type=='Bug'" />
                                                        <img src="assets/common/images/NewFeature.svg" *ngIf="displayFeedBack.type=='Feature'" />
                                                        <img src="assets/common/images/Issue.svg" *ngIf="displayFeedBack.type=='Issue'" />
                                                        {{displayFeedBack.type}}
                                                    </div>
                                                    <div class="float-right">

                                                        <h6 class="color-yellow" *ngIf="displayFeedBack.status=='Active'">{{displayFeedBack.status}}</h6>
                                                        <h6 class="color-blue" *ngIf="displayFeedBack.status=='New'">{{displayFeedBack.status}}</h6>
                                                        <h6 class="color-orage" *ngIf="displayFeedBack.status=='Closed'">{{displayFeedBack.status}}</h6>
                                                        <h6 class="color-green" *ngIf="displayFeedBack.status=='Resolved'">{{displayFeedBack.status}}</h6>
                                                    </div>
                                                    <hr class="top-margin" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div *ngIf="!pageConvert">
                    <form>
                        <div class="kt-padding-l-10 kt-padding-r-10 row">
                            <div (click)="pageConvert =!pageConvert">
                                <img src="assets/common/images/left-arrow.svg" class="cursor-pointer" style="width:17px;" />

                            </div>
                            &nbsp;&nbsp;
                            <label>ID</label>:<label>{{detailData.id}}</label>
                        </div>
                        <hr />
                        <div class="kt-padding-l-10 kt-padding-r-10 row">
                            <div>

                                <div>
                                    <label class="font-size-17 kt-font-bold">{{detailData.title}}</label>
                                    <div class="form-group col-sm-12 col-lg-12 col-md-12" *ngIf="detailData.type=='Bug'">
                                        <label>Description</label>
                                        <p-editor name="Description" [(ngModel)]="detailData.reproDescription" [style]="{'height':'90px'}" readOnly></p-editor>
                                    </div>
                                    <div class="form-group col-sm-12 col-lg-12 col-md-12" *ngIf="detailData.type !='Bug'">
                                        <label>Description</label>
                                        <p-editor name="Description" [(ngModel)]="detailData.description" [style]="{'height':'90px'}" readOnly></p-editor>
                                        
                                    </div>
                                    <!--<div *ngIf="detailData.type=='Bug'">{{detailData.reproDescription}}</div>-->
                                    <!--<div *ngIf="detailData.type !='Bug'">{{detailData.description}}</div>-->
                                    <!--<p>Ui allignment is not proper.imagezive in one line, functionality is not working properly</p>-->
                                </div>

                                <div class="float-left">
                                    <h6>
                                        <img src="assets/common/images/Bug1.svg" *ngIf="detailData.type=='Bug'" />
                                        <img src="assets/common/images/NewFeature.svg" *ngIf="detailData.type=='Feature'" />
                                        <img src="assets/common/images/Issue.svg" *ngIf="detailData.type=='Issue'" />
                                        {{detailData.type}}
                                    </h6>
                                </div>
                                <div class="float-right">

                                    <h6 class="color-yellow" *ngIf="detailData.status=='Active'">{{detailData.status}}</h6>
                                    <h6 class="color-blue" *ngIf="detailData.status=='New'">{{detailData.status}}</h6>
                                    <h6 class="color-orage" *ngIf="detailData.status=='Closed'">{{detailData.status}}</h6>
                                    <h6 class="color-green" *ngIf="detailData.status=='Resolved'">{{detailData.status}}</h6>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>