﻿.color-orange {
    background-color: #f4ab55 !important;
    color: white !important;
}

.text-border {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border: none !important;
    border-bottom: solid #b9b3b3 1px !important;
    padding: 3px 10px;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.modal-size {
    max-width: 450px;
    height: 620px;
}

.modal.modal-sticky-bottom-right {
    padding: 0 !important;
    max-width: 400px;
    height: auto;
    position: fixed;
    left: auto;
    top: auto;
    bottom: 0px;
    right: 0px;
    margin: 0;
    -webkit-box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.color-yellow {
    background-color: #FFB900;
}

.color-blue {
    background-color: #5D78FF;
    color: white;
}

.color-orage {
    background-color: #FD397A;
    color: white;
}

.color-green {
    background-color: #0ABB87;
    color: white;
}

.top-margin {
    margin-top: 25px;
}


.list-overflow {
    height: 390px;
    overflow: auto;
}


option.avatar {
    background-repeat: no-repeat !important;
    padding-left: 20px;
}

.avatar .ui-icon {
    background-position: left top;
}

select.icon-menu option {
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-left: 30px;
}

/*select#feedbackType option[value="bug"] {
    background-image: url(assets/common/images/Bug1.svg);
}

select#feedbackType option[value="feature"] {
    background-image: url(assets/common/images/NewFeature.svg);
}

select#feedbackType option[value="issue"] {
    background-image: url(assets/common/images/Issue.svg);
}*/
