﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }
    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }
</style>
<div class="row" style="background-color:white;height:50px;">

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">



        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('List of the Funding organisations')}}</h4>


        </div>




        <br />


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <select class="form-control"
                            name="Year"
                            required
                            [(ngModel)]="Year"
                            (change)="getAllProgrambyid(Year)">
                        <option [ngValue]="undefined" disabled selected>{{l('Select Year')}}</option>
                        <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
                    </select>
                </div>

                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <!--<div class="primeng-datatable">-->
                    <p-dataTable #dataTable
                                 [value]="Records"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 responsive="primengDatatableHelper.isResponsive">



                        <p-column field="donorName" header="{{l('Donor Name')}}" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.donorName}}
                            </ng-template>
                        </p-column>


                        <p-column field="allTotalDonortotalcost" header="{{l('Total Cost (Grant) ')}}" [editable]="true" [style]="{'width':'250px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.allTotalDonortotalcost | number:'1.2-2'}}
                            </ng-template>
                        </p-column>




                       
                       


                    </p-dataTable>

                    <!--</div>-->
                </div>
            </div>
        </div>


        <br />

        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>

    </div>
</div>
