﻿<div bsModal #IIFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content" style=" width: 140%;">
            <form *ngIf="active" #ImpactIndicatorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Form")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text"
                                   name="formName"
                                   placeholder="Form Name"
                                   class="form-control"
                                   [(ngModel)]="AddEditIIForm.formName"
                                   required
                                   maxlength="255">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                            <select class="form-control" name="impactIndicatorCategoryId" (change)="bindSubCategory()" [(ngModel)]="addEditQuestionary.impactIndicatorCategoryId">
                                <option value=0 selected>{{l('Select Category')}}</option>
                                <option style="width:50px" class="text"
                                        *ngFor="let a of CategoryList"
                                        value="{{a.id}}">
                                    {{a.category}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                            <select class="form-control" name="impactIndicatorSubCategoryId" (change)="bindSubCategory()" [(ngModel)]="addEditQuestionary.impactIndicatorSubCategoryId">
                                <option value=0>{{l('Select SubCategory')}}</option>
                                <option style="width:50px"
                                        class="text"
                                        *ngFor="let a of SubCategoryList"
                                        value="{{a.id}}">
                                    {{a.subCategory}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group form-md-line-input no-hint">
                            <ng2-dual-list-box #queList [data]="items" valueField="id" textField="name" [(ngModel)]="selected"
                                               (onAvailableItemSelected)="log($event)"
                                               (onSelectedItemsSelected)="log($event)"
                                               (onItemsMoved)="log($event)" name="ng2dualbox" ></ng2-dual-list-box>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group form-md-line-input no-hint">
                                <select class="form-control" name="formStatus" [(ngModel)]="AddEditIIForm.formStatus" required>
                                    <option value="undefined" selected>{{l('Select Status')}}</option>
                                    <option style="width:50px" class="text"
                                            *ngFor="let a of Status"
                                            value="{{a.id}}">
                                        {{a.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!ImpactIndicatorForm.form.valid" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>