﻿<style>

    table thead tr th span {
        font-weight: normal !important;
    }

    .btn.btn-default i, .btn.btn-secondary i {
        color: white !important;
    }
    #chartdiv {
        width: 100%;
        height: 500px;
    }
    #chartdivs {
        width: 100%;
        height: 450px;
        margin-left: 40px;
    }
</style>
<div [@routerTransition]>

    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">
                <div class="col-sm-3 hrLine" align="center" (click)="funActivityMaping()">
                    <a href="javascript:;" class="hrefLink">{{l('ACTIVITY MAPPING')}}</a><br />
                    <span class="badge" style="white-space: normal;">{{l('Mapping Component activity with Action Area')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funRegionSpending()">
                    <a href="javascript:;" class="hrefLink">{{l('REGION & SPENDDING')}}</a><br />
                    <span class="badge" style="white-space: normal;">{{l('Map Component activity with action area')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funRequestAAPla()">
                    <a href="javascript:;" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                    <span class="badge" style="white-space: normal;">{{l('Request Project Manager for annual action plan')}}</span>
                </div>
                <div class="col-sm-3" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                    <span id="id1" class="badge" style="white-space: normal;">{{l('Compare & approve aapla PSP')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
            <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                <button class="w3-button w3-black w3-display-right w3-animate-right" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
            </span>
        </div>
    </div>
    <div id="accordion">
        <div class="mainAccordion" *ngFor="let r of requestList;let i=index;">
            <div class="panel-heading" id="headingOne">
                <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                            {{r.locationName}}&nbsp;&nbsp;{{r.managerName}}
                        </a>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
            <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:0px;padding-left:0px;padding-right:0px;">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:30px" id="yearTag" *ngFor="let c of r.costEstimationYear;let co=index;">
                                    <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true">{{c.costEstimationYear}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of r.costEstimationYear;let coe=index;">
                                <div class="col-sm-3" style="margin-top: -10px;margin-left: -101px;">
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestNotSend' || c.requestStatus =='ChangeRequest'" style="background-color:red">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='RequestSend' || c.requestStatus =='planRecieved'" style="background-color:orange">{{c.requestStatus}}</button>
                                    <button id="btnPlanRecived" *ngIf="c.requestStatus =='Approved'" style="background-color:green">{{c.requestStatus}}</button>
                                </div>
                                <div class="portlet-body">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}" class='primeNGDataTable'
                                                 [value]="c.actionSubactionCost" [responsive]="true" rowGroupMode="rowspan"
                                                 sortField="prgActionAreaActivityMappingID" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'90px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Unit Of measure')}}" rowspan="2" [style]="{'width':'40px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Unit')}}" [style]="{'width':'35px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'35px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 1')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 2')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 3')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Quarter 4')}}" colspan="2" [style]="{'width':'60px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Option')}}" rowspan="2" [style]="{'width':'80px','background-color':'gainsboro'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('(Rs)')}}"></p-column>
                                            </p-row>
                                        </p-headerColumnGroup>
                                        <p-column field="actionAreaName" [style]="{'width':'100px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.activityName}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="unitOfMeasuresName" [style]="{'width':'50px', 'text-align':'right'}"></p-column>
                                        <p-column field="totalUnits" [style]="{'width':'50px', 'text-align':'right'}"></p-column>
                                        <p-column field="unitCost" [style]="{'width':'50px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.unitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="totalUnitCost" [style]="{'width':'50px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.totalUnitCost | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="communityContribution" [style]="{'width':'80px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.communityContribution | number:'1.2-2'}}</span>
                                            </ng-template>

                                        </p-column>
                                        <p-column field="funderContribution" [style]="{'width':'80px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.funderContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="otherContribution" [style]="{'width':'50px', 'text-align':'right'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <span class="text">{{record.otherContribution | number:'1.2-2'}}</span>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter1FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter1FinancialRs" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter2PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter2FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter2FinancialRs" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter3PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter3FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter3FinancialRs" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter4PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4PhysicalUnits" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%; text-align:right" disabled *ngIf="this.isGranted('Pages.RequestAAPlaSend') &&  (record.activityLevel != 'VillageLevel' || record.actionAreaName =='')" />
                                                <input name="quarter4FinancialRs{{i}}{{coe}}{{ri}}" [(ngModel)]="record.quarter4FinancialRs" style="width:100%; text-align:right" *ngIf="!this.isGranted('Pages.RequestAAPlaSend')" />
                                            </ng-template>
                                        </p-column>

                                        <p-column field="">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div class="btn-group dropdown" normalizePosition>

                                                    <div class="row">
                                                        <div class="col-md-8" *ngIf="record.actionAreaName == ''" style="color:black;text-align:right;">
                                                            <span>{{record.villageName}}</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                        </div>
                                                    </div>
                                                    <div *ngIf="record.actionAreaName != ''" style="color:black;text-align:right;">
                                                        <span>{{record.activityLevel}}</span>
                                                    </div>

                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-footerColumnGroup>
                                            <p-row>
                                                <p-column footer="Sub Total:"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer="{{c.subTotalTotalunits | number:'1.2-2'}}">
                                                </p-column>
                                                <p-column footer="{{c.subTotalUnitCost | number:'1.2-2'}}"></p-column>
                                                <p-column footer="{{c.subTotalofTotalCost | number:'1.2-2'}}"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                            </p-row>
                                        </p-footerColumnGroup>
                                    </p-dataTable>

                                    <div class="col-lg-12 col-xs-12 col-sm-12" style="background-color:#ebedf2;padding-bottom:10px;margin-top:10px;">
                                        <label for="lblDueDate">{{l('Due Date')}}</label>
                                        <img src="../../../assets/common/images/img/Calender_Icon.svg" style="height:15px" />
                                        {{today | date}}
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <div class="divChatting">
                                                <textarea name="emailtmp" [(ngModel)]="value" id="emailtmp" rows="4" cols="50" style="width:100%">
                                                            Hello 
                                                 </textarea>
                                            </div>

                                            <button [disabled]="c.requestStatus == 'Approved' || c.requestStatus == 'ChangeRequest'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestList[i],c,'')">
                                                {{l('Approve')}}
                                            </button>
                                            <button [disabled]="c.requestStatus == 'Approved'" type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;margin-top:5px" (click)="save(requestList[i],c,'ChangeRequest')">
                                                {{l('Change Request')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="funRequestAAPla()">
            {{l('Back')}}
        </button>
        <button type="submit" class="btn btn-default" (click)="funImplementationPlan()" style="background-color: #01B6E6; color:white;">
            <i class="fa fa-save"></i>{{l('Save & Continue')}}
        </button>
    </div>









    <div>
        <!-- <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZjhkZmUxOGItYWIxOC00MTgwLWI1OGItNGMwY2MzNDc0Mzc4IiwidCI6ImVmMDI4YmQyLWE3MWQtNGZiMC1hNTI0LTM3NjMyN2RlNGYxYyJ9" frameborder="0" allowFullScreen="true"></iframe>-->


        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>
                            Project Manager
                        </th>
                        <th>
                            Project Start
                        </th>
                        <th>
                            Project End
                        </th>
                        <th>
                            Project Status
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr style="border-bottom:1px solid gray">
                        <td style="width: 39%;">{{projectName}}</td>
                        <td>
                    <tr *ngFor="let v of ProjectInfo"><ul> {{v}} </ul></tr> </td>
                <td>{{projectstart}}</td>
                <td>{{projectEnd}}</td>
                <td>{{projectstatus}}</td>
                </tr>
                

                </tbody>
            </table>

        </div>
        <br />

        <!--<div class="row">

        <p-dataTable #dataTable
                     [value]="LineBarChart.projectWiseDashboardDatas[0].projectWiseInfoPieCharts">
            <p-column field="activityName" header="Activity Name" [sortable]="false"></p-column>
            <p-column field="assignName" header="Assign Name" [sortable]="false"></p-column>
        </p-dataTable>

    </div>-->

        <div class="row">
            <!--<div class="col-md-3" style="cursor:pointer" *ngFor="let years of costestimationyeardto" (click)="clickyear(years.costEstimationYear)">
                {{years.costEstimationYear}}
            </div>-->
            <a class="col-md-3" style="cursor:pointer" *ngFor="let years of costestimationyeardto"  href="javascript:;" (click)="clickyear(years.costEstimationYear)">
                {{years.costEstimationYear}}
            </a>

        </div>


        <br/>
        <div>
            <h4>
                {{Year}}
            </h4>
            <h6>
                Budget Component Wise
            </h6>
        </div>
        <div class="row">
            <!--<p-chart *ngFor="let line of LineBarChart.barChartData" (click)="projectWiseInfo($event,line)" type="bar" [data]="line"></p-chart>-->
            <div id="chartdiv"></div>

        </div>
        <div class="row">
            <div class="col-md-7">
                <!--<p-chart *ngFor="let pie of LineBarChart.pieChartData" (click)="selectData($event)" type="pie" [data]="pie"></p-chart>-->
                <div id="chartdivs"></div>
            </div>
            <div class="col-md-5">
                <div *ngIf="notification!=null">
                    <h6>Notification</h6>
                    <p-dataTable #dataTable
                                 [value]="notification">
                        <!--<p-column field="clustorName" header="Cluser Name" [sortable]="false"></p-column>-->
                        
                        <p-column field="message" header="Message" [sortable]="false"></p-column>

                        <p-column field="name" header="Name" [sortable]="false"></p-column>
                       


                    </p-dataTable>
                </div>
            </div>
        </div>

        <div *ngIf="yearWiseclustorInfo!=null">
            <p-dataTable #dataTable
                         [value]="yearWiseclustorInfo">
                <!--<p-column field="clustorName" header="Cluser Name" [sortable]="false"></p-column>-->
                <p-column field="project" header="Cluser Name" [sortable]="false" [style]="{'width':'150px'}">
                    <ng-template let-record="rowData" pTemplate="body">
                        {{record.clustorName}} 
                    </ng-template>
                </p-column>
                <!--<p-column field="villageName" header="Village Name" [sortable]="false"></p-column>-->
                <p-column field="assignName" header="Assign Name" [sortable]="false"></p-column>

                <p-column field="subactivityName" header="SubActivity Name" [sortable]="false"></p-column>
                <p-column field="tergetUnit" header="Target Unit" [sortable]="false"></p-column>

                <p-column field="achievedUnit" header="Achieved Unit" [sortable]="false"></p-column>


            </p-dataTable>
        </div>

    </div>





    <!--<div class="modal-header" style="background-color: #01B6E6; color:white;">
        <h6 class="modal-title" style="color:white;">{{l("Program Summary")}}</h6>
    </div>-->
    <!--<div class="modal-body">
        <div class="row align-items-center">
            <div class="primeng-datatable-container"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             [value]="prgSummary"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true"
                             ScrollWidth="100%"
                             responsive="primengDatatableHelper.isResponsive"
                             resizableColumns="primengDatatableHelper.resizableColumns">
                    <p-column field="costEstimationYear" header="{{l('CostEstimationYear')}}" id="userName" [sortable]="false" [style]="{'width':'100px','font-family': 'Arial'}"></p-column>
                    <p-column field="activityName" header="{{l(' Activity')}}" id="userName" [sortable]="false" [style]="{'width':'250px','font-family': 'Arial'}"></p-column>
                    <p-column field="subActivtyName" header="{{l('SubActivity')}}" [sortable]="false" [style]="{'width':'150px'}"></p-column>
                    <p-column field="units" header="{{l('Unit')}}" [sortable]="false" [style]="{'width':'80px'}"></p-column>
                    <p-column field="rs" header="{{l('Rs')}}" [sortable]="false" [style]="{'width':'100px'}"></p-column>
                    <p-column field="creationTime" header="{{l('StartDate')}}" [sortable]="false" [style]="{'width':'120px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.subActivityStartDate |date:'mediumDate'}}
                        </ng-template>
                    </p-column>
                    <p-column field="creationTime" header="{{l('EndDate')}}" [sortable]="false" [style]="{'width':'120px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.subActivityEndDate |date:'mediumDate'}}
                        </ng-template>
                    </p-column>
                    <p-column field="quarter" header="{{l('Quarter')}}" [sortable]="false" [style]="{'width':'70px'}"></p-column>
                    <p-column field="userName" header="{{l('User')}}" [sortable]="false" [style]="{'width':'100px'}"></p-column>
                    <p-column field="status" header="{{l('Status')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <span class="label label-success" *ngIf="record.status ==1">{{l('Not Started')}}</span>
                            <span class="label label-default" *ngIf="record.status==2">{{l('InProgress')}}</span>
                            <span class="label label-success" *ngIf="record.status ==3">{{l('Not Started')}}</span>
                            <span class="label label-default" *ngIf="record.status==4">{{l('InProgress')}}</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>-->
    <!--<div class="modal-header" style="background-color: #01B6E6; color:white;">
        <h6 class="modal-title" style="color:white;">{{l("Program Expense Summary")}}</h6>
    </div>-->
    <!--<div class="modal-body">
        <div class="row align-items-center">
            <div class="primeng-datatable-container"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             [value]="prgExpenseSummary"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true"
                             ScrollWidth="100%"
                             responsive="primengDatatableHelper.isResponsive"
                             resizableColumns="primengDatatableHelper.resizableColumns">
                    <p-column field="costEstimationYear" header="{{l('CostEstimationYear')}}" id="userName" [sortable]="false" [style]="{'width':'100px','font-family': 'Arial'}"></p-column>
                    <p-column field="activityName" header="{{l('Activity')}}" id="userName" [sortable]="false" [style]="{'width':'250px','font-family': 'Arial'}"></p-column>
                    <p-column field="subActivtyName" header="{{l('SubActivity')}}" [sortable]="false" [style]="{'width':'150px'}"></p-column>
                    <p-column field="expenseTitle" header="{{l('Expense Title')}}" [sortable]="false" [style]="{'width':'150px'}"></p-column>
                    <p-column field="expenseYear" header="{{l('Expense Year')}}" [sortable]="false" [style]="{'width':'150px'}"></p-column>
                    <p-column field="expenseUnits" header="{{l('Unit')}}" [sortable]="false" [style]="{'width':'80px'}"></p-column>
                    <p-column field="rs" header="{{l('Rs')}}" [sortable]="false" [style]="{'width':'100px'}"></p-column>
                    <p-column field="quarter" header="{{l('Quarter')}}" [sortable]="false" [style]="{'width':'80px'}"></p-column>
                    <p-column field="expenseStatus" header="{{l('Status')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <span class="label label-success" *ngIf="record.expenseStatus ==1">{{l('Pending')}}</span>
                            <span class="label label-success" *ngIf="record.expenseStatus ==2">{{l('Approved')}}</span>
                            <span class="label label-default" *ngIf="record.expenseStatus==3">{{l('Reject')}}</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>-->

    <ActivitesAddModal #ActivitesAddModal></ActivitesAddModal>
    <attachCheckListModal #attachCheckListModal></attachCheckListModal>
    <ActivitesAddModals #ActivitesAddModals></ActivitesAddModals>

</div>