﻿ <div bsModal #createOrEditModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal1" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="text-align:center">
                    <h4 class="modal-title" style="width:95%">
                        Year Wise Activity
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width:auto; height: 40em; overflow-y: scroll;">
                    <p-dataTable #dataTable
                                 [value]="yearWiseActivityInfo.projectWiseInfoPieCharts">
                        <p-column field="activityName" header="Activity Name" [sortable]="false"></p-column>
                        <p-column field="assignName" header="Assign Name" [sortable]="false"></p-column>
                    </p-dataTable>
                </div>
            </form>
        </div>
    </div>

</div>