﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }



    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 95%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #e6e6e6;
            color: #212529;
        }
</style>
<div class="row" style="background-color:white;height:50px;">


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="portlet-body">
        <div>
            <h2> {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Regionwise Overall Annual Action Plan')}}</h4>
        </div>
        <br/>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">


            <div class="form-group form-md-line-input">
                <select class="form-control"
                        [(ngModel)]="VillageCluster.rrcid"
                        name="RRCName"
                        required
                       >
                    <option value="undefined" disabled selected>{{l('Select RRC')}}</option>
                    <option value="{{r.id}}" *ngFor="let r of RRcList">{{r.name}}</option>
                </select>
            </div>
            <div class="form-group form-md-line-input">
                <select class="form-control"
                        name="Year"
                        required
                        (change)="getAllProgrambyid(VillageCluster.rrcid,$event.target.value)">
                    <option [ngValue]="undefined" disabled selected>Select Year</option>
                    <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
                </select>
            </div>

        </div>
        <!--<div *ngFor="let details of program; let in=index"></div>
        <div *ngFor="let details1 of programd; let in=index"></div>-->

        <div id="a">
           



            

            <br />






            <br />




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="portlet-body">
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <!--<div class="primeng-datatable">-->
                        <!--/*(onLazyLoad)="getAllProgramdetail()"*/-->
                        <p-dataTable #dataTable
                                     [value]="program"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     responsive="primengDatatableHelper.isResponsive">
                            <p-column field="programName" header="Program Name" [editable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.programName}}
                                </ng-template>
                            </p-column>

                            <p-column field="actionAreaName" header="Action Area" [editable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.actionAreaName}}
                                </ng-template>
                            </p-column>
                            <p-column field="subactionAreaName" header="sub Action Area" [editable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.subactionAreaName}}
                                </ng-template>
                            </p-column>
                            <p-column field="activityName" header="Activity" [editable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <!--<input #itsmIncident type="text" pInputText [value]="" />-->
                                    {{record.activityName}}
                                </ng-template>
                            </p-column>
                            <p-column field="projectCostGrant" header="Project Cost(Grant)" [editable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.projectCostGrant | number:'1.2-2'}}
                                </ng-template>
                            </p-column>


                            <p-column field="projectCostCBO" header="Project Cost(CBO)" [editable]="true" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.projectCostCBO | number:'1.2-2'}}
                                </ng-template>
                            </p-column>

                            <p-column field="localContribution" header="Local Contribution" [editable]="true" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.localContribution | number:'1.2-2'}}
                                </ng-template>
                            </p-column>
                            <p-column field="govtContribution" header="Govt Contribution" [editable]="true" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.govtContribution | number:'1.2-2'}}
                                </ng-template>
                            </p-column>

                            <p-column field="grandTotal" header="Total" [editable]="true" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.grandTotal | number:'1.2-2'}}
                                </ng-template>
                            </p-column>



                        </p-dataTable>

                        <!--</div>-->
                    </div>
                </div>
            </div>






            <br />

            <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>


        </div>
    </div>
</div>