﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row" style="background-color:white;height:50px;">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 35px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;" (click)="QuestionaryModal.show()">{{l(' Add Question')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="FilterEmployeeText" name="Filter" placeholder="SEARCH" type="text" [(ngModel)]="searchText" (ngModelChange)="getallQuestionary()" >
       
            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
    <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="portlet-body">
        <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
            <div class="primeng-datatable-container"
                 [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             (onLazyLoad)="getallQuestionary()"
                             [value]="QuestionaryList"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true"
                             ScrollWidth="100%"
                             style=""
                             responsive="primengDatatableHelper.isResponsive"
                             resizableColumns="primengDatatableHelper.resizableColumns">

                    <p-column field="question"
                              header="{{l('Question')}}"
                              [sortable]="false"
                              [style]="{'width':'200px','white-space':'normal'}"
                              [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.question}}
                        </ng-template>
                    </p-column>
                    <p-column field="description" header="{{l('Description')}}" [sortable]="false" [style]="{'width':'250px','white-space':'normal'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.description}}
                        </ng-template>
                    </p-column>
                    <p-column field="impactIndicatorCategoryName" header="{{l('Category')}}" [sortable]="false" [style]="{'width':'150px','white-space':'normal'}">
                        <ng-template let-record="rowData" pTemplate="body" >
                            {{record.impactIndicatorCategoryName}}
                        </ng-template>
                    </p-column>
                    <p-column field="impactIndicatorSubCategoryName" header="{{l('SubCategory')}}" [sortable]="false" [style]="{'width':'150px','white-space':'normal'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.impactIndicatorSubCategoryName}}
                        </ng-template>
                    </p-column>
                    <p-column field="questionStatus" header="{{l('Question Status')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.questionStatus}}
                        </ng-template>
                    </p-column>
                    <p-column field="questionType" header="{{l('Question Type')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.questionType}}
                        </ng-template>
                    </p-column>
                    <p-column field="frequencyOfOccurance" header="{{l('frequency Of Occurance')}}" [sortable]="false" [style]="{'width':'150px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            {{record.frequencyOfOccurrence}}
                        </ng-template>
                    </p-column>
                    <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'100px'}">
                        <ng-template let-record="rowData" pTemplate="body">
                            <div>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                    <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="editQuestionary(record)"></i>
                                </a>
                                <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                    <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteQuestionary(record)"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div class="primeng-paging-container">
                    <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="changePage($event)"
                                 [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <QuestionaryModal #QuestionaryModal (modalSave)="getallQuestionary()"></QuestionaryModal>
</div>