﻿<div bsModal #QuestionaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="QuestionaryModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form *ngIf="active" #QuestionaryModal="ngForm" novalidate (ngSubmit)="save()" >
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white" id="lblTitle">{{l("Impact Indicator Questionnaire")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" id="HeaderClass">
                        <div class="offset-md-1 col-md-10 offset-md-1">
                            <div style="padding-bottom:15px">
                                <span id="lblContact">{{l('Impact Indicator Questionnaire Details')}}</span>
                            </div>
                            <div class="tab-content">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <select class="form-control" name="impactIndicatorCategoryId" (change)="bindSubCategory()" [(ngModel)]="addEditQuestionary.impactIndicatorCategoryId" required>
                                                <option value="undefined" selected>{{l('Select Category')}}</option>
                                                <option style="width:50px" class="text"
                                                        *ngFor="let a of CategoryList"
                                                        value="{{a.id}}">
                                                    {{a.category}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <select class="form-control" name="impactIndicatorSubCategoryId" [(ngModel)]="addEditQuestionary.impactIndicatorSubCategoryId" required>
                                                <option value="undefined" selected>{{l('Select SubCategory')}}</option>
                                                <option style="width:50px"
                                                        class="text"
                                                        *ngFor="let a of SubCategoryList"
                                                        value="{{a.id}}">
                                                    {{a.subCategory}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group form-md-line-input no-hint">
                                            <input type="text" class="form-control edited" id="question" placeholder="Question" name="name1" [(ngModel)]="addEditQuestionary.question" required />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group form-md-line-input no-hint">
                                            <textarea rows="3"
                                                      id="description"
                                                      name="description"
                                                      placeholder="Description"
                                                      class="form-control"
                                                      cols="80"
                                                      [(ngModel)]="addEditQuestionary.description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <select class="form-control" name="questionStatus" [(ngModel)]="addEditQuestionary.questionStatus" required>
                                                <option value="Active" selected>{{l('Active')}}</option>
                                                <option value="InActive">{{l('InActive')}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 form-group form-md-line-input no-hint">
                                            <select class="form-control" name="questionType" [(ngModel)]="addEditQuestionary.questionType" required>
                                                <option value="Custom" selected>{{l('Custom')}}</option>
                                                <option value="Number">{{l('Number')}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group form-md-line-input no-hint">
                                            <select class="form-control" name="frequencyOfOccurance" [(ngModel)]="addEditQuestionary.frequencyOfOccurrenceId" required>
                                                <option value="undefined" selected>{{l('Select Frequency Of Occurance')}}</option>
                                                <option style="width:50px" class="text"
                                                        *ngFor="let a of FreqOfOccurrenceList"
                                                        value="{{a.id}}">
                                                    {{a.freqOfOccurrence}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit"
                            [disabled]="!QuestionaryModal.valid "
                             class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
