﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }
</style>
<div [@routerTransition]>
    <div class="row" style="background-color:white;height:50px;">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 15px">
            <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;width:160px" (click)="ComponentsModal()">{{l('Add Components')}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="right" style="padding:10px 30px 10px 10px">
            <input id="FilterEmployeeText" name="Filter" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getAllComponentssearch()">
            <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
            <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
        </div>
    </div>
    <div class="panel-group">
        <form #Modal="ngForm" novalidate (ngSubmit)="save()" *ngIf="componentActivityMap != undefined" class="form-horizontal">
            <div id="accordion">
                <div class="panel panel-default" *ngFor="let c of componentActivityList; let i=index">
                    <div class="panel-heading" style="padding-right:50px">
                        <h5 class="panel-title">
                            <a class="btn btn-link" style="font-size: 13px !important;" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="onClickComponent(c)">
                                {{c.componentName}} {{c.componentCode}}
                            </a>
                            <!--<button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;width:160px" (click)="ActivityModel(c)">{{l('Add Activity')}}</button>-->

                        </h5>
                        <div class="panel-title" style="float:right;margin-top:-35px">
                            <a href="javascript:" title="Add Activity" style="border:none;text-decoration: none;color:gray;margin-right:20px">
                                <i class="fa fa-plus fa-2x" style="font-size:18px;" (click)="ActivityModel(c)"></i>
                            </a>
                            <a href="javascript:" title="Delete Component" style="border:none;text-decoration: none;color:gray;">
                                <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteComponent(c)"></i>
                            </a>
                        </div>
                    </div>
                    <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
                                <div class="portlet-body">

                                    <!--<div style="padding-bottom: 10px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                    <div class="input-icon right">
                                                        <angular2-multiselect [data]="itemList"
                                                                              [ngModelOptions]="{standalone: true}"
                                                                              [(ngModel)]="selectedItems"
                                                                              [settings]="settings"
                                                                              (onSelect)="onItemSelect($event)"
                                                                              (onDeSelect)="OnItemDeSelect($event)"
                                                                              (onSelectAll)="onSelectAll($event)"
                                                                              (onDeSelectAll)="onDeSelectAll($event)">
                                                        </angular2-multiselect>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit"
                                                        style="background-color:#01B6E6;color:white;border:none;width: 48px; height: 30px;">
                                                    {{l('Add')}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="primeng-datatable-container"
                                         [busyIf]="primengDatatableHelper.isLoading" style="margin-bottom:20px;">
                                        <p-dataTable #dataTable
                                                     [value]="c.activity"
                                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                     [paginator]="false"
                                                     emptyMessage="{{l('NoData')}}"
                                                     scrollable="true"
                                                     ScrollWidth="100%"
                                                     [immutable]="false"
                                                     responsive="primengDatatableHelper.isResponsive">

                                            <p-column field=""
                                                      header="{{l('Activity Name')}}"
                                                      [sortable]="false"
                                                      [style]="{'width':'200px'}"
                                                      [hidden]="!isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete')">

                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.activityName}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="EmpDetail" header="{{l('Description')}}" [sortable]="false" [style]="{'width':'250px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.activityDescri}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="project" header="{{l('Created By')}}" [sortable]="false" [style]="{'width':'150px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.fullName}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="FromDate" header="{{l('Created On')}}" [sortable]="false" [style]="{'width':'150px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    {{record.creationTime | date:'mediumDate'}}
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                    <div align="center">
                                                        <!--<a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                                            <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="edit()"></i>
                                                        </a>-->
                                                        <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                                            <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteComponentActivity(record)"></i>
                                                        </a>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                        <div class="primeng-paging-container">
                                            <!--<p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                         #paginator
                                                         (onPageChange)="changePage($event,c.activity)"
                                                         [totalRecords]="c.activityCount"
                                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>-->
                                            <br />
                                            <br />
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', c.activityCount)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ComponentsAddModal #ComponentsAddModal (modalSave)="getAllComponents()"></ComponentsAddModal>
</div>