﻿.panel-heading {
    background-color: lightskyblue;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom:10px;
}
.form-control {
    border-color: dimgray;
    color: black;
}
.btn{
    color:black;
    margin-top:-5px;
    font-size:15px;
}