﻿<div bsModal #ComponentsAddModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ComponentsAddModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01B6E6; color:white;">
                <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add New Component")}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <form #Modal="ngForm" novalidate (ngSubmit)="save()" *ngIf="component != null" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control"  type="text" name="actionAreaCode" [(ngModel)]="component.code" readonly>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="actionArea" placeholder="Component Name" class="form-control" [(ngModel)]="component.componentName" required>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="ddlshow" class="form-group form-md-line-input has-success form-md-floating-label">
                                                    <div class="input-icon right">
                                                        <angular2-multiselect [data]="itemList"
                                                                              [ngModelOptions]="{standalone: true}"
                                                                              [(ngModel)]="selectedItems"
                                                                              [settings]="settings"
                                                                              (onSelect)="onItemSelect($event)"
                                                                              (onDeSelect)="OnItemDeSelect($event)"
                                                                              (onSelectAll)="onSelectAll($event)"
                                                                              (onDeSelectAll)="onDeSelectAll($event)">
                                                        </angular2-multiselect>

                                                    </div>
                                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                            {{l('Cancel')}}
                        </button>
                        <button type="submit" class="btn btn-default no-drop" [disabled]="!Modal.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" style="background-color: #01B6E6; color:white;width:90px">
                            <i class="fa fa-save"></i>{{l('Save')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
