﻿<div bsModal #ModalVillage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("Add Village")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select size="1"
                                        class="form-control"
                                        name="State"
                                        [(ngModel)]="village.stateID"
                                        required
                                        (change)="onChangeState($event)">
                                    <option value="undefined" selected>{{l('State')}}</option>
                                    <option value="{{state.id}}" *ngFor="let state of stateList | sortMy:'stateName'">
                                        {{state.stateName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblDistrict"
                                        size="1"
                                        class="form-control"
                                        name="District"
                                        [(ngModel)]="village.districtId"
                                        
                                        (change)="onChangeDistrict($event)">
                                    <option value="undefined" selected>{{l('District')}}</option>
                                    <option value="{{district.id}}" *ngFor="let district of districtList | sortMy:'districtName'">
                                        {{district.districtName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select id="lblTaluka"
                                        size="1"
                                        class="form-control"
                                        name="Taluka"
                                        
                                        [(ngModel)]="village.talukaId"
                                       >
                                    <option value="undefined" selected>{{l('Taluka')}}</option>
                                    <option value="{{taluka.id}}" *ngFor="let taluka of talukaList | sortMy:'talukaName'">
                                        {{taluka.talukaName}}
                                    </option>
                                </select>
                            </div>


                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text"
                                       name="name"
                                       placeholder="Village Name"
                                       class="form-control"
                                       [(ngModel)]="village.name"
                                       required
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" [disabled]="!projectForm.form.valid" [buttonBusy]="saving" class="actions-btn bs-deselect-all btn blue btn-block btn-outline no-drop"
                            style="background-color: #01B6E6; color:white;width:90px;" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>{{l('Save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
