﻿<style>
    table thead tr th span {
        font-weight: normal !important;
    }

    .yourTableClass {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .primeng-datatable-container .ui-datatable table tbody tr.ui-widget-content {
        border: double;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -1px;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 95%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #e6e6e6;
            color: #212529;
        }
    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
<div class="row" style="background-color:white;height:50px;">
    <!--<div class="col-lg-6 col-md-6 col-sm-4 col-xs-3" align="left" style="padding:10px 10px 10px 30px">
        <button type="button" class="btn btn-primary" style="background-color:#01B6E6;color:white;border:none;">{{l('Add New Action Area')}}</button>
    </div>-->
    
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet-body">
        <div>
            <h2>  {{l('Watershed Organisation Trust (WOTR)')}}</h2>
            <h4> {{l('Expenditure')}}</h4>
            <br />
        </div>
        <br />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    [(ngModel)]="programd.id"
                    name="ProgramName"
                    required
                    (change)="getcostestimationyear(programd.id)">
                <option value="undefined" disabled selected>{{l('Select Program')}}</option>
                <option value="{{a.id}}" *ngFor="let a of programdetails | sortMy:'name'">{{a.programName}}</option>
            </select>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control"
                    name="Year"
                    required
                    (change)="getAllProgrambyid(programd.id,$event.target.value)">
                <option value="undefined"  selected>{{l('Select Year')}}</option>
                <option value="{{a}}" *ngFor="let a of Year | sortMy:'name'">{{a}}</option>
            </select>
        </div>
        <!--<div *ngFor="let details of program; let in=index"></div>
    <div *ngFor="let details1 of programd; let in=index"></div>-->




        <table id="table1" class="table" style="display:inline-table;border:solid; border-width:0.5px; border-color:gainsboro">
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Program Title :
                </td>
                <td class="col-md-3 col-lg-3">
                    {{programName}}
                </td>
                <!--<td class="col-md-3 col-lg-3"></td>
            <td class="col-md-3 col-lg-3"></td>-->
            </tr>
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Clustor Name :
                </td>
                <td *ngFor="let r of clustorname" class="col-md-3 col-lg-3"> {{r}}</td>

            </tr>
            <tr class="row" style="width:100%">
                <td class="col-md-3 col-lg-3">
                    Manager Name :
                </td>
                <td *ngFor="let rx of Locationnames" class="col-md-3 col-lg-3"> {{rx}}</td>

            </tr>
        </table>

        <br />


        <div id="accordion">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:0px;margin-top:-15px">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:30px" id="yearTag">
                                    {{costyear}}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <br />
            </div>

            <br>

            <div>
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Quarter 1</a></li>
                        <li style="margin-left:auto"><a data-toggle="tab" href="#menu1">Quarter 2</a></li>
                        <li style="margin-left:auto"><a data-toggle="tab" href="#menu2">Quarter 3</a></li>
                        <li style="margin-left:auto"><a data-toggle="tab" href="#menu3">Quarter 4</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h6> Quarter 1</h6>
                            <table id="customers">
                                <thead>
                                    <tr role="row">
                                        <th> Activity</th>
                                        <th>Sub Activity</th>
                                        <th>Expense Name</th>
                                        <th>Expense date</th>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q of subactivitylist1;let coe=index;">
                                    <tr>
                                        <td>
                                            {{q.ActivityName}}
                                        </td>
                                        <td>
                                            {{q.SubactivityName}}
                                        </td>
                                        <td>
                                            {{q.ExpenseTitle}}
                                        </td>
                                        <td>
                                            {{q.expenseDate}}
                                        </td>
                                        <td>
                                            {{q.expensesTypeName}}
                                        </td>
                                        <td>
                                            {{q.amount | number:'1.2-2'}}
                                        </td>
                                        <td>
                                            {{q.remark}}
                                        </td>
                                        <td>
                                            {{q.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h6>Quarter 2</h6>
                            <table id="customers">
                                <thead>
                                    <tr role="row">
                                        <th> Activity</th>
                                        <th>Sub Activity</th>
                                        <th>Expense Name</th>
                                        <th>Expense date</th>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q of subactivitylist2;let coe=index;">
                                    <tr>
                                        <td>
                                            {{q.ActivityName}}
                                        </td>
                                        <td>
                                            {{q.SubactivityName}}
                                        </td>
                                        <td>
                                            {{q.ExpenseTitle}}
                                        </td>
                                        <td>
                                            {{q.expenseDate}}
                                        </td>
                                        <td>
                                            {{q.expensesTypeName}}
                                        </td>
                                        <td>
                                            {{q.amount}}
                                        </td>
                                        <td>
                                            {{q.remark}}
                                        </td>
                                        <td>
                                            {{q.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h6>Quarter 3</h6>
                            <table id="customers">
                                <thead>
                                    <tr role="row">
                                        <th> Activity</th>
                                        <th>Sub Activity</th>
                                        <th>Expense Name</th>
                                        <th>Expense date</th>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q of subactivitylist3;let coe=index;">
                                    <tr>
                                        <td>
                                            {{q.ActivityName}}
                                        </td>
                                        <td>
                                            {{q.SubactivityName}}
                                        </td>
                                        <td>
                                            {{q.ExpenseTitle}}
                                        </td>
                                        <td>
                                            {{q.expenseDate}}
                                        </td>
                                        <td>
                                            {{q.expensesTypeName}}
                                        </td>
                                        <td>
                                            {{q.amount}}
                                        </td>
                                        <td>
                                            {{q.remark}}
                                        </td>
                                        <td>
                                            {{q.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h6>Quarter 4</h6>
                            <table id="customers">
                                <thead>
                                    <tr role="row">
                                        <th> Activity</th>
                                        <th>Sub Activity</th>
                                        <th>Expense Name</th>
                                        <th>Expense date</th>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let q of subactivitylist4;let coe=index;">
                                    <tr>
                                        <td>
                                            {{q.ActivityName}}
                                        </td>
                                        <td>
                                            {{q.SubactivityName}}
                                        </td>
                                        <td>
                                            {{q.ExpenseTitle}}
                                        </td>
                                        <td>
                                            {{q.expenseDate}}
                                        </td>
                                        <td>
                                            {{q.expensesTypeName}}
                                        </td>
                                        <td>
                                            {{q.amount}}
                                        </td>
                                        <td>
                                            {{q.remark}}
                                        </td>
                                        <td>
                                            {{q.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<div>


                <div class="row">
                    <h6>Quarter 1  :</h6>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th> Activity</th>
                                <th>Sub Activity</th>
                                <th>Expense Name</th>
                                <th>Expense date</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let q of subactivitylist1;let coe=index;">
                            <tr>
                                <td>
                                    {{q.ActivityName}}
                                </td>
                                <td>
                                    {{q.SubactivityName}}
                                </td>
                                <td>
                                    {{q.ExpenseTitle}}
                                </td>
                                <td>
                                    {{q.expenseDate}}
                                </td>
                                <td>
                                    {{q.expensesTypeName}}
                                </td>
                                <td>
                                    {{q.amount}}
                                </td>
                                <td>
                                    {{q.remark}}
                                </td>
                                <td>
                                    {{q.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h6>Quarter 2 :</h6>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th> Activity</th>
                                <th>Sub Activity</th>
                                <th>Expense Name</th>
                                <th>Expense date</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let q of subactivitylist2;let coe=index;">
                            <tr>
                                <td>
                                    {{q.ActivityName}}
                                </td>
                                <td>
                                    {{q.SubactivityName}}
                                </td>
                                <td>
                                    {{q.ExpenseTitle}}
                                </td>
                                <td>
                                    {{q.expenseDate}}
                                </td>
                                <td>
                                    {{q.expensesTypeName}}
                                </td>
                                <td>
                                    {{q.amount}}
                                </td>
                                <td>
                                    {{q.remark}}
                                </td>
                                <td>
                                    {{q.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <h6>Quarter 3 :</h6>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th> Activity</th>
                                <th>Sub Activity</th>
                                <th>Expense Name</th>
                                <th>Expense date</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let q of subactivitylist3;let coe=index;">
                            <tr>
                                <td>
                                    {{q.ActivityName}}
                                </td>
                                <td>
                                    {{q.SubactivityName}}
                                </td>
                                <td>
                                    {{q.ExpenseTitle}}
                                </td>
                                <td>
                                    {{q.expenseDate}}
                                </td>
                                <td>
                                    {{q.expensesTypeName}}
                                </td>
                                <td>
                                    {{q.amount}}
                                </td>
                                <td>
                                    {{q.remark}}
                                </td>
                                <td>
                                    {{q.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row">
                    <h6>Quarter 4 :</h6>

                    <table id="customers">
                        <thead>
                            <tr role="row">
                                <th> Activity</th>
                                <th>Sub Activity</th>
                                <th>Expense Name</th>
                                <th>Expense date</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Remark</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let q of subactivitylist4;let coe=index;">
                            <tr>
                                <td>
                                    {{q.ActivityName}}
                                </td>
                                <td>
                                    {{q.SubactivityName}}
                                </td>
                                <td>
                                    {{q.ExpenseTitle}}
                                </td>
                                <td>
                                    {{q.expenseDate}}
                                </td>
                                <td>
                                    {{q.expensesTypeName}}
                                </td>
                                <td>
                                    {{q.amount}}
                                </td>
                                <td>
                                    {{q.remark}}
                                </td>
                                <td>
                                    {{q.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>-->



            </div>

        </div>


        <br /><br />
        <button (click)="exportToExcel(programd.id)" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
        <br />

    </div>

