﻿<style>
    .modal-lg {
        max-width: 90%;
    }

    .txtBoald {
        font-weight: 500;
    }
</style>
<div bsModal #ProjectFundModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ProjectFundModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form id="myForm" #projectForm="ngForm" novalidate>
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;" id="lblTitle">{{l("View Demand")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body" *ngIf="programFund != undefined" style="margin-top:-20px; margin-bottom:-20px">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-4">
                                    <span>{{l('Program Name & Funding Agency')}}</span><br />
                                    <span class="txtBoald">{{programFund.programName}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>{{l('Program Start Date')}}</span><br />
                                    <span class="txtBoald">{{programFund.programeStartDate |date:'mediumDate'}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>{{l('Program End Date')}}</span><br />
                                    <span class="txtBoald">{{programFund.programeEndDate |date:'mediumDate'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>{{l('RRC/Program Units')}}</span><br />
                                    <span class="txtBoald">{{programFund.locationName}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>{{l('Current Reporting Period')}}</span><br />
                                    <!--<span class="txtBoald">{{l(programFund?.costEstimationYear[0]?.costEstimationYear )}}</span>-->
                                <span class="txtBoald">{{l(year)}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>{{l("Demand Planned for period")}} <b>Start Date</b></label><br />
                                <input style="width:50%" type="text"  name="startDateFilters" class="form-control" id="startDateFilters"   [(ngModel)]="startDate" />
                            </div>
                            <br />
                            <div>
                                <label>{{l("Demand Planned for period")}} <b>End Date</b></label><br />
                                <input type="text" style="width:50%" name="endDateFilters" class="form-control" id="endDateFilters"  [(ngModel)]="endDate"/>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-left: -24px;margin-right: -26px;" />
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="txtBoald">{{l('Opening Balance')}}</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="txtBoald">{{l('Advance Released')}}</span>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-sm-12" *ngFor="let ppf of demandamount">
                                <span class="txtBoald">{{programFund.fundReleaseDate |date:'mediumDate'}} &nbsp;&nbsp;&nbsp;{{ppf.demandAmount}}</span>
                                <br />
                            </div>

                        </div>
                        <div class="col-sm-9">
                            <div class="col-sm-4" *ngFor="let pf of relasefund" style="float:left !important;">
                                <span class="txtBoald">{{pf.fundReleaseDate |date:'mediumDate'}} &nbsp;&nbsp;&nbsp;  {{pf.releasedAmount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <p-dataTable #contractsDT [style]="{'font-size':'12px'}"
                                     class='primeNGDataTable' [value]="finalResult" [responsive]="true"
                                     rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                            <p-headerColumnGroup>
                                <p-row>
                                    <p-column header="{{l('Activity')}}" rowspan="1" [style]="{'width':'100px'}"></p-column>
                                    <p-column header="{{l('Sanction for')}} {{(year)}}" colspan="1" [style]="{'width':'160px'}"></p-column>
                                    <p-column header="{{l('Progress upto the Last Reporting Period')}}" colspan="2" [style]="{'width':'160px'}"></p-column>
                                    <p-column header="{{l('Progress During the Current Reporting Period')}}" colspan="2" [style]="{'width':'160px'}"></p-column>
                                    <p-column header="{{l('Cumulative Progress Upto')}} {{(year)}}" colspan="2" [style]="{'width':'160px'}"></p-column>
                                    <p-column header="{{l('Demand Plan For Period')}} {{(year )}}" colspan="2" [style]="{'width':'180px'}"></p-column>
                                </p-row>
                                <p-row>
                                    <p-column header=""></p-column>
                                    <p-column header="{{l('(Units)')}}"></p-column>
                                    <p-column header="{{l('(Units)')}}"></p-column>
                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                    <p-column header="{{l('(Units)')}}"></p-column>
                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                    <p-column header="{{l('(Units)')}}"></p-column>
                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                    <p-column header="{{l('(Units)')}}"></p-column>
                                    <p-column header="{{l('(Rs)')}}"></p-column>
                                </p-row>
                            </p-headerColumnGroup>
                            <p-column field="actionAreaName" [style]="{'width':'130px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <span class="text">{{record.activityName}}</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="totalUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>

                            <p-column field="quarter1PhysicalUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="quarter1FinancialRs" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="quarter2PhysicalUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="quarter2FinancialRs" [style]="{'width':'50px','text-align':'right'}"></p-column>


                            <p-column field="quarter3PhysicalUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="quarter3FinancialRs" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="demandUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>
                            <p-column field="demandAmmount" [style]="{'width':'50px','text-align':'right'}"></p-column>

                            <p-footerColumnGroup>
                                <p-row>
                                    <p-column footer="Sub Total:"></p-column>
                                    <p-column footer="{{subTotalTotalunits}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalQuarter1PhysicalUnits}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalQuarter1FinancialRs}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalQuarter2PhysicalUnits}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalQuarter2FinancialRs}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalTotalunits}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalUnitCost}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalDemandUnits}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                    <p-column footer="{{subTotalDemandAmmount}}" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                </p-row>
                            </p-footerColumnGroup>
                        </p-dataTable>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
