﻿<div [@routerTransition]>
    <div class="row row1">
        <div class="col-md-1" align="left" style="padding-left:0px;">
            <span class="col-sm-1" style="width:3%;padding: 0px;"><button class="w3-button w3-black w3-display-left" name="prev" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;">&#10094;</button></span>
        </div>
        <div class="col-md-10" id="headercomponent">
            <div class="row">
                <div class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()" *ngIf="userRole.roleName != 'ProgramManagerFinanceOrAdmin'">
                    <a href="javascript:;" class="hrefLink">{{l('REQUEST AAPla')}}</a><br />
                    <span class="badge">{{l('Request Project Manager for annual action paln')}}</span>
                </div>
                <div [hidden]="userRole.roleName == 'ProgramManagerFinanceOrAdmin'" class="col-sm-3 hrLine" align="center" (click)="funApproveAAPla()" *ngIf="isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('APPROVE AAPla')}}</a><br />
                    <span class="badge">{{l('Compare & approve aapla PSP')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center" (click)="funImplementationPlan()" *ngIf="userRole.roleName != 'ProgramManagerFinanceOrAdmin'">
                    <a href="javascript:;" class="hrefLink">{{l('IMPLEMENTATION PLAN')}}</a><br />
                    <span class="badge">{{l('Project Manager Create Project Plan')}}</span>
                </div>
                <div class="col-sm-3 hrLine" align="center">
                    <a href="javascript:;" id="id1" class="hrefLink">{{l('PROJECT FUNDS')}}</a><br />
                    <span id="id1" class="badge">{{l('Overview Of Program Cost')}}</span>
                </div>
                <div class="col-sm-3" align="center" *ngIf="!isGranted('Pages.RequestAAPlaSend')">
                    <a href="javascript:;" class="hrefLink">{{l('PROJECT EXPENSES')}}</a><br />
                    <span class="badge">{{l('Request & allocate funds')}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="right" style="padding-right:0px">
            <span class="col-sm-1" style="width:3%;padding-left: 0px;padding: 0px;">
                <button class="w3-button w3-black w3-display-right w3-animate-right" (click)="funImplementationPlan()" name="next" style="min-width:0em;height:50px;height: 73px;border:none;background-color:#01B6E6;color:white;margin-left: 8px; margin-left: -15px;">&#10095;</button>
            </span>
        </div>
    </div>
    <div id="accordion" *ngFor="let imp of ProjectFundList;let i=index;" style="margin-top:10px">
        <div class="panel-heading" id="headingOne">
            <div class="row">
                <div class="col-sm-2" *ngIf="!this.isGranted('Pages.FundRelease')">
                    <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                        {{imp.locationName}}
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" style="margin-left: 54px;">
                        {{imp.programName}}
                    </a>
                </div>
                <div class="col-sm-8" *ngIf="this.isGranted('Pages.FundRelease')"></div>
                <div class="col-sm-3" style="float:left" *ngIf="!this.isGranted('Pages.FundRelease')">
                    <div class="multiselect-native-select">
                        <div class="btn-group" style="width: 100%;height:35px">
                            <button type="button" class="multiselect dropdown-toggle mt-multiselect btn btn-default"
                                    data-toggle="dropdown" title=" Select Members" aria-expanded="true" style="width:100%;background-color: white; overflow: hidden; text-overflow: ellipsis;">
                                <span class="multiselect-selected-text">{{imp.programManagerName}} </span>
                                <b class="caret"></b>
                            </button>
                            <ul class="multiselect-container dropdown-menu" style="width:100%">

                                <li class="parent" *ngFor="let m of imp.managers">
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-sm-2">
                                            <input type="checkbox" name="Active1" value="{{m.managerId}},{{m.name}}" id="checkBox" style="width:30px;height: 22px; margin-top: 10px;" (change)="AddManagerId(imp,$event)" />
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="../../../assets/common/images/default-profile-picture.png" style="width:40px" />
                                                </div>
                                                <div class="col-sm-9" style="margin-top:10px;">
                                                    {{m.name}}
                                                </div>s
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--<span class="fa fa-angle-right" style="float:right;margin-right:20px;margin-top:10px;"></span>-->
            </div>
        </div>
        <div id="collapseOne{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" *ngIf="!this.isGranted('Pages.FundRelease')">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:0px;margin-top:-15px">
                        <div class="tabbable-line" style="background-color:white">
                            <ul class="nav nav-tabs">
                                <li class="active" style="margin-left:30px" id="yearTag" *ngFor="let c of imp.costEstimationYear;let co=index;">
                                    <a href="#tab_{{i}}_{{co}}" data-toggle="tab" aria-expanded="true"  >{{c.costEstimationYear}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12">
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_{{i}}_{{coe}}" *ngFor="let c of imp.costEstimationYear;let coe=index;">
                                <div class="portlet-body">
                                    <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                 [rowStyleClass]="rowClass"
                                                 class='primeNGDataTable' [value]="c.actionSubactionCost" [responsive]="true"
                                                 rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                        <p-headerColumnGroup>
                                            <p-row>
                                                <p-column header="{{l('Activity')}}" rowspan="2" [style]="{'width':'120px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Uom')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Unit')}}" [style]="{'width':'30px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                <p-column header="{{l('Unit Cost')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Total Cost')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Community Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Funder Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Other Contribution (RS)')}}" rowspan="2" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('AchiveMents')}}" colspan="2" [style]="{'width':'70px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Balance')}}" colspan="2" [style]="{'width':'70px','background-color':'gainsboro'}"></p-column>
                                                <p-column header="{{l('Demand')}}" colspan="2" [style]="{'width':'70px'}"></p-column>
                                            </p-row>
                                            <p-row>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('Expenditure')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('Amount')}}"></p-column>
                                                <p-column header="{{l('(Units)')}}"></p-column>
                                                <p-column header="{{l('Demand')}}"></p-column>

                                            </p-row>
                                        </p-headerColumnGroup>
                                        <p-column field="actionAreaName" [style]="{'width':'130px'}">
                                            <ng-template let-record="rowData" pTemplate="body">
                                                <div class="col-sm-9">
                                                    <div class="row">

                                                        <span class="text">{{record.activityName}}</span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="unitOfMeasuresName" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="totalUnits" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="unitCost" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="totalUnitCost" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="communityContribution" [style]="{'width':'80px','text-align':'right'}"></p-column>
                                        <p-column field="funderContribution" [style]="{'width':'80px','text-align':'right'}"></p-column>
                                        <p-column field="otherContribution" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                        <p-column field="achivementUnits" [style]="{'width':'50px','text-align':'right'}">
                                        </p-column>
                                        <p-column field="expenditure" [style]="{'width':'50px','text-align':'right'}">
                                        </p-column>
                                        <p-column field="balanceUnits" [style]="{'width':'50px','text-align':'right'}">
                                        </p-column>
                                        <p-column field="balanceAmmount" [style]="{'width':'50px','text-align':'right'}">
                                        </p-column>
                                        <p-column field="Quarter 3" [style]="{'width':'50px','text-align':'right'}">
                                            <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.demandUnits" style="width:100%;text-align:right" (keyup)="CalUnitCost(record)" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="">
                                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                                <input name="quarter1PhysicalUnits{{i}}{{coe}}{{ri}}" [(ngModel)]="record.demandAmmount" style="width:100%;text-align:right" />
                                            </ng-template>
                                        </p-column>
                                        <p-footerColumnGroup>
                                            <p-row>
                                                <p-column footer="Sub Total:"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer="{{c.subTotalTotalunits}}"></p-column>
                                                <p-column footer="{{c.subTotalUnitCost}}"></p-column>
                                                <p-column footer="{{c.subTotalofTotalCost}}"></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                                <p-column footer=""></p-column>
                                            </p-row>
                                        </p-footerColumnGroup>
                                    </p-dataTable>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-xs-8 col-sm-8" style="margin-top:10px;">

                                    </div>
                                    <div class="col-lg-2 col-xs-2 col-sm-2" style="margin-top:10px;">
                                        <button (click)="ProjectFundModal.show(imp,c.costEstimationYear)" type="submit" class="actions-btn bs-deselect-all btn blue btn-block btn-outline" style="margin-top:0px;background-color:#01B6E6;color:white;">{{l('View Demand')}}</button>
                                    </div>

                                    <div class="col-lg-2 col-xs-2 col-sm-2" style="margin-top:10px;">
                                        <button (click)="GenerateDemand(c.actionSubactionCost,imp,i,coe)" type="submit" class="actions-btn bs-deselect-all btn blue btn-block btn-outline" style="margin-top:0px;background-color:#01B6E6;color:white;">{{l('Generate Demand')}}</button>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xs-12 col-sm-12" style="margin-top:10px;">
                                    <div class="panel-heading" id="headingtwo">
                                        <a class="btn btn-link active" data-toggle="collapse" href="#collapsetwo{{i}}" aria-expanded="true" aria-controls="collapsetwo">
                                            {{imp.programName}}
                                        </a>
                                        <span class="fa fa-angle-right" style="float:right"></span>
                                    </div>
                                    <div class="row">
                                        <div id="collapsetwo{{i}}" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordion1" style="margin-top:10px;">
                                            <div class="col-lg-12 col-xs-12 col-sm-12">
                                                <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                                             [value]="imp.prgFundDetails"
                                                             [rowStyleClass]="rowClass"
                                                             class='primeNGDataTable' [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                                    <p-headerColumnGroup>
                                                        <p-row>
                                                            <p-column header="{{l('ProgramFinance Manager')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            <p-column header="{{l('Project Manager')}}" [style]="{'width':'30px','background-color':'gainsboro'}" rowspan="2"></p-column>
                                                            <p-column header="{{l('Demand Amount')}}" rowspan="4" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            <p-column header="{{l('Demand Date')}}" rowspan="2" [style]="{'width':'30px','background-color':'gainsboro'}"></p-column>
                                                            <p-column header="{{l('Status')}}" rowspan="4" [style]="{'width':'50px','background-color':'gainsboro'}"></p-column>
                                                        </p-row>
                                                    </p-headerColumnGroup>
                                                    <p-column field="programManagerName" [style]="{'width':'50px'}"></p-column>
                                                    <p-column field="projectManagerName" [style]="{'width':'50px'}"></p-column>
                                                    <p-column field="demandAmount" [style]="{'width':'50px','text-align':'right'}"></p-column>
                                                    <p-column field="demandDate" [style]="{'width':'100px'}">
                                                        <ng-template let-record="rowData" pTemplate="body">
                                                            {{record.demandDate |date:'mediumDate'}}
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column field="status1" [style]="{'width':'160px'}"></p-column>
                                                </p-dataTable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="maintable">
                <div id="collapseOne{{i}}" class="collapse show" style="margin-top:10px;" aria-labelledby="headingOne" data-parent="#accordion" *ngIf="this.isGranted('Pages.FundRelease')">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                         [value]="imp.prgFundDetails"
                                         [rowStyleClass]="rowClass"
                                         class='primeNGDataTable' [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                <p-headerColumnGroup>
                                    <p-row>

                                        <p-column header="{{l('Project Manager')}}" [style]="{'width':'35%'}" rowspan="2"></p-column>
                                        <p-column header="{{l('Status')}}" rowspan="2" [style]="{'width':'25%'}"></p-column>
                                        <p-column header="{{l('Action')}}" rowspan="2" [style]="{'width':'25%'}"></p-column>

                                    </p-row>
                                </p-headerColumnGroup>
                                <p-column field="projectManagerName" [style]="{'width':'35%'}">
                                    <ng-template let-row="rowData" pTemplate type="body">
                                        <a class="btn btn-link active" data-toggle="collapse" href="#collapseOne{{i}} " aria-expanded="true" aria-controls="collapseOne">
                                            {{row.projectManagerName}}
                                        </a>
                                    </ng-template>
                                </p-column>

                                <p-column field="status1" [style]="{'width':'30%'}"></p-column>
                                <p-column field="funderContribution" [style]="{'width':'30%'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <button *ngIf="record.status1=='Pending' && this.isGranted('Pages.FundRelease')" id="btn1" name="button" class="btn btn-default" style="background-color:forestgreen;color:white;border:none;width:120px;margin-left:20px;font-size:10pt" (click)="addProjectFundModal.show(record)">{{l('Fund Release')}}</button>
                                        <button *ngIf="record.status1=='Reject'" id="btn2" name="button" disabled class="edited" style="background-color:red;color:white;border:none;width:60px;margin-left:20px;font-size:10pt" (click)="clickReject(record.id,'Reject')">{{l('Rejected')}}</button>
                                    </ng-template>
                                </p-column>

                            </p-dataTable>
                        </div>

                    </div>
                </div>
                <div id="collapseOne{{i}}" class="collapse show" style="margin-top:10px;" aria-labelledby="headingOne" data-parent="#maintable" *ngIf="this.isGranted('Pages.FundRelease')">
                    <div class="row">
                        <div class="col-lg-5 col-xs-5 col-sm-5">
                            <p-dataTable #contractsDT [style]="{'font-size':'10px'}"
                                         [value]="imp.prgFundDetails"
                                         [rowStyleClass]="rowClass"
                                         class='primeNGDataTable' [responsive]="true" rowGroupMode="rowspan" sortField="sector" expandableRows="true">
                                <p-headerColumnGroup>
                                    <p-row>

                                        <p-column header="{{l('Released Date')}}" rowspan="2" [style]="{'width':'15px'}"></p-column>
                                        <p-column header="{{l('Released Amount')}}" rowspan="2" [style]="{'width':'13px'}"></p-column>


                                    </p-row>
                                    ea
                                </p-headerColumnGroup>


                                <p-column field="releasedDate" [style]="{'width':'50px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        {{record.releasedDate |date:'mediumDate'}}
                                    </ng-template>
                                </p-column>
                                <p-column field="releaseAmount" [style]="{'width':'15px','text-align':'right'}"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseOne{{i}}" class="collapse show" style="margin-top:10px;text-align:right" aria-labelledby="headingOne" data-parent="#accordion" *ngIf="this.isGranted('Pages.FundRelease')">
            <table style="width:100%">
                <thead>
                    <tr class="header-bgcolor">
                        <td style="width:50%">Project Manager</td>
                        <td style="width:35%">Status</td>
                        <td style="width:15%">Action</td>
                    </tr>
                </thead>
                <tbody *ngFor="let imp1 of imp.prgFundDetails;">
                    <tr>
                        <td style="width:50%">{{imp1.projectManagerName}}</td>
                        <td style="width:35%">{{imp1.status1}}</td>
                        <td style="width:15%">
                            <button *ngIf="imp1.status1=='Pending' && this.isGranted('Pages.FundRelease')" id="btn1" name="button" class="btn btn-default" style="background-color:forestgreen;color:white;border:none;width:120px;margin-left:20px;font-size:10pt" (click)="addProjectFundModal.show(imp1)">{{l('Fund Release')}}</button>
                            <button *ngIf="imp1.status1=='Reject'" id="btn2" name="button" disabled class="edited" style="background-color:red;color:white;border:none;width:60px;margin-left:20px;font-size:10pt" (click)="clickReject(record.id,'Reject')">{{l('Rejected')}}</button>
                        </td>
                    </tr>
                    <tr class="bgcolor" style="width:100%;text-align:right" *ngIf="imp1.releaseAmount!= null">
                        <td style="width:50%">Released Date</td>
                        <td colspan="2" style="width:50%">Released Amount</td>
                    </tr>
                    <tr style="width:100%; border-bottom:solid gainsboro; font-size:12px;text-align:right" *ngFor="let imp2 of imp1.releaseList;">
                        <td style="width:50%">{{imp2.releaseDate | date}}</td>
                        <td colspan="2" style="width:50%">{{imp2.releaseAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" *ngIf="userRole.roleName != 'ProgramManagerFinanceOrAdmin'" (click)="funImplementationPlan()">
            {{l('Back')}}
        </button>
        <button type="submit" class="btn btn-default" style="background-color: #01B6E6; color:white;" (click)="funNextPage()" *ngIf="userRole.roleName != 'ProgramManagerFinanceOrAdmin'">
            <i class="fa fa-save"></i>{{l('Save & Continue')}}
        </button>
    </div>
</div>
<ProjectFundModal #ProjectFundModal></ProjectFundModal>
<addProjectFundModal #addProjectFundModal (modalSave)="callthis()"></addProjectFundModal>
