﻿<style>
    .modal-lg {
        max-width: 25%;
        max-height:25%;
    }
</style>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg modalClass">
        <div class="modal-content">
            <form #projectForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title" style="color:white;">{{l("Fund Release")}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>{{l("Total Demand Fund")}}</label><br />
                        <input type="text" disabled name="demandfund" required maxlength="52" [(ngModel)]="prgFundDetails.demandAmount-prgFundDetails.releasedAmount" >
                    </div><br />
                    <div>
                        <label>{{l("Release Fund")}}</label><br />
                        <input type="number" name="releasefund" placeholder="Release Fund" required maxlength="52" [(ngModel)]="prgFundDetails.releasedAmount" (click)="check()">
                    </div><br />
                          <div>
                              <label>{{l("Fund Release Date")}}</label><br />
                              <input name="dateInput" disabled dirname="releaseDate" type="text" id="currentdate" value="{{currentdate | date:'dd/MM/yyyy'}}" />
                            
                          </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: white;  color:#01B6E6;" (click)="close()">
                        {{l('Cancel')}}
                    </button>
                    <button type="submit" class="btn btn-default no-drop" style="background-color: #01B6E6; color:white;">
                        <i class="fa fa-save"></i>{{l('Release Fund')}}
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
