<style>
    .form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
        border-color: red;
    }
    .no-drop {
        cursor: no-drop;
    }
    table thead tr th span {
        font-weight: normal !important;
    }
    .btn.btn-default i, .btn.btn-secondary i {
        color: white !important;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #unitofMeasureForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header" style="background-color: #01B6E6; color:white;">
                    <h4 class="modal-title">
                        <span *ngIf="unitofMeasure.id">{{l("EditUnitofMeasure")}}</span>
                        <span *ngIf="!unitofMeasure.id">{{l("CreateNewUnitofMeasure")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                 
                 <div class="form-group form-md-line-input">
                    <label>{{l("Name")}}</label>
                    <input type="text" name="Name" class="form-control" [(ngModel)]="unitofMeasure.name"  required>
                </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"  (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-default no-drop" style="background-color:#01B6E6 ;color:white;" [disabled]="!unitofMeasureForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"> <i class="fa fa-save"></i>{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>