<div [@routerTransition]>
    <div class="row" style="padding-top:10px">       
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button *ngIf="isGranted('Pages.UnitofMeasures.Create')" (click)="createOrEditUnitofMeasureModal.show()"
                        class="btn btn-primary" tyle="background-color:#01B6E6;color:white;border:none;" style="background-color:#01B6E6;color:white;border:none;">
                    {{l("CreateNewUnitofMeasure")}}
                </button>
            </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right" style="padding:10px 30px 10px 10px">
                <input [(ngModel)]="filterText" name="filterText" placeholder="{{l('SEARCH')}}" type="text" (keyup)="getUnitofMeasures()">
                <!--<img src="../../../../assets/common/images/Pdf_Icon.svg" style="height:26px;width:20px" />
                <img src="../../../../assets/common/images/Excel_Icon.svg" style="height:26px;width:20px" />-->
            </div>       
      <div class="body">
          <div style="padding-left:30px;padding-right:30px;">
              <div class="row align-items-center">
                  <div class="primeng-datatable-container"
                       [busyIf]="primengDatatableHelper.isLoading">
                      <p-dataTable #dataTable
                                   (onLazyLoad)="getUnitofMeasures($event)"
                                   [value]="primengDatatableHelper.records"
                                   rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                   [paginator]="false"
                                   [lazy]="true"
                                   emptyMessage="{{l('NoData')}}"
                                   scrollable="false"
                                   ScrollWidth="100%"
                                   responsive="primengDatatableHelper.isResponsive"
                                   resizableColumns="primengDatatableHelper.resizableColumns">
                         
                          <p-column field="name" header="{{ l('Name')}}" [sortable]="false"></p-column>
                          <p-column field="status" header="{{l('Action')}}" [sortable]="false" [style]="{'width':'150px'}">
                              <ng-template let-record="rowData" pTemplate="body">                                 
                                  <a href="javascript:" style="border:none;text-decoration: none;color:gray;">
                                      <i class="fa fa-pencil fa-2x" style="font-size:18px;" (click)="createOrEditUnitofMeasureModal.show(record.id)"></i>
                                  </a>
                                  <a href="javascript:" style="border:none;text-decoration: none;color:gray;margin-left:20px">
                                      <i class="fa fa-trash-o fa-2x" style="font-size:18px;" (click)="deleteUnitofMeasure(record)"></i>
                                  </a>
                              </ng-template>
                          </p-column>
                      </p-dataTable>
                      <div class="primeng-paging-container">
                          <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                       #paginator
                                       (onPageChange)="getUnitofMeasures($event)"
                                       [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                       [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                          </p-paginator>
                          <span class="total-records-count">
                              {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
           
        </div>
    </div>   

    <createOrEditUnitofMeasureModal #createOrEditUnitofMeasureModal (modalSave)="getUnitofMeasures()"></createOrEditUnitofMeasureModal>
</div>