<div [@routerTransition]>
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{l("ForgotPassword")}}
            </h3>
        </div>
        <form class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <p>
                {{l("SendPasswordResetLink_Information")}}
            </p>
            <div class="form-group m-form__group">
                <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{l('EmailAddress')}} *" name="emailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: l('InvalidEmailAddress')}]"></validation-messages>
            </div>
            <div class="m-login__form-action">
                <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
            </div>
        </form>
    </div>
</div>
<!--<div [@routerTransition]>
    <h3 class="form-title">{{l("ForgotPassword")}}</h3>
    <p style="color:#A5A7AA">
        {{l("SendPasswordResetLink_Information")}}
    </p>
    <form #forgotPassForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="save()">
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("EmailAddress")}}</label>
            <input [(ngModel)]="model.emailAddress" autoFocus class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" autocomplete="off" placeholder="{{l('EmailAddress')}}" name="emailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
        </div>
        <div class="form-actions">
            <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button type="submit" class="btn btn-success uppercase" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
        </div>
    </form>
</div>-->


