
<style>
    
    /*.m-login.m-login--1 .m-login__wrapper {
        overflow: hidden;
        padding: -15% 2rem 2rem 2rem;
    }*/
    .modal .modal-content .modal-body {
        padding: 5px;
    }
    p {
        box-shadow: 5px pink !important;
        margin-bottom: 5px !important;
    }
</style>

<div class="m-login__signin" [@routerTransition]>
    <div style="box-shadow: 5px 5px 5px 5px grey;padding-top:20px; padding-left:20px;padding-right:20px;padding-bottom:20px">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{l("Sign In")}}
            </h3>
        </div>
        <form #loginForm="ngForm" class="m-login__form m-form login-form" method="post" novalidate (ngSubmit)="login()">
            <div class="form-group m-form__group">
                <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control m-input" type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}} *" name="userNameOrEmailAddress" required />
                <validation-messages [formCtrl]="userNameOrEmailAddressInput"></validation-messages>
            </div>
            <div class="form-group m-form__group">
                <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" class="form-control m-input" type="password" autocomplete="off" placeholder="{{l('Password')}} *" name="password" required maxlength="255" />
                <validation-messages [formCtrl]="passwordInput"></validation-messages>
            </div>
            <div class="row m-login__form-sub">
                <div class="col m--align-left">
                    <label class="m-checkbox m-checkbox--focus">
                        <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{l("RememberMe")}}
                        <span></span>
                    </label>
                </div>
                <div class="col m--align-right">
                    <a routerLink="/account/forgot-password" id="forget-password" class="m-link forget-password">{{l("ForgotPassword")}}</a>
                </div>
            </div>
            <div class="m-login__form-action">
                <button type="submit" class="btn btn-success uppercase"  [disabled]="!loginForm.form.valid" style="width:270px;background-color:#01B6E6;color:white;">{{l("LogIn")}}</button>
            </div>
        </form>
    </div>
    <div style="margin-top:20px;">
        <!--<a href="https://wotrorg.blob.core.windows.net/wotrandroid/wotr_04-03.apk">*Click to download Android Wotr.APK</a>-->
        <a href="https://wotrorg.blob.core.windows.net/wotr13032020/Wotr_05_03.apk">*Click to download Android Wotr.APK</a>
        <img src="../../assets/common/images/icons8-android-os-50.png" alt="Alternate Text" />
    </div>
    <div class="login-options" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <h4>{{l("LoginWith")}}</h4>
        <ul class="social-icons">
            <li *ngFor="let provider of loginService.externalLoginProviders">
                <a class="social-login-icon social-icon-color {{provider.icon}}"
                   (click)="externalLogin(provider)"
                   title="{{provider.name}}"></a>
            </li>
        </ul>
    </div>  

    <div id="myModal" class="modal" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" style="width:20%">
            <div class="modal-content">               
                <div class="modal-body">
                    <div *ngFor="let roleName of userRole">
                        <div style="margin: 10px; padding:10px; background-color: #00315A; color: white;cursor:pointer; box-shadow: 1px 0px 5px 5px gainsboro;" (click)="loginUser(roleName.id)">
                            <a>{{roleName.displayName}}</a>
                        </div>
                    </div>                    
                </div>
               
            </div>

        </div>
    </div>

</div>
